%section.dashboard-content
  %h2.header-title
    {{ "business.title" | translate }}
    %a.header-link{ "ui-sref": "business({ id: currentUser.businessId() })",
      "ng-show": "currentUser.businessId()" }
      %span.icon.icon-eye-open
      {{ "business.see_your_page" | translate }}

  %ul.business-tabs{ hidden: true }
    %li.tab{ "ng-repeat": "tab in tabs"}
      %a{ "ui-sref": "dashboard.{{tab.href}}", "ui-sref-active": "active",
          class: "tab-link" }
        {{ tab.name | translate }}
        .icon-chevron-down

  %ui-view
