%section.business-view
  .business-header
    .business-logo-holder
      %span{'class': 'feature-{{businessPresenter.feature()}}'}
      %img{ src: "{{ businessPresenter.logo() || businessPresenter.default_logo() }}", class: "business-logo" }
    .business-short-info
      %h2.business-name
        {{ businessPresenter.name() }}
      .clearfix
        .contact-item
          %span.icon.icon-pushpin{ "ng-show": "businessPresenter.location()" }
          {{ businessPresenter.location() }}
          %span.address-line
            {{ businessPresenter.addressLine1() }}
          %span.address-line
            {{ businessPresenter.addressLine2() }}
      .phone-number
        %span{ "ng-hide": "showPhoneNumber" }
          %button.contact-supplier{ "ng-click": "showPhone()" }
            %span.icon.icon-phone-alt
            {{ "business.show.business_show_phone" | translate }}
        .contact-item{ "ng-show": "showPhoneNumber" }
          %span.icon.icon-phone-alt
          {{ businessPresenter.phone() }}
      %button.contact-supplier{ "ng-click": "MessageModal.new(businessPresenter.id())" }
        %span.icon.icon-envelope
        {{ "contact_seller" | translate }}
  / %ul.business-tabs
  /   %li.tab
  /     %a.tab-link.active
  /       {{ "business.show.information" | translate }}
  /       .icon-chevron-down
  /   %li.tab
  /     %a.tab-link
  /       {{ "business.show.products" | translate }}
  /       .icon-chevron-down
  /   %li.tab
  /     %a.tab-link
  /       {{ "business.show.services" | translate }}
  /       .icon-chevron-down
  .item-basic-info
    %table.item-details
      %tr{ "ng-show": "businessPresenter.businessTypes()" }
        %td.attribute {{ "business.show.business_types" | translate }}:
        %td {{ businessPresenter.businessTypes() }}
      %tr{ "ng-show": "businessPresenter.mainProducts()" }
        %td.attribute {{ "business.show.main_products" | translate }}:
        %td {{ businessPresenter.mainProducts() }}
      %tr{ "ng-show": "businessPresenter.yearRegistered()" }
        %td.attribute {{ "business.show.year_registered" | translate }}:
        %td {{ businessPresenter.yearRegistered() }}
      %tr{ "ng-show": "businessPresenter.noOfEmployees()" }
        %td.attribute {{ "business.show.no_of_employees" | translate }}:
        %td {{ businessPresenter.noOfEmployees() }}
  / .item-detailed-info
  /   %h4.section-title.line-behind
  /     %span
  /       %span.icon.icon-briefcase
  /       Trade Details
  /   %table.item-details
  /     %tr
  /       %td.attribute Annual sales value:
  /       %td USD 2,700,000.00
  /     %tr
  /       %td.attribute Main Markets:
  /       %td
  /         North America, Northern Europe, South America, Western Europe,
  /         Southern Europe
  /     %tr
  /       %td.attribute Customer list:
  /       %td Matel, IBM, Apple, Microsoft, Schools in London
  /     %tr
  /       %td.attribute Nearest port:
  /       %td La Manche, Sopot, Silicon Valey
  /     %tr
  /       %td.attribute Avarage lead time:
  /       %td 7 days
  /     %tr
  /       %td.attribute Offices overseas:
  /       %td Poland, Czech Republic, Denmark
  /     %tr
  /       %td.attribute Language spoken:
  /       %td english | german | polish | arabic
  /     %tr
  /       %td.attribute Accepted delivery terms:
  /       %td UPC | Plane | Ship
  /     %tr
  /       %td.attribute Accepted payment terms:
  /       %td Others | Wire Transfer | PayPal | Credit Card | L/C | T/T
  / .item-detailed-info
  /   %h4.section-title.line-behind
  /     %span
  /       %span.icon.icon-certificate
  /       Certifications
  /   .certificate
  /     .cert-img
  /       = image_tag("certificate-1.jpg")
  /     .cert-name INTEGRITY SHOPEX
  /     .cert-origin
  /       %span issued by:
  /       SHANGHAI SHAGNPAI NETWORK TECHNOLOGY CO.,LTD
  /   .certificate
  /     .cert-img
  /       = image_tag("certificate-2.jpg")
  /     .cert-name INTEGRITY SHOPEX
  /     .cert-origin
  /       %span issued by:
  /       SHANGHAI SHAGNPAI NETWORK TECHNOLOGY CO.,LTD
  .item-detailed-info{ "ng-show": "businessPresenter.introduction()" }
    %h4.section-title.line-behind.products
      %span
        %span.icon.icon-comment
        {{ "business.show.business_introduction" | translate }}
    %p.item-description
      {{ businessPresenter.introduction() }}
  / .item-detailed-info
  /   %h4.section-title.line-behind
  /     %span
  /       %span.icon.icon-picture
  /       {{ "business.show.business_gallery" | translate }}
  /   .business-gallery
  /     = image_tag("warehouse-1.jpg")
  /     = image_tag("warehouse-2.jpg")
  /     = image_tag("strange-1.jpg")
  /     = image_tag("strange-2.jpg")
  /     = image_tag("strange-1.jpg")
  %h4.section-title.line-behind.products{ "ng-show": "business_products.length"}
    %span.company-items
      %span.icon.icon-comment
      {{ "business.show.products" | translate }}
  .company-products
    %ul
      %li{ "ng-repeat": "product in business_products"}
        %a.item-img-link{ href: '{{ productshowpath }}/{{product.id}}' }
          %img{ src: "{{ product.photos[0].thumb }}" }
        .product-item-title
          %a{ href: '{{ productshowpath }}/{{product.id}}' }
            {{ product.name }}

  %h4.section-title.line-behind.products{ "ng-show": "business_services.length"}
    %span.company-items
      %span.icon.icon-comment
      {{ "business.show.services" | translate }}
  .company-products
    %ul
      %li{ "ng-repeat": "service in business_services"}
        %a.item-img-link{ href: '{{ serviceshowpath }}/{{service.id}}' }
          %img{ src: "{{ service.photos[0].thumb }}" }
        .product-item-title
          %a{ href: '{{ serviceshowpath }}/{{service.id}}' }
            {{ service.name }}
