.container-top
  .upper-header
    %h3
      {{heading}}
    %p
      .sticky
        .list-div{"ng-repeat": "c in categories"} 
          %span
            %a{"ng-click": "scroll_to(c.id)",style: "border-bottom: 0px;",href: "#"} {{c.name}}
  %br  
  .list-container
    .list-div-multiple{"ng-if": "child_categories[c.id].length > 0","ng-repeat": "c in categories"} 
      .category-list-div
        %h5{"id": "{{c.id}}" } {{c.name}}
        .category-list{"id": "list-{{c.id}}"}
          %span{"ng-repeat": "child_cat in child_categories[c.id]"}
            %a.no_text_decoration{"ng-href": "{{serviceLink(c.id)}}"} {{child_cat.name}}
            %br
          %a.font-size-12{"id": "show-less-{{c.id}}","ng-click": "show_less(c.id)","ng-if": "child_categories[c.id].length > 13"} less
        .show-more.font-size-12{"id": "show-more-{{c.id}}", "ng-click": "show_more(c.id)","ng-if": "child_categories[c.id].length > 13"}
          %a show more
        
   
    .list-div{"ng-if": "child_categories[c.id].length == 0","ng-repeat": "c in categories"} 
      %h5
        %a{"ng-href": "{{serviceLink(c.id)}}" ,"ng-attr-id": "{{c.id}}"} {{c.name}}
      .div
        %span{"ng-repeat": "child_cat in child_categories[c.id]"}
          %a.no_text_decoration{"ng-href": "{{serviceLink(c.id)}}" ,style: "font-size: 10px;"} {{child_cat.name}}
          %br