.categories-list-button
  %span.icon-list
  Categories List
.all-categories-list
  %ul.category-list
    %li.main-category
      %a.main-category-link{ href: root_path }
        %span.icon-chevron-left
        All Categories
      %ul
        %li.subcategory-name
          %a.open{ href: browse_path } Home & Garden
          %ul.sub-subcategory-list
            %li.sub-subcategory-name
              %a{ href: browse_path } Bakeware
            %li.sub-subcategory-name
              %a{ href: browse_path } Barware
            %li.sub-subcategory-name
              %a{ href: browse_path } Bathroom Products
            %li.sub-subcategory-name
              %a{ href: browse_path } Garden Supplies
            %li.sub-subcategory-name
              %a.open{ href: browse_path }
                Home Décor
              %ul.sub-sub-subcategory-list
                %li.sub-sub-subcategory-name
                  %a{ href: browse_path } Vases
                %li.sub-sub-subcategory-name
                  %a{ href: browse_path } Screens & Room Dividers
                %li.sub-sub-subcategory-name
                  %a{ href: browse_path } Plaques
                %li.sub-sub-subcategory-name
                  %a{ href: browse_path } Other Home Décor
                %li.sub-sub-subcategory-name
                  %a{ href: browse_path } Mirrors
                %li.sub-sub-subcategory-name
                  %a{ href: browse_path } Fridge Magnets
                %li.sub-sub-subcategory-name
                  %a{ href: browse_path } Curtain Poles, Tracks & Accessories
                %li.sub-sub-subcategory-name
                  %a{ href: browse_path } Crystal Soil
            %li.sub-subcategory-name
              %a{ href: browse_path } Home Storage & Organization
            %li.sub-subcategory-name
              %a{ href: browse_path } Household Chemicals
            %li.sub-subcategory-name
              %a{ href: browse_path } Household Cleaning Tools & Accessories
            %li.sub-subcategory-name
              %a{ href: browse_path } Household Sundries
            %li.sub-subcategory-name
              %a{ href: browse_path } Kitchen Knives & Accessories
            %li.sub-subcategory-name
              %a{ href: browse_path } Laundry Products
            %li.sub-subcategory-name
              %a{ href: browse_path } Pet Products
            %li.sub-subcategory-name
              %a{ href: browse_path } Tableware
            %li.sub-subcategory-name
              %a{ href: browse_path } Barware
            %li.sub-subcategory-name
              %a{ href: browse_path } Barware