%header
  .basic-container
    .language-selection
      .language-choice
        english
      .language-choice{ lang: "ar" }
        العربية
    = link_to(root_path, class: "logo") do
      = image_tag("logo.png")
    %nav{ role: "navigation" }
      %ul
        %li
          = link_to "Sign up", root_path, class: "nav-link"
        %li
          = link_to "Log in", root_path, class: "nav-link"
