%h2.header-title 
  {{ "services.your_services" | translate }}
%section.dashboard-section
  %button.small-button{ "ui-sref": "new_service" }
    %span.icon-plus
    {{ "services.add_new_service" | translate }}
