%div{ "ng-include": "'_business_item_header.html'" }
.item-short-info
  %button.contact-supplier
    %span.icon.icon-envelope
    Contact Seller

  .column
    %h4.subtitle Basic Info
    %table.item-details
      %tr{ "ng-show": "service.place_of_origin" }
        %td.attribute Place of origin:
        %td
          {{ service.place_of_origin }}
      %tr{ "ng-show": "service.average_completion_time" }
        %td.attribute Avg completion time:
        %td
          {{ service.average_completion_time }}
          {{ service.average_completion_time_unit }}
      %tr{ "ng-show": "service.fob_price" }
        %td.attribute Fob price:
        %td
          {{ service.fob_price }}
          {{ service.fob_price_currency }}
          {{ service.fob_price_unit }}
      %tr{ "ng-show": "service.supply_ability_capacity" }
        %td.attribute Supply ability:
        %td
          {{ service.supply_ability_capacity }}
          {{ service.supply_ability_unit }}
          {{ service.supply_ability_frequency }}
      %tr{ "ng-show": "businessItem.hasPaymentTerms()" }
        %td.attribute Payment Terms:
        %td
          %span.payment-term{ "ng-repeat": "paymentTerm in service.payment_terms" }
            {{ paymentTerm }}
      %tr{ "ng-show": "service.packaging_details" }
        %td.attribute Packaging details:
        %td {{ service.packaging_details }}

  .column{ "ng-show": "businessItem.hasAttributes()" }
    %h4.subtitle Attributes
    %table.item-details
      %tr{ "ng-repeat": "attribute in service.attributes" }
        %td.attribute {{ attribute['name'] }}:
        %td {{ attribute['value'] }}

.item-detailed-info
  %h4.section-title.line-behind{ "ng-show": "service.scope_of_work" }
    %span Scope of work
  %p.item-description {{ service.scope_of_work }}
  %h4.section-title.line-behind{ "ng-show": "service.description" }
    %span Description
  %p.item-description {{ service.description }}
