%section.dashboard-content
  %div{ "ng-include": "'business_items/_header.html'" }
  .item-short-info
    %button.contact-supplier
      %span.icon.icon-envelope
      {{ "business_item.contact_seller" | translate }}

    .column{ "ng-show": "businessItem.hasAnyBasicInfoPresent()" }
      %h4.subtitle
        {{ "business_item.basic_info" | translate }}
      %table.item-details
        %tr{ "ng-show": "businessItem.get('place_of_origin')" }
          %td.attribute
            {{ "service.place_of_origin" | translate }}:
          %td
            {{ businessItem.get('place_of_origin') }}
        %tr{ "ng-show": "businessItem.get('average_completion_time')" }
          %td.attribute
            {{ "service.avg_completion_time" | translate }}:
          %td
            {{ businessItem.get('average_completion_time') }}
            {{ businessItem.get('average_completion_time_unit') }}

      %table.item-details{ "ng-include": "'business_item/_common_trade_info.html'" }

    %div{ "ng-include": "'business_item/_attributes.html'" }

  .item-detailed-info
    %h4.section-title.line-behind{ "ng-show": "businessItem.get('scope_of_work')" }
      %span Scope of work
    %p.item-description {{ businessItem.get('scope_of_work') }}

    %div{ "ng-include": "'business_item/_description.html'" }
