%section.service-view
  %div{ "ng-include": "'business_items/_header.html'" }
  .item-short-info
    %button.contact-supplier
      %span.icon.icon-envelope
      {{ "contact_seller" | translate }}

    .column{ "ng-show": "businessItem.hasAnyBasicInfoPresent()" }
      %h4.subtitle
        {{ "business_item.basic_info" | translate }}
      %table.item-details
        %tr{ "ng-show": "businessItem.get('place_of_origin')" }
          %td.attribute
            {{ "service.place_of_origin" | translate }}:
          %td
            {{ businessItem.get('place_of_origin') }}
        %tr{ "ng-show": "businessItem.get('average_completion_time')" }
          %td.attribute
            {{ "service.avg_completion_time" | translate }}:
          %td
            {{ businessItem.get('average_completion_time') }}
            {{ businessItem.get('average_completion_time_unit') }}

        %tr{ "ng-show": "businessItem.get('fob_price')" }
          %td.attribute
            {{ "business_item.fob_price" | translate }}:
          %td
            {{ businessItem.get('fob_price') }}
            {{ businessItem.get('fob_price_currency') }}
            {{ businessItem.get('fob_price_unit') }}
        %tr{ "ng-show": "businessItem.get('supply_ability_capacity')" }
          %td.attribute
            {{ "business_item.attributes" | translate }}:
          %td
            {{ businessItem.get('supply_ability_capacity') }}
            {{ businessItem.get('supply_ability_unit') }}
            {{ businessItem.get('supply_ability_frequency') }}
        %tr{ "ng-show": "businessItem.hasPaymentTerms()" }
          %td.attribute
            {{ "business_item.payment_terms" | translate }}:
          %td
            %span.payment-term{ "ng-repeat": "paymentTerm in businessItem.get('payment_terms')" }
              {{ paymentTerm }}
        %tr{ "ng-show": "businessItem.get('packaging_details')" }
          %td.attribute
            {{ "business_item.packaging_details" | translate }}:
          %td {{ businessItem.get('packaging_details') }}

    %div{ "ng-include": "'business_item/_attributes.html'" }

    .column.description-column
      %h4.section-title.line-behind{ "ng-show": "businessItem.get('scope_of_work')" }
        %span {{ "services.new.scope_of_work" | translate }}
      %p.item-description {{ businessItem.get('scope_of_work') }}

      %div{ "ng-include": "'business_item/_description.html'" }
