%section.dashboard-content
  %h2.header-title {{ "products.edit.form_title" | translate }}

  %form{ "ng-submit": "submit($event)" }
    %div{ "ng-include": "'products/_form.html'" }

    .actions.with-spinner
      %input{ type: "submit", value: '{{ "products.edit.submit" | translate }}',
        "ng-disabled": "loading" }
      .spinner{ "ng-show": "loading" }

