%h2.header-title 
  {{ "products.your_products" | translate }}
%section.products-index
  .products-options
    %button.small-button{ "ui-sref": "new_product" }
      %span.icon-plus
      {{ "products.add_new_product" | translate }}

  %div{ "ng-include": "'_business_items.html'" }
