%h2.header-title 
  {{ "products.your_products" | translate }}
%section.dashboard-section
  %button.small-button{ "ui-sref": "new_product" }
    %span.icon-plus
    {{ "products.add_new_product" | translate }}