%h1.form-title {{ "products.new.form_title" | translate }}
%form{ action: "/api/products", "ng-submit": "submit($event)" }
  %h3.line-behind
    %span {{ "products.new.basic_section" | translate }}
  %form-field{ "field-name": "product.name" }
    %label {{ "products.new.name" | translate }}
    %input{ type: "text", "ng-model": "form.product.name" }
  %form-field{ "field-name": "product.category" }
    %label {{ "products.new.category" | translate }}
    %button.small-button {{ "products.new.category_button" | translate }}
  .field
    %label {{ "products.new.photos" | translate }}
    %button.small-button{ type: "button", "ngf-select": "true", "ng-model": "photos", multiple: "true" } {{ "products.new.photos_button" | translate }}
    %p.field-comment {{ "products.new.photos_comment" | translate }}

    %error-message-for{ "field-name": "errors.photos" }

  %h3.line-behind
    %span {{ "products.new.details_section" | translate }}
  %form-field{ "field-name": "product.model_number" }
    %label {{ "products.new.model" | translate }}
    %input{ type: "text", "ng-model": "form.product.model_number" }
  %form-field{ "field-name": "product.brand_name" }
    %label {{ "products.new.brand" | translate }}
    %input{ type: "text", "ng-model": "form.product.brand_name" }
  .field.compound-field
    %label {{ "products.new.characteristics" | translate }}

    %ul
      %li.field-item{ "ng-repeat": "attribute in form.attributes" }
        %span {{ "products.new.attribute" | translate }}
        %input{ type: "text",
          placeholder: '{{ "products.new.attribute_placeholder" | translate }}',
          "ng-model": "attribute.name" }
        %span {{ "products.new.value" | translate }}
        %input.with-remove-button{ type: "text",
          placeholder: '{{ "products.new.value_placeholder" | translate }}',
          "ng-model": "attribute.value" }
        %button.remove-button{ type: "button", "ng-click": "removeAttribute(attribute)" }
          %span.icon-remove

    %button.plus-button{ type: "button", "ng-click": "addAttribute()" }
      %span.icon-plus
      {{ "products.new.add_more" | translate }}
  %form-field{ "field-name": "product.description" }
    %label {{ "products.new.description" | translate }}
    %textarea{ "ng-model": "form.product.description" }

  %h3.line-behind
    %span {{ "products.new.trade_section" | translate }}
  .field.compound-field
    %label {{ "products.new.order" | translate }}
    %p.field-comment {{ "products.new.order_comment" | translate }}
    %form-field{ "field-name": "product.min_order_quantity_number", class: 'inline-field' }
      %input{ type: "text", "ng-model": "form.product.min_order_quantity_number" }
    .select-field
      %select{ "ng-options": "unit.id as unit.label for unit in units", "ng-model": "form.product.min_order_quantity_unit" }
        %option{ value: "" } -- {{ "products.new.choose_unit" | translate }} --
  .field.compound-field
    %label {{ "products.new.price" | translate }}
    %p.field-comment {{ "products.new.price_comment" | translate }}
    %form-field{ "field-name": "product.min_order_quantity_number", class: 'inline-field' }
      %input{ type: "text", "ng-model": "form.product.fob_price" }
    .select-field
      %select{ "ng-options": "currency.id as currency.label for currency in currencies", "ng-model": "form.product.fob_price_currency" }
        %option{ value: "" } -- {{ "products.new.choose_currency" | translate }} --
    %span {{ "products.new.per" | translate }}
    .select-field
      %select{ "ng-options": "unit.id as unit.label for unit in units", "ng-model": "form.product.fob_price_unit" }
        %option{ value: "" } -- {{ "products.new.choose_unit" | translate }} --
  %form-field{ "field-name": "product.port" }
    %label {{ "products.new.port" | translate }}
    %input{ type: "text", "ng-model": "form.product.port" }
  .field.compound-field
    %label {{ "products.new.supply" | translate }}
    %p.field-comment {{ "products.new.supply_comment" | translate }}
    %form-field{ "field-name": "product.supply_ability_capacity", class: 'inline-field' }
      %input{ type: "text", "ng-model": "form.product.supply_ability_capacity" }
    .select-field
      %select{ "ng-options": "unit.id as unit.label for unit in units", "ng-model": "form.product.supply_ability_unit" }
        %option{ value: "" } -- {{ "products.new.choose_unit" | translate }} --

    %span {{ "products.new.per" | translate }}

    .select-field
      %select{ "ng-options": "frequency.id as frequency.label for frequency in frequencies", "ng-model": "form.product.supply_ability_frequency" }
        %option{ value: "" } -- {{ "products.new.choose_frequency" | translate }} --

  .field
    %label {{ "products.new.payment" | translate }}
    .checkbox-field{ "ng-repeat": "term in payment_terms track by term.id" }
      %input{ type: "checkbox", val: "{{term.id}}",
      "ng-model": "form.payment_terms[term.id]" }
      %label.inline-label {{ term.label }}

  %form-field{ "field-name": "product.packaging" }
    %label {{ "products.new.packaging" | translate }}
    %input{ type: "text", "ng-model": "form.product.packaging_details" }
  .actions
    %input{ type: "submit", value: '{{ "products.new.submit" | translate }}' }
