%h1.title New Product
%form
  %h3.line-behind
    %span Basic info
  .field
    %label Product name
    %input{ type: "text"}
  .field
    %label Product category
    %button.small-button Choose Category
  .field
    %label Photos
    %button.small-button Add Photos
    %p.field-comment Max 10

  %h3.line-behind
    %span Product Details
  .field
    %label Model number
    %input{ type: "text"}
  .field
    %label Brand name
    %input{ type: "text"}
  .field.compound-field
    %label Characteristics
    %span Attribute
    %input{ type: "text", placeholder: "eg. material"}
    %span Value
    %input{ type: "text", placeholder: "eg. copper"}
    %button.plus-button.icon-plus add more
  .field
    %label Description
    %textarea

  %h3.line-behind
    %span Trade info
  .field.compound-field
    %label Min. order
    %input{ type: "text"}
    .select-field
      %select
        %option --Choose unit--
        %option Boxes
        %option kg
        %option ton
        %option bottles
    %p.field-comment eg. 10'000 bottles
  .field.compound-field
    %label FOB price
    %input{ type: "text"}
    .select-field
      %select
        %option --Choose currency--
        %option BGP
        %option USD
    %span per
    .select-field
      %select
        %option --Choose unit--
        %option ton
        %option kg
    %p.field-comment eg. 100'000 USD per kg
  .field
    %label Port
    %input{ type: "text"}
  .field.compound-field
    %label Supply abbility
    %input{ type: "text"}
    %input{ type: "text"}
    %span per
    .select-field
      %select
        %option --Choose unit--
        %option ton
        %option kg
    %p.field-comment eg. 1000 piece/pieces per Day
  .field
    %label Payment terms
    .checkbox-field
      %input{ type: "radio"}
      %label.inline-label Gold
    .checkbox-field
      %input{ type: "radio"}
      %label.inline-label Mules
    .checkbox-field
      %input{ type: "radio"}
      %label.inline-label Smiles
  .field
    %label Packaging details
    %input{ type: "text"}
  .actions
    %input{ type: "submit", value: "Add new product"}