%h1.form-title {{ "products.new.form_title" | translate }}
%form{ action: "/api/products", "ng-submit": "submit($event)" }
  %h3.line-behind
    %span {{ "products.new.basic_section" | translate }}
  %form-field{ "field-name": "product.name" }
    %label {{ "products.new.name" | translate }}
    %input{ type: "text", "ng-model": "form.product.name" }
  %form-field{ "field-name": "product.category" }
    %label {{ "products.new.category" | translate }}
    %button.small-button {{ "products.new.category_button" | translate }}
  %form-field{ "field-name": "product.photos" }
    %label {{ "products.new.photos" | translate }}
    %button.small-button {{ "products.new.photos_button" | translate }}
    %p.field-comment {{ "products.new.photos_comment" | translate }}

  %h3.line-behind
    %span {{ "products.new.details_section" | translate }}
  %form-field{ "field-name": "product.model_number" }
    %label {{ "products.new.model" | translate }}
    %input{ type: "text", "ng-model": "form.product.model_number" }
  %form-field{ "field-name": "product.brand_name" }
    %label {{ "products.new.brand" | translate }}
    %input{ type: "text", "ng-model": "form.product.brand_name" }
  .field.compound-field
    %label {{ "products.new.characteristics" | translate }}

    %ul
      %li{ "ng-repeat": "attribute in form.attributes" }
        %span {{ "products.new.attribute" | translate }}
        %input{ type: "text",
          placeholder: '{{ "products.new.attribute_placeholder" | translate }}',
          "ng-model": "attribute.name" }
        %span {{ "products.new.value" | translate }}
        %input{ type: "text",
          placeholder: '{{ "products.new.value_placeholder" | translate }}',
          "ng-model": "attribute.value" }
        %button{ type: "button", "ng-click": "removeAttribute(attribute)" }
          x

    %button.plus-button.icon-plus{ type: "button", "ng-click": "addAttribute()" }
      {{ "products.new.add_more" | translate }}
  %form-field{ "field-name": "product.description" }
    %label {{ "products.new.description" | translate }}
    %textarea{ "ng-model": "form.product.description" }

  %h3.line-behind
    %span {{ "products.new.trade_section" | translate }}
  .field.compound-field
    %label {{ "products.new.order" | translate }}
    %form-field{ "field-name": "product.min_order_quantity_number", class: 'inline-field' }
      %input{ type: "text", "ng-model": "form.product.min_order_quantity_number" }
    .select-field
      %select{ "ng-model": "form.product.min_order_quantity_unit" }
        %option --Choose unit--
        %option Boxes
        %option kg
        %option ton
        %option bottles
    %p.field-comment {{ "products.new.order_comment" | translate }}
  .field.compound-field
    %label {{ "products.new.price" | translate }}
    %form-field{ "field-name": "product.min_order_quantity_number", class: 'inline-field' }
      %input{ type: "text", "ng-model": "form.product.fob_price" }
    .select-field
      %select{ "ng-model": "form.product.fob_price_currency" }
        %option --Choose currency--
        %option BGP
        %option USD
    %span {{ "products.new.per" | translate }}
    .select-field
      %select{ "ng-model": "form.product.fob_price_unit" }
        %option --Choose unit--
        %option ton
        %option kg
    %p.field-comment {{ "products.new.price_comment" | translate }}
  %form-field{ "field-name": "product.port" }
    %label {{ "products.new.port" | translate }}
    %input{ type: "text", "ng-model": "form.product.port" }
  .field.compound-field
    %label {{ "products.new.supply" | translate }}
    %form-field{ "field-name": "product.supply_ability_capacity", class: 'inline-field' }
      %input{ type: "text", "ng-model": "form.product.supply_ability_capacity" }
    .select-field
      %select{ "ng-model": "form.product.supply_ability_unit" }
        %option --Choose unit--
        %option pieces
        %option boxes
    %span {{ "products.new.per" | translate }}
    .select-field
      %select{ "ng-model": "form.product.supply_ability_frequency" }
        %option --Choose unit--
        %option day
        %option month
    %p.field-comment {{ "products.new.supply_comment" | translate }}
  .field
    %label {{ "products.new.payment" | translate }}
    .checkbox-field
      %input{ type: "checkbox" }
      %label.inline-label Gold
    .checkbox-field
      %input{ type: "checkbox" }
      %label.inline-label Mules
    .checkbox-field
      %input{ type: "checkbox" }
      %label.inline-label Smiles
  %form-field{ "field-name": "product.packaging" }
    %label {{ "products.new.packaging" | translate }}
    %input{ type: "text", "ng-model": "form.product.packaging_details" }
  .actions
    %input{ type: "submit", value: '{{ "products.new.submit" | translate }}' }
