%h2.header-title {{ "products.new.form_title" | translate }}
%form{ "ng-submit": "submit($event)" }
  %h3.line-behind
    %span {{ "products.new.basic_section" | translate }}

  %form-field{ "error": "errors.business_item.name" }
    %label.required
      {{ "products.new.name" | translate }}
    %input{ type: "text", "ng-model": "businessItem.name" }

  .field{ "ng-include": "'_category.html'" }

  .field{ "ng-include": "'_photos.html'" }


  %h3.line-behind
    %span {{ "products.new.details_section" | translate }}

  %form-field{ "error": "errors.business_item.model_number" }
    %label {{ "products.new.model" | translate }}
    %input{ type: "text", "ng-model": "businessItem.model_number" }

  %form-field{ "error": "errors.business_item.brand_name" }
    %label {{ "products.new.brand" | translate }}
    %input{ type: "text", "ng-model": "businessItem.brand_name" }

  .field.compound-field{ "ng-include": "'_attributes.html'" }

  %form-field{ "error": "errors.business_item.description" }
    %label {{ "products.new.description" | translate }}
    %textarea{ "ng-model": "businessItem.description" }


  %h3.line-behind
    %span {{ "trade_info.title" | translate }}

  .field.compound-field
    %label {{ "products.new.order" | translate }}
    %p.field-comment {{ "products.new.order_comment" | translate }}
    %form-field{ "error": "errors.business_item.min_order_quantity_number", class: 'inline-field' }
      %input{ type: "number", min: "0", "ng-model": "businessItem.min_order_quantity_number" }
    .select-field
      %select{ "ng-options": "unit.id as unit.label for unit in units",
      "ng-model": "businessItem.min_order_quantity_unit_id" }
        %option{ value: "" } -- {{ "trade_info.choose_unit" | translate }} --

  %div{ "ng-include": "'_common_trade_info.html'" }


  .actions.with-spinner
    %input{ type: "submit", value: '{{ "products.new.submit" | translate }}',
      "ng-disabled": "loading" }
    .spinner{ "ng-show": "loading" }
