%div{ "ng-include": "'_business_item.html'" }

/ %div Model number: {{ businessItem.get('model_number') }}
/ %div Brand name: {{ businessItem.get('description') }}
/ %div
/   Min order:
/   {{ businessItem.get('min_order_quantity_number') }}
/   {{ businessItem.get('min_order_quantity_unit') }}
