%section.dashboard-content
  %div{ "ng-include": "'business_items/_header.html'" }
  .item-short-info
    %button.contact-supplier
      %span.icon.icon-envelope
      {{ "business_item.contact_seller" | translate }}

    .column{ "ng-show": "businessItem.hasAnyBasicInfoPresent()" }
      %h4.subtitle
        {{ "business_item.basic_info" | translate }}
      %table.item-details
        %tr{ "ng-show": "businessItem.get('model_number')" }
          %td.attribute
            {{ "product.model_number" | translate }}:
          %td
            {{ businessItem.get('model_number') }}
        %tr{ "ng-show": "businessItem.get('brand_name')" }
          %td.attribute
            {{ "product.brand_name" | translate }}:
          %td
            {{ businessItem.get('brand_name') }}
        %tr{ "ng-show": "businessItem.get('min_order_quantity_number')" }
          %td.attribute
            {{ "product.product" | translate }}:
          %td
            {{ businessItem.get('min_order_quantity_number') }}
            {{ businessItem.get('min_order_quantity_unit') }}

      %table.item-details{ "ng-include": "'business_item/_common_trade_info.html'" }

    %div{ "ng-include": "'business_item/_attributes.html'" }

  .item-detailed-info
    %div{ "ng-include": "'business_item/_description.html'" }
