%div{ "ng-include": "'_business_item_header.html'" }
.item-short-info
  %button.contact-supplier
    %span.icon.icon-envelope
    Contact Seller

  .column
    %h4.subtitle Basic Info
    %table.item-details
      %tr{ "ng-show": "product.model_number" }
        %td.attribute Model number:
        %td
          {{ product.model_number }}
      %tr{ "ng-show": "product.brand_name" }
        %td.attribute Brand name:
        %td
          {{ product.brand_name }}
      %tr{ "ng-show": "product.min_order_quantity_number" }
        %td.attribute Min order:
        %td
          {{ product.min_order_quantity_number }}
          {{ product.min_order_quantity_unit }}
      %tr{ "ng-show": "product.fob_price" }
        %td.attribute Fob price:
        %td
          {{ product.fob_price }}
          {{ product.fob_price_currency }}
          {{ product.fob_price_unit }}
      %tr{ "ng-show": "product.supply_ability_capacity" }
        %td.attribute Supply ability:
        %td
          {{ product.supply_ability_capacity }}
          {{ product.supply_ability_unit }}
          {{ product.supply_ability_frequency }}
      %tr{ "ng-show": "product.payment_terms.length > 0" }
        %td.attribute Payment Terms:
        %td
          %span.payment-term{ "ng-repeat": "paymentTerm in product.payment_terms" }
            {{ paymentTerm }}
      %tr{ "ng-show": "product.packaging_details" }
        %td.attribute Packaging details:
        %td {{ product.packaging_details }}

  .column{ "ng-show": "product.attributes.length > 0" }
    %h4.subtitle Attributes
    %table.item-details
      %tr{ "ng-repeat": "attribute in businessItem.get('attributes')" }
        %td.attribute {{ attribute["name"] }}:
        %td {{ attribute["value"] }}

.item-detailed-info
  %h4.section-title.line-behind{ "ng-show": "product.description" }
    %span Description
  %p.item-description {{ product.description }}
