$white-opaque: rgba(255, 255, 255, 0.7);
$snow-white: #fafafa;
$light-grey: #f0f0f0;
$border-grey: #DDDDDD;
$grey-dark: #2A2A2A;
$grey: #777777;
$blue-dark: #005384;
$blue-basic: #007BC5;
$blue-medium: #3DABE4;
$blue-light: #9FD4EF;
$blue-light2: #0e8aae;
$blue-opaque: rgba(7, 68, 105, 0.61);
$purple-dark: #343045;
$purple-basic: #A41954;
$green-light: rgba(183, 229, 121, 1);
$green-basic: #8CC63E;
$green-darker: #119B12;
$red: #BD0000;
$facebook-blue: #3b5998;

$basic-font: #333333;
$nav-link: $blue-basic;
$primary-button-bg: $green-basic;
$primary-button-border: $green-darker;
