$snow-white: #fafafa;
$light-grey: #f0f0f0;
$border-grey: #DDDDDD;
$grey: #777777;
$blue-basic: #006CA9;
$blue-light: #9FD4EF;
$blue-light2: #0e8aae;
$purple-basic: #A41954;

$basic-font: #333333;
$nav-link: $blue-basic;
