html, *, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background-color: $snow-white;
  position: relative;
  overflow-x: hidden;
}