@font-face {
  font-family: "NotoSans-Regular";
  src: asset-url('NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "NotoSans-Bold";
  src: asset-url('NotoSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "NotoNaskhArabic-Regular";
  src: asset-url('NotoNaskhArabic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "NotoNaskhArabic-Bold";
  src: asset-url('NotoNaskhArabic-Bold.ttf') format('truetype');
}