//breakpoints
$small-phone: 300px;
$big-phone: 480px;
$all-phone: 767px;
$tablet: 768px;
$desktop: 1024px;
$medium-desktop: 1165px;
$standard-desktop: 1280px;
$big-desktop: 1366px;
$huge-desktop: 1470px;
$giga-desktop: 1700px;


//Sizes for elements and typography

$bs-5: 0.236rem;
$bs-4: 0.382rem;
$bs-3: 0.438rem;
$bs-2: 0.618rem;
$bs-1: 0.708rem;
$bs0: 1rem;
$bs1: 1.146rem;
$bs2: 1.618rem;
$bs3: 1.854rem;
$bs4: 2.618rem;
$bs5: 2.625rem;
$bs6: 4.236rem;
$bs7: 5.547rem;
$bs8: 6.854rem;
$bs9: 8.976rem;
$bs10: 7.5rem;

$bs09: 0.9rem; //for 14px font
