.field.search-field{
  overflow: inherit;
}

.dropup, .dropdown {
  height: auto;
  left: 0;
  position: absolute;
  top: 52px;
  width: 71%;
  z-index: 9;
}

.dropdown-menu {
  background-clip: padding-box;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  display: none;
  float: left;
  font-size: 15px;
  left: 145px;
  list-style: outside none none;
  margin: 1px -2px 0;
  min-width: 160px;
  padding: 5px 0;
  position: relative;
  text-align: left;
  top: 100%;
  width: 100%;
  z-index: 1000;
}

.categoryMainBlock{
  background: hsl(0, 0%, 96%) none repeat scroll 0 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 49%;
}

.select-field select {
  width: 100%;
}


.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}

.rightarrow:after {
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  color:#202020;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:0px;
  z-index: 9999;
}

.dropdown-submenu:hover, .dropdown-submenu.active .dropdown-menu.category-box {
  display: block;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background: none;
}

.search-form {
  .search-field {
    overflow: visible;
    position: relative;
    max-width: 62.238rem;
  }

  input[type="text"] {
    max-width: 43.904rem;
    color: hsl(0, 0%, 47%);
  }
}

@media screen and (min-width:768px) and (max-width:1024px){
  .search-form{
    display:inline-block;
    width:100%;
    vertical-align:top;
  }

  .search-form input[type="text"]{
    max-width:100%;
  }

  .dropdown-submenu.item{
    width:377px;
  }
  .dropdown{
    width: 100%;
    left: 0;

    .dropdown-menu{
      left: 2px;
    }

    .category-box{
      width: 360px;
      border-radius: 1px;
    }
  }
}

@media screen and (max-width:767px){
  .search-form input[type="text"]{
    max-width:100%;
  }
  .dropdown-submenu.item{
    width:157px;
  }
  .dropdown-submenu .dropdown-menu{
    min-width: 228px;
  }
  .dropdown-submenu .dropdown-menu .category-box{
    left: 19%;
  }
  .dropdown {
    width: 100%;

    .drop-down-list{
      left: 1px ;
      top: 81px;

			li{
				width: 266px;
			}
		}
    .dropdown-submenu{
			.dropdown-menu{
				min-width: 241px;
				left: 28px;
				border-radius: 1px;
			}

			.rightarrow:after{
				margin-right: -4px;
			}
    }
  }
  input[type="submit"]{
    width:99%;
  }
}
@media(min-width: 360px) and (max-width:640px){
	.dropdown .dropdown-submenu .dropdown-menu{
		min-width: 281px;
	}
	.dropdown .drop-down-list li{
		width: 305px;
	}
}

.drop-down-list{
  margin-top: 0;
  padding: 0px;

  li{
    border: medium none;
    padding: 5px;
    position: static;
    text-align: left;
    width: 351px;

    a{
      border: none;
      color: hsl(0, 0%, 47%) !important;
      display: block;
    }

    &:hover {
      background-color: hsl(0, 0%, 96%) !important;
      color: hsl(0, 0%, 95%);
    }
  }

  .active {
    background-color: hsl(0, 0%, 96%) !important;
    color: hsl(0, 0%, 95%);
  }
}
.dropdown-menu .category-box {
  background: whitesmoke none repeat scroll 0 0;
  border: 0 none;
  box-shadow: none;
  color: black;
  display: none;
  left: 50%;
  padding: 0 12px;
  position: absolute;
  text-decoration: none !important;
  top: 6px;
  width: 50% !important;
  height: 100%;

  h4{
    margin:4px 0px;
    color: hsl(0, 0%, 47%);
  }
  li {
    float: left;
    list-style-type: none;
    margin-bottom: -8px;
    margin-left: -8px;
    width: auto;
  }

  .category-btn {
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 86%);
    font-size: 13px;
    margin: 1px;
    padding: 5px;

    &:hover, &:focus {
      background-color: #8CC63E;
      color: #fff;
    }
  }
}
