.category-selection-wrapper {
  
  .title {
    text-align: center;
    color: $grey-dark;
    margin: $bs6 0;
  }

  .line-behind span {
    background-color: $snow-white;
  }

  .category-list {
    @extend %clearfix;
    margin: 0 0 $bs8;
    list-style: none;
    
    @media screen and (min-width: $big-phone) {
      -moz-column-count: 2;
      -webkit-column-count: 2;
    }
    
    @media screen and (min-width: $tablet) {
      -moz-column-count: 3;
      -webkit-column-count: 3;
    }

    @media screen and (min-width: $big-desktop) {
      -moz-column-count: 4;
      -webkit-column-count: 4;
    }
  }

  .category-name {
    a {
      padding: $bs-3 $bs1;
      display: block;
      border: none;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}

.categories-list-button {
  text-transform: uppercase;
  background-color: $snow-white;
  border-bottom: $default-border;
  color: $blue-basic;
  padding: $bs0 $bs2;

  @media screen and (min-width: 1050px) {
    display: none;
  }

  .icon-list {
    font-size: $bs2;
    vertical-align: middle;
    padding: 0 $bs-2 0 0;
  }
}

.all-categories-list {
  @include transition(all, .7s, ease-in-out);
  padding: $bs1 0;
  border-right: $default-border;
  background-color: white;
  font-size: $bs09;
  position: absolute;
  width: 90%;
  left: -999px;
  height: 100%;

  &.show {
    left: 0;
  }

  @media screen and (min-width: 1050px) {
    width: 2 * $bs9;
    left: 0;
    top: 0;
  }

  .main-category-link {
    text-transform: uppercase;
    padding: $bs-3;
  }

  li {
    list-style: none;
  }

  li a {
    display: block;
    border: 0;
    color: $basic-font;
  }

  .subcategory-name a{
    padding: $bs-3 $bs-3 $bs-3 $bs2;

    &.open:after {
      font-family: "flatline";
      content: "\e6a1";
      font-size: $bs2; 
      vertical-align: middle;
    }
  }
  .sub-subcategory-name a{
    padding: $bs-3 $bs-3 $bs-3 $bs5;

    &:after {
      font-family: "flatline";
      content: "\e690";
      font-size: $bs2;
      vertical-align: middle;
    }

    &.open {
      color: $blue-basic;
    }

    &:after {
      content: "\e6a1";
    }
  }

  .sub-sub-subcategory-name a {
    padding: $bs-3 $bs-3 $bs-3 $bs6;
    color: $blue-basic;

    &:after {
      display: none;
    }
  }
}

.search-results-container {
  position: relative; 
  background-color: $medium-grey;
  padding: 0;

  @media screen and (min-width: 1050px) {
    padding: 0 0 $bs2 2 * $bs9;
  }

  
}

.search-results-content {
  background-color: white;

  @media screen and (min-width: 1050px) {
    margin: 0 $bs-1;
    border-left: $default-border;
    border-right: $default-border;
  }
  
  .title {
    padding: 0 $bs2;
  }
}

.search-filters {
  @extend %clearfix;
  padding: $bs0 $bs2;
  border-bottom: $default-border;
  font-size: $bs09;

  .filter-label {
    color: $grey;
    font-weight: 100;
  }
}

.sorting {
  padding: $bs-1 0 0;

  @media screen and (min-width: $tablet) {
    float: left;

    [dir="rtl"] & {
      float: right;
    }
  }

  a {
    padding: 0 $bs1;
    border: 0;
    color: $basic-font;

    &.active {
      color: $purple-basic;
    }
  }
}

.view-options {
  margin: $bs0 0 0;
  
  @media screen and (min-width: $tablet) {
    float: right;
    margin: 0;

    [dir="rtl"] & {
      float: left;
    }
  }
  
  .icon {
    font-size: $bs5;
    color: $grey; 
    vertical-align: middle;

    &.active {
      color: $purple-basic;
    }
  }
}

.breadcrumbs {
  font-size: $bs09;
  margin: $bs0 0 0;
  padding: 0 $bs2 $bs1;
  border-bottom: $default-border;

  a {
    border: 0;
  }
}

.search-results {
  @extend %clearfix;
  padding: $bs2 $bs1;
  list-style: none;
  
  @media screen and (min-width: $tablet) {
    padding: 0;
  }
}

.result-item {
  @extend %clearfix;
  border-bottom: $default-border;
  display: block;
  padding: $bs1 0;

  @media screen and (min-width: $tablet) {
    padding: $bs3;
  }

  .item-main-img {
    width: 40%;
    height: $bs9;
    background-position: top center;
    background-size: auto 100%;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin: 0 $bs1 0 0;

    [dir="rtl"] & {
      margin: 0 0 0 $bs1;
      float: right;
    }

    @media screen and (min-width: $tablet) {
      width: 15em;
      height: 15em;
      background-size: 15em auto;
      background-size: contain;
      margin: 0 $bs2 0 0;

      [dir="rtl"] & {
        margin: 0 0 0 $bs2;
      }
    }
  }

  .vase-1{
    background-image: image-url("vase-1.jpeg");
  }
  .vase-2{
    background-image: image-url("vase-2.jpeg");
  }
  .vase-3{
    background-image: image-url("vase-3.jpg");
  }
  .vase-4{
    background-image: image-url("vase-4.jpg");
  }
  .vase-5{
    background-image: image-url("vase-5.jpg");
  }
  .vase-6{
    background-image: image-url("vase-6.png");
  }
  .vase-7{
    background-image: image-url("vase-7.jpeg");
  }

  .result-item-title {
    border-color: white;
    display: inline;
    line-height: 1.4;

    @media screen and (min-width: $tablet) {
      font-size: $bs2;
    }

    &:hover, &:focus {
      border-color: $blue-basic;
    }
  }

  .from {
    font-size: $bs09;
    color: $grey;
    margin: $bs-3 0;
  }

  .result-item-description {
    width: 55%;
    max-width: 4 * $bs9;
    float: left;
    color: $grey;
  }
}

.net-view {
  
  .result-item-title {
    margin: $bs0 0 $bs-3;

    @media screen and (min-width: $tablet) {
      font-size: $bs1;
    }
  }
  .item-main-img {
    width: 100%;
    height: 15em;

    @media screen and (min-width: $tablet) {
      border: $default-border;
    }

    @media screen and (min-width: $desktop) {
      width: 15em;
    }
  }

  .result-item {
    width: 100%;
    height: 23em;

    @media screen and (min-width: $tablet) {
      border-bottom: 0;
      width: 33%;
      float: left;
      height: 25em;
    }
    
    @media screen and (min-width: $desktop) {
      width: 20em;
      float: left;
      height: 23em;
    }
  }
}
