.search-results-content {
  position: relative;
  background-color: white;

  .title {
    padding: 0 $bs2;
  }

  .breadcrumbs {
    font-size: $bs09;
    margin: $bs0 0 0;
    padding: 0 $bs2 $bs1;
    border-bottom: $default-border;

    a {
      border: 0;
    }
  }
}

.browse-options {
  @extend %clearfix;

  @media screen and (min-width: $tablet) {
    @include float-direction;
  }
}

.browse-filter {
  @include float-direction;
  display: inline-block;
  width: 25%;
  line-height: $bs4;
  text-align: center;
  padding: $bs0 $bs-5;
  font-size: $bs-1;
  border-right: $default-border;

  [dir="rtl"] & {
    border-right: 0;
    border-left: $default-border;
  }

  &.active {
    color: white;
    background-color: $blue-basic;
  }

  @media screen and (min-width: $big-phone) {
    font-size: $bs09;
  }

  @media screen and (min-width: $tablet) {
    padding: $bs0 $bs2;
    font-size: $bs0;
    width: auto;
  }

  span {
    font-size: $bs3;
    vertical-align: middle;
    display: none;

    @media screen and (min-width: $tablet) {
      display:  inline-block;
    }
  }
}

.search-filters {
  @extend %clearfix;
  margin: $bs2 0 0;
  border-bottom: $default-border;
  border-top:$default-border;
  font-size: $bs09;

  @media screen and (min-width: $tablet) {
    padding: 0 $bs2;
  }

  .filter-label {
    color: $grey;
    font-weight: 100;
  }
}

.sorting {
  padding: $bs-2 0 0;

  @media screen and (min-width: $tablet) {
    @include float-direction;
  }

  a {
    padding: 0 $bs1;
    border: 0;
    color: $basic-font;

    &.active {
      color: $purple-basic;
    }
  }
}

.view-options {
  border-top: $default-border;
  padding: $bs-3 $bs2;

  @media screen and (min-width: $tablet) {
    border: 0;
    float: right;
    padding: 0;
    margin: $bs0 0 0;

    [dir="rtl"] & {
      float: left;
    }
  }

  .icon {
    font-size: $bs5;
    color: $grey; 
    vertical-align: middle;

    &.active {
      color: $purple-basic;
    }
  }
}

.search-results {
  @extend %clearfix;
  padding: $bs2 0;
  list-style: none;

  @media screen and (min-width: $tablet) {
    padding: 0;
  }
}

.result-item {
  @extend %clearfix;
  position: relative;
  border-top: $default-border;
  display: block;
  padding: $bs1 0 0;

  @media screen and (min-width: $tablet) {
    padding: $bs3;
  }

  &:hover {
    @include box-shadow(0, 0, 5px, 2px, $border-grey);
    z-index: 99;
  }

  .item-img-link {
    @include float-direction;
    width: 30%;
    height: $bs8;
    margin: 0 0 0 $bs1;
    border: 1px solid $medium-grey;

    [dir="rtl"] & {
      margin: 0 $bs1 0 0;
    }

    @media screen and (min-width: $tablet) {
      width: $bs9;
      height: $bs9;
      margin: 0 $bs2 0 0;

      [dir="rtl"] & {
        margin: 0 0 0 $bs2;
      }
    }

    @media screen and (min-width: $big-desktop) {
      width: 15em;
      height: 15em;
    }

    img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .result-header-info {
    @include float-direction;
    width: 60%;
    padding: 0 $bs1;

    @media screen and (min-width: $tablet) {
      width: 45%;
      padding: 0;
    }

    @media screen and (min-width: 1000px) {
      width: 55%;
    }

    @media screen and (min-width: $medium-desktop) {
      max-width: 4.4 * $bs8;
    }

    @media screen and (min-width: $standard-desktop) {
      max-width: 4.4 * $bs9;
    }

    @media screen and (min-width: $huge-desktop) {
      max-width: 5 * $bs9;
    }

    @media screen and (min-width: $giga-desktop) {
      max-width: 70%;
    }
  }

  .result-item-title {
    border-color: white;
    display: inline;
    line-height: 1.4;

    @media screen and (min-width: $tablet) {
      font-size: 1.3 * $bs1;
    }

    &:hover, &:focus {
      border-color: $blue-basic;
    }
  }

  .result-item-description {
    @include float-direction;
    font-size: $bs09;
    padding: 0 $bs1;
    margin: $bs0 0;
    width: 100%;

    @media screen and (min-width: $big-phone) {
      width: 60%;
    }

    @media screen and (min-width: $tablet) {
      font-size: $bs0;
      width: 45%;
      padding: 0;
    }

    @media screen and (min-width: 1000px) {
      width: 55%;
    }

    @media screen and (min-width: $medium-desktop) {
      max-width: 4.4 * $bs8;
    }

    @media screen and (min-width: $standard-desktop) {
      max-width: 4.4 * $bs9;
    }

    @media screen and (min-width: $huge-desktop) {
      max-width: 5 * $bs9;
    }

    @media screen and (min-width: $giga-desktop) {
      max-width: 70%;
    }
  }

  .contact-supplier {
    margin: $bs2 0 $bs0;
    width: $bs7;
    position: absolute;
    right: $bs2;
    top: 0;

    [dir="rtl"] & {
      right: auto;
      left: 0;
    }

    @media screen and (min-width: $tablet) {
      position: relative;
      right: auto;
      top: auto;
      width: 100%;
    }

    .value {
      display: none;

      @media screen and (min-width: $tablet) {
        display: inline-block;
      }
    }
  }

  .from {
    display: none;
    margin: $bs-3 0;
    font-size: $bs09;

    span {
      color: $grey;
    }

    a {
      color: $basic-font;
      border-color: $basic-font;
    }
  }
}

.net-view {
  .company-summary, .result-item-description {
    display: none;
  }

  .result-item-title {
    margin: $bs0 0 $bs-3;

    @media screen and (min-width: $tablet) {
      font-size: $bs1;
    }
  }

  .result-item .result-header-info {
    max-width: none;
    width: 100%;
    float: none;
  }

  .item-img-link {
    width: 100%;
    height: 15em;
    margin: 0 0 $bs-3;
    border: 0;

    @media screen and (min-width: $desktop) {
      max-width: 100%;
      width: 15em;
      display: block;
      float: none;
    }

   img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  .result-item {
    width: 100%;
    height: 23em;

    @media screen and (min-width: 520px) {
      @include float-direction;
      border: 0;
      width: 50%;
      height: 25em;
    }

    @media screen and (min-width: $tablet) {
      width: 33%;
    }

    @media screen and (min-width: $desktop) {
      width: 25%;
      height: 23em;
    }

    @media screen and (min-width: $big-desktop) {
      width: 20%;
    }

    .from {
      display: block;
    }
  }
}

.company-summary {
  @extend %item-options-holder;
  background-color: $snow-white;
  padding: $bs2;
  position: relative;
  border-bottom: 0;

  @media screen and (min-width: $tablet) {
    position: absolute;
    border-left: $default-border;
    width: 3 * $bs7;

    [dir="rtl"] & {
      border-left: 0;
      border-right: $default-border;
    }
  }

  .company-location, .company-name, .plain-link {
    width: 50%;

    @media screen and (min-width: $tablet) {
      width: auto;
    }
  }

  .company-name {
    margin: $bs-5 0;
    font-weight: bold;
    
    @media screen and (min-width: $tablet) {
      font-size: $bs1;
    }
  }

  .company-location {
    margin: $bs-5 0;
    
    span {
      color: grey;
    }
  }
}
