.search-results-content {
  position: relative;
  background-color: white;

  @media screen and (min-width: $medium-desktop) {
    min-height: 100vh;
    min-height: calc(100vh - 106px);
  }

  .title {
    padding: 0 $bs2;
  }
}

.browse-options {
  @extend %clearfix;

  @media screen and (min-width: $tablet) {
    @include float-direction;
  }
}

.browse-filter {
  @include float-direction;
  display: inline-block;
  width: 25%;
  line-height: $bs4;
  text-align: center;
  padding: $bs0 $bs-5;
  font-size: $bs-1;
  border-right: $default-border;
  color: $blue-basic;

  [dir="rtl"] & {
    border-right: 0;
    border-left: $default-border;
  }

  &.active {
    color: white;
    background-color: $blue-basic;
  }

  &:hover {
    cursor: pointer;
  }

  @media screen and (min-width: $big-phone) {
    font-size: $bs09;
  }

  @media screen and (min-width: $tablet) {
    padding: $bs0 $bs2;
    font-size: $bs0;
    width: auto;
  }

  .icon {
    font-size: $bs3;
    vertical-align: middle;
    display: none;

    @media screen and (min-width: $tablet) {
      display:  inline-block;
    }
  }
}

.search-filters {
  @extend %clearfix;
  margin: $bs2 0 0;
  border-bottom: $default-border;
  border-top:$default-border;
  font-size: $bs09;

  .search-field input[type="text"] {
    max-width: 180px;
    height: 45px;
  }
  .search-results-form {
    float: none;
    padding-left: 10px;
    padding-right: 0px;
    min-width: 50%;
    border-right: none;

    .select-field:after {
      top: 0px;
    }
    .field-category.browse-filter {
      margin: 0rem;
      padding: 0rem 1rem;
      border: none;

      #choose-category {
        margin: 0rem;
        max-width: 200px;
      }
    }
    input[type="submit"] {
      max-width: 72px;
      padding: 0.7rem 0rem;
    }
    .select-field.browse-filter {
      padding: 0rem 1.618rem;
      margin-right: 5px;
      width: 28%;
    }
    .search-field.browse-filter {
      padding: 0rem;
      border-right: none;
      width: 42%;
    }

    @media screen and (max-width: $desktop) {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      border: none;
      margin: 0px;

      .select-field.browse-filter {
        width: 28%;
        padding-left: 0rem;
        padding-right: 0rem;
      }
      .search-field.browse-filter {
        width: 40%;
      }
    }

    @media screen and (max-width: $tablet) {
      .select-field.browse-filter {
        width: 25%;
      }
      .search-field.browse-filter {
        width: 45%;

        input {
          border-radius: 0;
          float: left;
          margin-top: 0;
        }
      }
    }
    @media screen and (max-width: 668px) {
      padding: 0.7rem 1.618rem;
      .select-field.browse-filter {
        width: 100%;
      }
      .field-category.browse-filter {
        width: 100%;
        margin-bottom: 1rem;

        #choose-category {
          max-width: 200px;
          margin: auto;
        }
      }
      .search-field.browse-filter {
        width: 100%;


        input {
          max-width: 100%;
        }
      }
    }

  }



  @media screen and (min-width: $tablet) {
    padding: 0 $bs2;
  }

  .filter-label {
    color: $grey;
    font-weight: 100;
  }
}

.sorting {
  padding: $bs-2 0 0;

  @media screen and (min-width: $tablet) {
    @include float-direction;
  }

  a {
    padding: 0 $bs1;
    border: 0;
    color: $basic-font;

    &.active {
      color: $purple-basic;
    }
  }
}

.view-options {
  border-top: $default-border;
  padding: $bs-3 $bs2;

  @media screen and (min-width: $tablet) {
    border: 0;
    float: right;
    padding: 0;
    margin: $bs0 0 0;

    [dir="rtl"] & {
      float: left;
    }
  }

  .icon {
    font-size: $bs5;
    color: $grey;
    vertical-align: middle;

    &.active {
      color: $purple-basic;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.empty-results {
  padding: 0 $bs2;
  font-size: $bs2;
  color: $grey;
  text-align: center;
}

.search-results {
  @extend %clearfix;
  padding: $bs2 0;
  list-style: none;

  @media screen and (min-width: $tablet) {
    padding: 0;
  }
}

.result-item {
  @extend %clearfix;
  position: relative;
  border-top: $default-border;
  display: block;
  padding: $bs1 0 0;
 /* background-color: #fff1a8;*/

  @media screen and (min-width: $tablet) {
    padding: $bs3;
  }

  &:hover {
    @include box-shadow(0, 0, 5px, 2px, $border-grey);
  }

  .item-img-link {
    @include float-direction;
    width: 30%;
    height: $bs8;
    margin: 0 0 0 $bs1;
    border: 1px solid $medium-grey;

    [dir="rtl"] & {
      margin: 0 $bs1 0 0;
    }

    @media screen and (min-width: $tablet) {
      width: $bs9;
      height: $bs9;
      margin: 0 $bs2 0 0;

      [dir="rtl"] & {
        margin: 0 0 0 $bs2;
      }
    }

    @media screen and (min-width: $big-desktop) {
      width: 15em;
      height: 15em;
    }

    img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .result-header-info {
    @include float-direction;
    width: 60%;
    padding: 0 $bs1;

    @media screen and (min-width: $tablet) {
      width: 45%;
      padding: 0;
    }

    @media screen and (min-width: 1000px) {
      width: 55%;
    }

    @media screen and (min-width: $medium-desktop) {
      max-width: 4.4 * $bs8;
    }

    @media screen and (min-width: $standard-desktop) {
      max-width: 4.4 * $bs9;
    }

    @media screen and (min-width: $huge-desktop) {
      max-width: 5 * $bs9;
    }

    @media screen and (min-width: $giga-desktop) {
      max-width: 70%;
    }
  }

  .result-item-title, .result-item-title-strict {
    border-color: white;
    display: inline;
    line-height: 1.4;

    @media screen and (min-width: $tablet) {
      font-size: 1.3 * $bs1;
    }

    &:hover, &:focus {
      border-color: $blue-basic;
    }
  }

  .result-item-title-strict {
    display: none;
  }

  .breadcrumbs {
    margin-top: 0;
  }

  .result-item-description {
    @include float-direction;
    font-size: $bs09;
    padding: 0 $bs1;
    margin: $bs0 0;
    width: 100%;

    @media screen and (min-width: $big-phone) {
      width: 60%;
    }

    @media screen and (min-width: $tablet) {
      font-size: $bs0;
      width: 45%;
      padding: 0;
    }

    @media screen and (min-width: 1000px) {
      width: 55%;
    }

    @media screen and (min-width: $medium-desktop) {
      max-width: 5 * $bs8;
    }

    @media screen and (min-width: $standard-desktop) {
      max-width: 4.4 * $bs9;
    }

    @media screen and (min-width: $huge-desktop) {
      max-width: 5 * $bs9;
    }

    @media screen and (min-width: $giga-desktop) {
      max-width: 70%;
    }
  }

  .contact-supplier {
    margin: $bs2 0 $bs0;
    position: absolute;
    top: 0;

    &.business-contact {
      margin-top: $bs-5;
    }

    [dir="rtl"] & {
      right: auto;
      left: $bs2;
    }

    @media screen and (min-width: $tablet) {
      position: relative;
      right: auto;
      top: auto;
      width: 100%;
      margin-top: $bs-3;

      @media screen and (min-width: $big-desktop) {
        padding: $bs1;
      }

      [dir="rtl"] & {
        left: auto;
      }
    }

    @media screen and (max-width: $tablet) {
      margin: $bs-5;
      position: relative;
    }

    .value {
      display: none;

      @media screen and (min-width: $tablet) {
        display: inline-block;
      }
    }
  }

  .from {
    display: none;
    margin: $bs-3 0;
    font-size: $bs09;

    span {
      color: $grey;
    }

    a {
      color: $basic-font;
      border: none;
    }
  }
}

.net-view {

  @media screen and (min-width: $tablet) {
    padding: 0 0 $bs2 0;
  }

  .business-summary, .result-item-description {
    display: none;
  }

  .result-item-title {
    display: none
  }

  .result-item-title-strict {
    display: inline;

    @media screen and (min-width: $tablet) {
      font-size: $bs1;
    }
  }

  .result-item .result-header-info {
    max-width: none;
    width: 100%;
    float: none;
    overflow: hidden;
  }

  .item-img-link {
    width: 100%;
    height: 15em;
    margin: 0 0 $bs-3;
    border: 0;

    @media screen and (min-width: $desktop) {
      max-width: 100%;
      width: 15em;
      display: block;
      float: none;

      [dir="rtl"] & {
        float: none;
        margin: 0 0 $bs-3;
      }
    }

   img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  .result-item {
    width: 100%;
    height: 23em;

    @media screen and (min-width: 520px) {
      @include float-direction;
      border: 0;
      width: 50%;
      height: 25em;
    }

    @media screen and (min-width: $tablet) {
      width: 33%;
    }

    @media screen and (min-width: $desktop) {
      width: 25%;
      height: 24em;
    }

    @media screen and (min-width: $big-desktop) {
      width: 20%;
    }

    @media screen and (min-width: 1820px) {
      width: 16.66%;
    }

    @media screen and (min-width: 2120px) {
      width: 14.285%;
    }

    .from {
      display: block;
    }
  }
}

.business-summary {
  @extend %item-options-holder;
  background-color: $snow-white;
  padding: $bs2;
  position: relative;
  border-bottom: 0;

  @media screen and (min-width: $tablet) {
    position: absolute;
    border-left: $default-border;
    width: 3 * $bs8;

    [dir="rtl"] & {
      border-left: 0;
      border-right: $default-border;
      line-height: 1.2;
    }
  }

  .business-location, .business-name, .plain-link {
    width: 50%;

    @media screen and (min-width: $tablet) {
      width: auto;
    }
  }

  .business-name {
    line-height: 1.4;
    margin: $bs-5 0;
    font-weight: bold;

    @media screen and (min-width: $tablet) {
      font-size: $bs0;
    }

    @media screen and (min-width: $big-desktop) {
      font-size: $bs1;
    }
  }

  .business-location {
    margin: $bs-5 0;

    span {
      color: grey;
    }
  }
}

.feature-true {
  width: 83px;
  height: 83px;
  background: asset-url('feature.png') no-repeat 0px 0px;
  display: list-item;
  position: absolute;
  list-style: none;
}
