.search-results-container {
  position: relative; 
  background-color: $medium-grey;
  padding: 0;

  @media screen and (min-width: $medium-desktop) {
    padding: 0 0 $bs2 2 * $bs9;
  }
}

.search-results-content {
  background-color: white;

  @media screen and (min-width: $medium-desktop) {
    margin: 0 $bs-1;
    border: $default-border;
    border-top: 0;
  }
  
  .title {
    padding: 0 $bs2;
  }
}

.search-filters {
  @extend %clearfix;
  padding: $bs0 $bs2;
  border-bottom: $default-border;
  font-size: $bs09;

  .filter-label {
    color: $grey;
    font-weight: 100;
  }
}

.sorting {
  padding: $bs-1 0 0;

  @media screen and (min-width: $tablet) {
    @include float-direction;
  }

  a {
    padding: 0 $bs1;
    border: 0;
    color: $basic-font;

    &.active {
      color: $purple-basic;
    }
  }
}

.view-options {
  margin: $bs0 0 0;
  
  @media screen and (min-width: $tablet) {
    float: right;
    margin: 0;

    [dir="rtl"] & {
      float: left;
    }
  }
  
  .icon {
    font-size: $bs5;
    color: $grey; 
    vertical-align: middle;

    &.active {
      color: $purple-basic;
    }
  }
}

.breadcrumbs {
  font-size: $bs09;
  margin: $bs0 0 0;
  padding: 0 $bs2 $bs1;
  border-bottom: $default-border;

  a {
    border: 0;
  }
}

.search-results {
  @extend %clearfix;
  padding: $bs2 0;
  list-style: none;
  
  @media screen and (min-width: $tablet) {
    padding: 0;
  }
}

.result-item {
  @extend %clearfix;
  position: relative;
  border-top: $default-border;
  display: block;
  padding: $bs1 0 0;

  @media screen and (min-width: $tablet) {
    padding: $bs3;
  }

  &:hover {
    @include box-shadow(0, 0, 5px, 2px, $border-grey);
    z-index: 99;
  }

  .item-img-link {
    @include float-direction;
    width: 30%;
    height: $bs8;
    margin: 0 0 0 $bs1;
    border: 1px solid $medium-grey;

    [dir="rtl"] & {
      margin: 0 $bs1 0 0;
    }

    @media screen and (min-width: $tablet) {
      width: $bs9;
      height: $bs9;
      margin: 0 $bs2 0 0;

      [dir="rtl"] & {
        margin: 0 0 0 $bs2;
      }
    }

    @media screen and (min-width: $big-desktop) {
      width: 15em;
      height: 15em;
    }

    img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .result-header-info {
    @include float-direction;
    width: 60%;
    padding: 0 $bs1;
    
    @media screen and (min-width: $tablet) {
      padding: 0;
    }
    
    @media screen and (min-width: $medium-desktop) {
      width: 100%;
      max-width: 3.4 * $bs8;
    }

    @media screen and (min-width: $standard-desktop) {
      max-width: 3.4 * $bs9;
    }

    @media screen and (min-width: $huge-desktop) {
      max-width: 4 * $bs9;
    }

    @media screen and (min-width: $giga-desktop) {
      max-width: 60%;
    }
  }

  .result-item-title {
    border-color: white;
    display: inline;
    line-height: 1.4;

    @media screen and (min-width: $tablet) {
      font-size: $bs2;
    }

    &:hover, &:focus {
      border-color: $blue-basic;
    }
  }

  .result-item-description {
    @include float-direction;
    font-size: $bs09;
    padding: 0 $bs1;
    width: 60%;
    color: $grey;

    @media screen and (min-width: $big-phone) {
      width: 55%;
      max-width: 3.4 * $bs8;
    }

    @media screen and (min-width: $tablet) {
      font-size: $bs0;
      padding: 0;
    }

    @media screen and (min-width: $medium-desktop) {
      max-width: 3.4 * $bs8;
    }

    @media screen and (min-width: $standard-desktop) {
      max-width: 3.4 * $bs9;
    }

    @media screen and (min-width: $huge-desktop) {
      max-width: 4 * $bs9;
    }

    @media screen and (min-width: $giga-desktop) {
      max-width: 60%;
    }
  }
}

.net-view {
  
  .result-item-title {
    margin: $bs0 0 $bs-3;

    @media screen and (min-width: $tablet) {
      font-size: $bs1;
    }
  }
  .item-main-img {
    width: 100%;
    height: 15em;

    @media screen and (min-width: $tablet) {
      border: $default-border;
    }

    @media screen and (min-width: $desktop) {
      width: 15em;
    }
  }

  .result-item {
    width: 100%;
    height: 23em;

    @media screen and (min-width: $tablet) {
      border-bottom: 0;
      width: 33%;
      float: left;
      height: 25em;
    }
    
    @media screen and (min-width: $desktop) {
      width: 20em;
      float: left;
      height: 23em;
    }
  }
}

.company-summary {
  @extend %item-options-holder;
  background-color: $snow-white;
  padding: $bs2;
  position: relative;
  border-bottom: 0;

  @media screen and (min-width: $tablet) {
    position: absolute;
    border-left: $default-border;
    width: 3 * $bs7;

    [dir="rtl"] & {
      border-left: 0;
      border-right: $default-border;
    }
  }

  .company-location, .company-name, .plain-link {
    width: 50%;

    @media screen and (min-width: $tablet) {
      width: auto;
    }
  }

  .company-name {
    margin: $bs-5 0;
    font-weight: bold;
    
    @media screen and (min-width: $tablet) {
      font-size: $bs1;
    }
  }

  .company-location {
    margin: $bs-5 0;
    
    span {
      color: grey;
    }
  }
}

.contact-supplier {
  @extend %basic-button;
  @extend %blue-button;
  margin: $bs2 0 $bs0;
  width: $bs7;
  position: absolute;
  right: $bs2;
  top: 0;

  [dir="rtl"] & {
    right: auto;
    left: 0;
  }

  @media screen and (min-width: $tablet) {
    width: 100%;
    max-width: 2 * $bs8;
    position: relative;
    right: auto;
    top: auto;
  }
  
  .value {
    display: none;
    
    @media screen and (min-width: $tablet) {
      display: inline-block;
    }
  }

  .icon {
    vertical-align: sub;
    font-size: $bs2;
  }
}
