%info-column {
  width: 100%;
  padding: $bs2;

  @media screen and (min-width: $desktop) {
    @include float-direction;
    width: 45%;
    padding: $bs2 0;
    margin: 0 $bs2;
  }

  @media screen and (min-width: $standard-desktop) {
    width: 50%;
  }
  @media screen and (min-width: $big-desktop) {
    width: 60%;
  }
}

.product-header {
  @extend %info-column;
  border-bottom: $default-border;

  .breadcrumbs {
    padding: 0;
    border-bottom: 0;
  }

  .seller {
    padding: $bs0 0 0;
  }
}

.product-short-info {
  @extend %info-column;
  @extend %clearfix;

  .column {
    @include float-direction;
    margin: 0 $bs2 0 0;

    [dir="rtl"] & {
      margin: 0 0 0 $bs2;
    }
  }

  .contact-supplier {
    margin: 0 0 $bs2;
  }
}

.product-title {
  @extend %basic-title;
  font-size: $bs2;
  margin: 0 0 $bs0;
}

.product-page {
  @extend %clearfix;
  padding: $bs2;
  background-color: white;
}

.item-gallery {
  margin: 0 auto;
  max-width: 25em;
  width: 100%;
  padding: $bs2 $bs2 0;
  background-color: white;

  @media screen and (min-width: $tablet) {
    @include float-direction;
  }

  @media screen and (min-width: $desktop) {
    padding: $bs2 0 0 $bs2;

    [dir="rtl"] & {
      padding: $bs2 $bs2 0 0;
    }
  }
  
  .product-main-image {
    width: 100%;
  }

  .gallery-thumbs {
    @extend %clearfix;
    list-style: none;
    margin: $bs0 0;


    .item-img-holder {
      display: inline-block;
      border: $default-border;
      padding: $bs-5;
      margin: 1px;
    }
  }
}

.product-details {
  font-size: $bs09;

  .attribute {
    color: $grey;
    padding: $bs-3 $bs0 $bs-3 0;

    [dir="rtl"] & {
      padding: $bs-3 0 $bs-3 $bs0;
    }
  }

  .payment-term:after {
    content: "|";
    padding: 0 $bs-5;
    font-size: $bs1;
    color: $grey;
  }
}

.product-description {
  font-size: $bs09;
}

.product-info {
  clear: both;
  padding: $bs0 $bs2;

  .section-title {
    margin: 0 0 $bs0;

    span {
      top: -0.7rem;
    }
  }
}