%info-column {
  width: 100%;
  padding: $bs2;

  @media screen and (min-width: $desktop) {
    @include float-direction;
    width: 45%;
    padding: $bs2 0;
    margin: 0 $bs2;
  }

  @media screen and (min-width: $standard-desktop) {
    width: 50%;
  }
  @media screen and (min-width: $big-desktop) {
    width: 60%;
  }
}

.item-header {
  @extend %info-column;
  border-bottom: $default-border;

  .breadcrumbs {
    padding: 0;
    border-bottom: 0;
  }

  .seller {
    padding: $bs0 0 0;
  }

  .item-title {
    font-size: $bs2;
    margin: 0 0 $bs0;
    font-weight: normal;
  }
}

.item-short-info {
  @extend %info-column;
  @extend %clearfix;

  .column {
    @include float-direction;
    margin: 0 $bs2 0 0;

    [dir="rtl"] & {
      margin: 0 0 0 $bs2;
    }
  }

  .contact-supplier {
    margin: 0 0 $bs2;
  }
}



.product-page {
  @extend %clearfix;
  padding: $bs2;
  background-color: white;
}

.item-gallery {
  margin: 0 auto;
  max-width: 25em;
  width: 100%;
  padding: $bs2 $bs2 0;
  background-color: white;

  @media screen and (min-width: $tablet) {
    @include float-direction;
  }

  @media screen and (min-width: $desktop) {
    padding: $bs2 0 0 $bs2;

    [dir="rtl"] & {
      padding: $bs2 $bs2 0 0;
    }
  }
  
  .product-main-image {
    width: 100%;
  }

  .gallery-thumbs {
    @extend %clearfix;
    list-style: none;
    margin: $bs0 0;


    .item-img-holder {
      display: inline-block;
      border: $default-border;
      padding: $bs-5;
      margin: 1px;
    }
  }
}

.item-description {
  margin: $bs0 0 $bs5;
}

.item-details {
  font-size: $bs09;

  .attribute {
    color: $grey;
    padding: $bs-3 $bs0 $bs-3 0;

    [dir="rtl"] & {
      padding: $bs-3 0 $bs-3 $bs0;
    }
  }

  .payment-term:after {
    content: "|";
    padding: 0 $bs-5;
    font-size: $bs1;
    color: $grey;
  }
}
.item-basic-info {
  padding: $bs0 $bs2;
}

.item-detailed-info {
  clear: both;
  padding: $bs0 $bs2;

  .section-title {
    margin: 0 0 $bs0;

    span {
      top: -0.7rem;
    }
  }
}

.company-view {
  @extend %clearfix;
  @extend %wide-container;
  background-color: white;

  @media screen and (min-width: 1600px) {
    border-left: $default-border;
    border-right: $default-border;
  }

  .item-detailed-info {
    @media screen and (min-width: $desktop) {
      display: inline-block;
      clear: none;
      width: 49%;
      vertical-align: top;
    }
  }
}

.company-header {
  @extend %clearfix;
  padding: $bs2;
  border-bottom: $default-border;

  .company-name {
    font-weight: normal;
    margin: 0 0 $bs0;
  }

  .company-logo-holder {
    @include float-direction;
    height: auto;
    background: none;
    padding: $bs-3;

    .company-logo {
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

.contact-item {
  @include float-direction;
  margin: 0 $bs2 $bs0 0;

  [dir="rtl"] & {
    margin: 0 0 $bs0 $bs2;
  }
  .icon {
    font-size: $bs2;
    color: $grey;
    vertical-align: sub;
  }
}

.company-short-info {
  @include float-direction;
  width: 100%;

  @media screen and (min-width: $tablet) {
    max-width: 3.5 * $bs9;
    padding: 0 $bs2;
  }

  @media screen and (min-width: $desktop) {
    max-width: 5 * $bs9;
  }

  @media screen and (min-width: $standard-desktop) {
    max-width: 7.3 * $bs9;
  }
}

.company-gallery {
  img {
    width: 120px;
    height: 120px;
    display: inline-block;
    margin: 0 $bs-3 0 0;
  }
}