%info-column {
  overflow: hidden;
  width: 100%;
  padding: $bs2;

  @media screen and (min-width: $desktop) {
    @include float-direction;
    width: 55%;
    padding: $bs2 0;
    margin: 0 $bs2;
  }

  @media screen and (min-width: $standard-desktop) {
    width: 50%;
  }
  @media screen and (min-width: $big-desktop) {
    width: 60%;
  }
}

.item-header {
  @extend %info-column;
  border-bottom: $default-border;

  .breadcrumbs {
    padding: 0;
    border-bottom: 0;
  }

  .seller {
    padding: $bs0 0 0;

    a {
      display: inline;
    }
  }

  .item-title {
    font-size: $bs2;
    margin: 0 0 $bs0;
    font-weight: normal;
  }
}

.item-short-info {
  @extend %info-column;
  @extend %clearfix;

  .column {
    @include float-direction;
    margin: 0 $bs2 0 0;
    max-width: 100%;

    [dir="rtl"] & {
      margin: 0 0 0 $bs2;
    }

    .subtitle {
      @extend %basic-title;
      color: $grey;
    }

    .section-title {

      span {
        top: -0.7rem;
      }
    }
  }

  .contact-supplier {
    margin: 0 0 $bs2;
  }
  width: 50%;
}

.description-column {
  clear: both;
}

.product-page {
  @extend %clearfix;
  padding: $bs2;
  background-color: white;
}

.item-gallery {
  margin: 0 auto;
  max-width: 25em;
  width: 100%;
  padding: $bs2 $bs2 0;
  background-color: white;

  @media screen and (min-width: $desktop) {
    @include float-direction;
    padding: $bs2 0 0 $bs2;

    [dir="rtl"] & {
      padding: $bs2 $bs2 0 0;
    }
  }

  .product-main-image {
    max-width: 100%;
    display: block;
  }

  .gallery-thumbs {
    @extend %clearfix;
    list-style: none;
    margin: $bs0 0;


    .item-img-holder {
      display: inline-block;
      border: $default-border;
      padding: $bs-5;
      margin: 1px;
    }
  }
}

.item-description {
  margin: $bs0 0 $bs5;
}

.item-details {
  font-size: $bs09;

  .attribute {
    color: $grey;
    padding: $bs-3 $bs0 $bs-3 0;
    word-wrap: normal;
    word-break: normal;

    [dir="rtl"] & {
      padding: $bs-3 0 $bs-3 $bs0;
    }
  }

  td {

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .payment-term:after {
    content: "|";
    padding: 0 $bs-5;
    font-size: $bs1;
    color: $grey;
  }

  .payment-term:last-of-type {
    &:after {
      visibility: hidden;
    }
  }
}
.item-basic-info {
  padding: $bs0 $bs2;
  overflow: hidden;
}

.item-detailed-info {
  clear: both;
  padding: $bs0 $bs2;

  .section-title {
    margin: 0 0 $bs0;

    span {
      top: -0.7rem;
    }

    .icon {
      top: -.15rem;
      font-size: $bs2;
      vertical-align: middle;
    }
  }
}

.business-view, .product-view, .service-view {
  @extend %clearfix;
  @extend %wide-container;
  background-color: white;

  @media screen and (min-width: 1165px) {
    min-height: 100vh;
    min-height: calc(100vh - 575px);
  }

  @media screen and (min-width: 1600px) {
    border-left: $default-border;
    border-right: $default-border;
  }

  .item-detailed-info {
    @media screen and (min-width: $desktop) {
      display: inline-block;
      clear: none;
      width: 100%;
      vertical-align: top;
    }
  }

  .business-tabs {
    margin-bottom: $bs1;
  }
}

.business-header {
  @extend %clearfix;
  padding: $bs2;

  .business-logo-holder {
    @include float-direction;
    background: none;
    width: 100%;
    max-height: $bs9;
    padding: $bs-3;
    height: auto;

    @media screen and (min-width: $tablet) {
      width: 2 * $bs8;
      max-height: 2 * $bs8;
    }

    .business-logo {
      display: block;
      max-width: 100%;
      max-height: 1.9 * $bs6;
      margin: 0 auto;

      @media screen and (min-width: $tablet) {
        max-height: 2 * $bs7;
      }
    }
  }
}

.contact-item {
  @include float-direction;
  margin: 0 $bs2 $bs0 0;

  [dir="rtl"] & {
    margin: 0 0 $bs0 $bs2;
  }
  .icon {
    font-size: $bs2;
    vertical-align: sub;
    display: inline-block;
  }

  .address-line {
    display: block;
    line-height: 1.6;
    text-indent: $bs3;
  }
}

.business-short-info {
  @include float-direction;
  width: 100%;

  @media screen and (min-width: $tablet) {
    max-width: 4.3 * $bs8;
    padding: 0 $bs2;
  }

  @media screen and (min-width: $desktop) {
    max-width: 5.1 * $bs9;
  }

  @media screen and (min-width: $standard-desktop) {
    max-width: 6.5 * $bs9;
  }

  @media screen and (min-width: $big-desktop) {
    max-width: 7 * $bs9;
  }

  @media screen and (min-width: $huge-desktop) {
    max-width: 8 * $bs9;
  }

  .business-name {
    font-weight: normal;
    margin: 0 0 $bs0;
  }


  &.business-profile-summary {
    @extend %dashboard-content-padding;
    padding-bottom: $bs2;

    .business-name {
      margin-top: 0;
    }
  }
}

.business-gallery {
  img {
    width: 120px;
    height: 120px;
    display: inline-block;
    margin: 0 $bs-3 0 0;
  }
}

.certificate {
  @extend %clearfix;
  clear: both;
  margin: 0 0 $bs2 0;

  &:last-of-type {
    margin: 0;
  }
}

.cert-img {
  @include float-direction;
  max-width: $bs9;
  margin: 0 $bs0 0 0;

  [dir="rtl"] & {
    margin: 0 0 0 $bs0;
  }

  img {
    width: 100%;
  }
}

.cert-origin {
  font-size: $bs09;
  margin: $bs0 0 0;

  span {
    color: $grey;
  }
}
.products.line-behind {
  clear: both;
  .icon {
    font-size: $bs2;
    top: -0.15rem;
    vertical-align: middle;
  }

}
.company-products {
  clear: both;
  ul {
    list-style: outside none none;
    li {
      float: left;
      margin: 5px;
      max-width: 180px;
      padding: 10px;
      text-align: center;
      border: 1px solid #ddd;
      width: 100%;
      height: 195px;
      overflow: hidden;

      &:hover {
        box-shadow: 0 0 5px 2px #dddddd;
        z-index: 99;
      }
      a {
        border: none;
      }
      .product-item-title {
        margin-top: 15px;
      }
    }
  }
}
.similar-items {
  ul{

    float: none;
    margin-left: 25%;

    @media screen and (min-width: $tablet) {
      float: none;
      margin-left: 35%;
    }

    @media screen and (min-width:  $desktop) {
      margin-right: 20px;
      float: right;
      margin-left: 0%;
    }

    li{
      float: none;
    }
  }
}

.mar-left-28{
  margin-left: 20px;
}
.next-previous-region {
  float: right;
  height: 0px;

  .next, .previous {
    background-color: #007bc5;
    border-bottom: 0.236rem solid #005384;
    border-color: #007bc5 #007bc5 #005384;
    border-radius: 0.382rem;
    color: white;
    margin: 5px;
    padding: 0.5rem;
    width: 120px;
    margin: 1.618rem 1rem 0 0;
  }

  .next[disabled=disabled], .previous[disabled=disabled] {
    opacity: 0.5;
  }
  @media screen and (max-width: $desktop) {
    display: block;
    float: none !important;
    text-align: center;
    height: 55px;
  }
}
