.container-top{
  padding-right: 20px;
  line-height: 1.2;
  h3{
    padding-left: 20px;
  }
  .sticky{
    background: #FAFAFA;
    padding-left: 20px;
    .list-div{
      
      width: 300px;
      display: inline-flex;
      margin-bottom: 5px;
      margin-right: 5px;
      font-size: 13px;
      
      a{
        border-bottom: 0px;
      }
    }
  }


  .list-container{
    margin-bottom: 80px;
    padding-left: 20px;

    .list-div-multiple{
      display: inline-flex;
      color: gray;
      width: 300px;
      margin-right: 5px;
      .category-list-div{
        width: 100%;

        .category-list{
          overflow: hidden;
          height: 250px;

          .no_text_decoration{
            font-size: 10px;
            border-bottom: 0px;
            color: gray;
          }
        }
      }
    }

    .list-div{
      display: inline-flex;
      color: gray;
      width: 300px;
      margin-right: 5px;
      height:50px;
      overflow: hidden;

      a{
        border-bottom: 0px;
        color: gray;
      }
    }
  }
  .list-max-height{
    height: 100% !important;
  }
  .list-min-height{
    height: 250px !important;
  }
}
.mar-top-0{
  margin-top: 0px !important;
}
.font-size-12{
  font-size: 12px;
}
@media screen and (min-width: 1100px) {
  .fixed_header_on_top{
    position: fixed;
    top: 0 ;
  }
}
