.dashboard-container {
  @extend %clearfix;
  position: relative;
  background-color: white;
  min-height: 100vh;
  min-height: calc(100vh - 106px);
  
  @media screen and (min-width: $tablet) { 
    padding-bottom: $bs5;
  } 
  
  @media screen and (min-width: $medium-desktop) { 
    padding-left: 2 * $bs9;

    [dir="rtl"] & {
      padding-left: 0;
      padding-right: 2 * $bs9;
    }
  }
}

.dashboard-content {
  overflow: hidden;
  padding: $bs4 0 $bs3;

  @media screen and (min-width: $desktop) { 
    padding: $bs4 $bs2 $bs3;
  }
  
  .title, .subtitle {
    @extend %basic-title;
  }

  .subtitle {
    color: $grey;
  }
}