%dashboard-content-padding {
  padding-left: $bs0;
  padding-right: $bs0;

  @media screen and (min-width: $tablet) { 
    padding-left: $bs6;
    padding-right: $bs6;
  }
}

.dashboard-container {
  @extend %clearfix;
  position: relative;
  background-color: $medium-grey;
  
  @media screen and (min-width: $tablet) { 
    padding-bottom: $bs5;
  } 
  
  @media screen and (min-width: $medium-desktop) { 
    padding-left: 2 * $bs9;
    min-height: 100vh;
    min-height: calc(100vh - 106px);

    [dir="rtl"] & {
      padding-left: 0;
      padding-right: 2 * $bs9;
    }
  }
}

.dashboard-content, .buyer-dashboard-content {
  @extend %four-sides-border;
  @extend %clearfix;
  background-color: white;
  margin: $bs1 $bs-1;
  
  @media screen and (min-width: $medium-desktop) { 
    margin: 0 $bs-1 $bs1;
  }

  .header-title, .title, .subtitle {
    @extend %basic-title;
  }

  .header-title {
    @extend %dashboard-content-padding;
    padding-top: 0.95 * $bs2;
    padding-bottom: $bs2;
    border-bottom: $default-border;
    margin: 0 0 $bs2 0;

  }

  .header-link {
    text-transform: none;
    font-size: $bs0;
    border: none;
    display: block;
    border-bottom: 1px solid white;

    &:hover {
      border-bottom: 1px solid $blue-basic;
    }

    .icon {
      font-size: $bs2;
      vertical-align: middle;
    }

    @media screen and (min-width: $tablet) { 
      display: inline-block;
      margin: 0 $bs0;
    }
  }

  .title {
    @extend %dashboard-content-padding;
  }

  .subtitle {
    color: $grey;
  }

  form {
    @extend %dashboard-content-padding;
  }
}

.dashboard-section {
  @extend %dashboard-content-padding;
  padding-top: $bs0;
  padding-bottom: $bs5;
}