%dashboard-content-padding {
  padding-left: $bs0;
  padding-right: $bs0;

  @media screen and (min-width: $tablet) { 
    padding-left: $bs6;
    padding-right: $bs6;
  }
}

.dashboard-container {
  @extend %clearfix;
  position: relative;
  background-color: $medium-grey;
  
  @media screen and (min-width: $tablet) { 
    padding-bottom: $bs5;
  } 
  
  @media screen and (min-width: $medium-desktop) { 
    padding-left: 2 * $bs9;
    min-height: 100vh;
    min-height: calc(100vh - 106px);

    [dir="rtl"] & {
      padding-left: 0;
      padding-right: 2 * $bs9;
    }
  }
}

.dashboard-content {
  background-color: white;
  // overflow: hidden;
  border: 1px solid $border-grey;
  margin: 0 $bs-1;

  .header-title, .title, .subtitle {
    @extend %basic-title;
  }

  .header-title {
    @extend %dashboard-content-padding;
    border-bottom: 1px solid $border-grey;
    margin: 0 0 $bs2 0;
    line-height: 3 * $bs2;
  }

  .title {
    @extend %dashboard-content-padding;
  }

  .subtitle {
    color: $grey;
  }

  form {
    @extend %dashboard-content-padding;
  }
}

.dashboard-section {
  @extend %dashboard-content-padding;
  padding-top: $bs0;
  padding-bottom: $bs5;
}