.landing-header {
  background-image: image-url('mena-map-small.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
  padding: 0 0 $bs0 0;

  @media screen and (min-width: $tablet) {
    background-image: image-url('mena-map-medium.png');
    height: 45em;
    padding: 0;
  }

  @media screen and (min-width: $standard-desktop) {
    background-image: image-url('mena-map-large.png');
  }
}

.landing-header-info {
  padding: 0 0 $bs2 0;
  margin: 0 auto;
  text-align: center;

  @media screen and (min-width: $tablet) {
    padding: $bs5 0;
    width: 60%;
    height: 45em;
  }

  @media screen and (min-width: $standard-desktop) {
    width: 60%;
  }

  @media screen and (min-width: $big-desktop) {
    width: 50%;
  }

  h1, h2 {
    font-weight: 100;
  }

  h1 {
    font-size: $bs2;
    line-height: 1.3;
    color: $blue-basic;
    padding: 0 $bs2;

    @media screen and (min-width: $standard-desktop) {
      font-size: $bs3;
    }
    
    @media screen and (min-width: $standard-desktop) {
      font-size: $bs5;
    }
  }

  h2 {
    line-height: 1.6;
    font-size: $bs1;

    @media screen and (min-width: $tablet) {
      font-size: 21px;
    }

    @media screen and (min-width: $standard-desktop) {
      font-size: $bs2;
    }
  }
}

.landing-header-sub-info {
  padding: 0 $bs2;
}

.dashboard-btn, .sign-up-btn {
  @extend %basic-button;
}

.browse-buttons {
  @extend %clearfix;
  width: 100%;
  max-width: 3.45 * $bs8;
  margin: 0 auto 0;
  text-align: center;

  .category-btn:nth-child(3) {
    margin: 0 20px;
  }
}

.category-btn {
  color: white;
  border: none;
  font-size: $bs09;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;

  @media screen and (min-width: 360px) {
    font-size: $bs0;
  }

  &:hover {
    span {
      background-color: $white-opaque;
    }
  }

  span {
    @include transition(background-color, .25s, ease);
    border: 2px solid white;
    width: $bs6;
    height: $bs6;
    padding: $bs-2 0 0;
    border-radius: 50%;
    font-size: $bs4;
    display: block;
    text-align: center;
    margin: 0 auto $bs0 auto;

    @media screen and (min-width: 360px) {
      width: $bs7;
      height: $bs7;
      padding: $bs2 0 0;
    }
  }
}

.dashboard-btn {
  @extend %blue-button;
  margin-top: $bs2;
  margin: $bs2 auto 0;

  @media screen and (min-width: $desktop) {
    margin-top: $bs5;
  }
}


.sign-up-btn {
  margin: $bs5 auto;
  @extend %purple-button;
}

.video-link {
  text-transform: uppercase;
  border: 0;
  display: block;

  .icon-play-circle {
    font-size: $bs5;
    vertical-align: middle;
  }
}

.landing-search-form {
  background-color: white;

  .title {
    color: $basic-font;
  }

  .search-field {
    border: 0;
    border-radius: 0;
  }
  
  @media screen and (min-width: $tablet) {
    
    .select-field {
      border-radius: $bs-5 0 0 $bs-5;

      [dir="rtl"] & {
        border-radius: 0 $bs-5 $bs-5 0;
      }
    }

    input[type="submit"] {
      border-radius: 0 $bs-5 $bs-5 0;

      [dir="rtl"] & {
        border-radius: $bs-5 0 0 $bs-5;
      }
    }
  }
}