.landing-header {
  background-image: image-url('mena-map.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: $bs9 0 0 0;

  @media screen and (min-width: $tablet) {
    height: 45em;
    background-size: cover;
    padding: 0;
  }
}

.landing-header-info {
  color: white;
  background-color: $blue-medium;
  padding: 0 0 $bs2 0;

  @media screen and (min-width: $tablet) {
    padding: $bs5 0;
    width: 60%;
    height: 45em;
    float: right;
    background-color: $blue-opaque;
  }

  @media screen and (min-width: $standard-desktop) {
    width: 60%;
  }

  @media screen and (min-width: $big-desktop) {
    width: 50%;
  }

  h1, h2 {
    font-weight: 100;
  }

  h1 {
    font-size: $bs3;
    line-height: 1.3;
    padding: $bs0 $bs2;
    background-color: $blue-basic;
    
    @media screen and (min-width: $standard-desktop) {
      font-size: $bs5;
    }
  }

  h2 {
    line-height: 1.6;
    font-size: $bs1;

    @media screen and (min-width: $tablet) {
      font-size: 21px;
      max-width: 31em;
    }

    @media screen and (min-width: $standard-desktop) {
      font-size: $bs2;
    }
  }
}

.landing-header-sub-info {
  padding: 0 $bs2;
}

.browse-btn, .dashboard-btn, .sign-up-btn {
  @extend %basic-button;
}

.browse-btn, .dashboard-btn {
  @extend %ghost-button;
  display: inline-block;
  margin-top: $bs2;

   @media screen and (min-width: $tablet) {
    margin-right: $bs0;

    [dir="rtl"] & {
      margin-right: 0;
      margin-left: $bs0;
    }
  }

  @media screen and (min-width: $desktop) {
    margin-top: $bs5;
  }
}


.sign-up-btn {
  margin: $bs5 0;
  @extend %purple-button;
}

.video-link {
  text-transform: uppercase;
  color: white;
  border: 0;
  display: block;

  .icon-play-circle {
    font-size: $bs5;
    vertical-align: middle;
  }
}

.landing-search-form {
  background-color: white;

  .title {
    color: $basic-font;
  }

  .search-field {
    border: 0;
    border-radius: 0;
  }
  
  @media screen and (min-width: $tablet) {
    
    .select-field {
      border-radius: $bs-5 0 0 $bs-5;

      [dir="rtl"] & {
        border-radius: 0 $bs-5 $bs-5 0;
      }
    }

    input[type="submit"] {
      border-radius: 0 $bs-5 $bs-5 0;

      [dir="rtl"] & {
        border-radius: $bs-5 0 0 $bs-5;
      }
    }
  }
}