.products-options {
  @extend %dashboard-content-padding;
  padding-bottom: $bs1;
}

.item-summary {
  @extend %clearfix;
  position: relative;
  border-top: 1px solid $border-grey;

  &:hover, &:focus {
    @include box-shadow(0, 0, 5px, 2px, $border-grey);
    outline: 0;
    
    .edit, .see-page, .delete {
      color: $blue-basic;
    }

    .see-page {
      color: $purple-dark;
    }

    .delete {
      color: $red;
    }
  }

  .breadcrumbs {
    border: 0;
    color: $grey;
    padding: 0 0 $bs0;
  }

  .item-title {
    font-weight: normal;
    margin: $bs-1 0 $bs0;
    line-height: 1.3;
  }

  .item-info {
    width: 60%;
    float: left;

    [dir="rtl"] & {
      float: right;
    }
    
    @media screen and (min-width: $standard-desktop) {
      width: 100%;
      max-width: 4 * $bs8;
    }

    @media screen and (min-width: $standard-desktop) {
      max-width: 4 * $bs9;
    }
  }
}

.item-options {
  @extend %item-options-holder;

  .edit, .see-page, .delete {
    @include transition(all, 0.15s, ease-in-out);
    height: $bs7;
    width: 33.33%;
    text-align: center;
    float: left;
    color: $basic-font; 
    padding: $bs1 0;
    border: 1px solid $border-grey;
    border-left: 0;

    [dir="rtl"] & {
      float: right;
      border-left: 1px solid $border-grey;
      border-right: 0;
    }

    @media screen and (min-width: $tablet) {
      height: 100%;
      min-height: $bs7;
      width: $bs7;
      border: 0;
      border-left: 1px solid $border-grey;

      [dir="rtl"] & {
        border-left: 0;
        border-right: 1px solid $border-grey;
      }
    }

    &:hover, &:focus {
      color: white;
    }
  }

  .edit {
    &:hover , &:focus{
      background-color: $blue-basic;
    }
  }

  .see-page {
    &:hover, &:focus {
      background-color: $purple-dark; 
    }
  }

  .delete {
    border-right: 0;

    [dir="rtl"] & {
      border-left: 0;
    }

    &:hover, &:focus {
      background-color: $red;
    }
  }

  .icon {
    font-size: $bs2;
    display: block;
  }

  .icon-remove {
    font-size: $bs1;
    padding: $bs-5 0 $bs-4
  }
}

.item-img-holder {
  width: 40%;
  max-width: $bs7;
  height: $bs7;
  float: left;
  margin: 0 $bs1 0 0;

  [dir="rtl"] & {
    float: right;
    margin: 0 0 0 $bs1;
  }
}

.item-img {
  width: 100%;
}