.search-results-content {

	.dropdown{

		top:61px;
		width: 41.6%;

			.dropdown-menu.drop-down-list {
				left: 500px;
				.dropdown-submenu{
					width: 274px;
					line-height: 22px;
				}
					.category-box{
						left: 275px;

						li{
							line-height: 22px;
						}
					}
			}
	}
	.search-filters {

		.search-field {
			input[type="text"] {
				max-width: 88%;
			}
		}
		.search-field.browse-filter {
			width: 100%;
		}
	}

}
.search-results-content.companies-main-block{
	.search-filters{
		.search-field{
			input[type="text"]{
				max-width: 180px;
			}
		}
		.search-field.browse-filter{
			width: 40%;
		}
	}
}

@media screen and (min-width: 300px) and (max-width: $all-phone){

	.search-results-content{

		.search-filters{

			.search-field{

				input[type="text"]{
					max-width: 100%;
					margin-bottom: 10px;
				}
			}
		}
		.dropdown{

	    top: -14px;
	    width: 86%;

      .dropdown-menu.drop-down-list{
        left: 28px !important;
        top: 157px;
        width: 100%;
        .category-box{
          left: 40px;
          min-width: 269px;
        }
      }
    }
  }
 .search-results-content.companies-main-block{

		.search-filters{

			.search-field{

				input[type="text"]{

					max-width: 100%;
				}
			}
		.search-field.browse-filter{

			width: 100% !important;
		}
		}
}

.companies-main-block .dropdown-menu {
	top: 160px !important;
}
.companies-main-block .dropdown-menu li.dropdown-submenu{
	width: 273px !important;
}
.companies-main-block .search-filters .search-results-form{
	width: 100% !important;
}
.companies-main-block .search-filters .search-results-form .select-field.browse-filter{
	width: 100% !important;
}
}
@media(min-width: $tablet) and (max-width: $desktop){
	.search-results-content {

		.dropdown{

			width: 82%;
				.dropdown-menu.drop-down-list{

					left: 28px;
						.dropdown-submenu{

							width: 309px;
						}
						.category-box{

							left: 315px;
						}
				}
		}
	}
.companies-main-block .search-filters .search-results-form{
	width: 100% !important;
}

.companies-main-block .dropdown-menu.drop-down-list{
		left: 453px !important;
}

.companies-main-block .dropdown-menu{
	width: 40% !important;
	}
}

.companies-main-block .search-results-content .search-filters .dropdown{
	width: 20% !important;
}

.companies-main-block .dropdown-menu{
	width: 46%;
	left: 891px !important;
		li{
			width: 248px !important;
		}
}

.companies-main-block .search-filters .search-results-form{
	width: 53%;
}

.companies-main-block .search-filters .search-results-form .select-field.browse-filter{
	width: 29%;
}
@media screen and (min-width: 300px) and (max-width: $all-phone){
	.search-results-content{
	  .dropdown {
	    .dropdown-menu{
				.category-box{
					min-width: 100px !important;
					width: 77% !important;
					left: auto !important;
					right: 2px;
				}
			}
	    .dropdown-menu.drop-down-list{
				left: 27px;
				top: 70px;
				width: 100%;
		  }
		}
	}
}
