.column{ "ng-show": "businessItem.hasAttributes()" }
  %h4.subtitle {{ "attributes.attributes" | translate }}
  %table.item-details
    %tr{ "ng-repeat": "attribute in businessItem.get('attributes')" }
      %td.attribute {{ attribute["name"] }}:
      %td {{ attribute["value"] }}
