%h4.section-title.line-behind{ "ng-show": "businessItem.get('description')" }
  %span {{ "products.new.description" | translate }}
%p.item-description{ :itemprop => "description" } {{ businessItem.get('description') }}
