.field.compound-field
  %label {{ "trade_info.fob_price" | translate }}
  %p.field-comment {{ "trade_info.fob_price_comment" | translate }}
  %form-field{ "error": "errors.business_item.fob_price", class: 'inline-field' }
    %input{ type: "text", "ng-model": "businessItem.fob_price" }
  .inline-field
    .select-field
      %select{ "ng-options": "currency.id as currency.label for currency in currencies",
      "ng-model": "businessItem.fob_price_currency_id" }
        %option{ value: "" } -- {{ "trade_info.choose_currency" | translate }} --
    %error-message-for{ "error": "errors.business_item.fob_price_currency_id" }
  .inline-field.field-with-label
    %span {{ "trade_info.per" | translate }}
    .select-field
      %select{ "ng-options": "unit.id as unit.label for unit in units",
      "ng-model": "businessItem.fob_price_unit_id" }
        %option{ value: "" } -- {{ "trade_info.choose_unit" | translate }} --
    %error-message-for{ "error": "errors.business_item.fob_price_unit_id" }

%form-field{ "error": "errors.business_item.port" }
  %label {{ "business_item.port" | translate }}
  %input{ type: "text", "ng-model": "businessItem.port" }

.field.compound-field
  %label {{ "business_item.supply_ability_capacity" | translate }}
  %p.field-comment {{ "trade_info.supply_comment" | translate }}
  %form-field{ "error": "errors.business_item.supply_ability_capacity", class: 'inline-field' }
    %input{ type: "text", "ng-model": "businessItem.supply_ability_capacity" }
  .inline-field
    .select-field
      %select{ "ng-options": "unit.id as unit.label for unit in units",
      "ng-model": "businessItem.supply_ability_unit_id" }
        %option{ value: "" } -- {{ "trade_info.choose_unit" | translate }} --
    %error-message-for{ "error": "errors.business_item.supply_ability_unit_id" }
  .inline-field.field-with-label
    %span {{ "trade_info.per" | translate }}
    .select-field
      %select{ "ng-options": "frequency.id as frequency.label for frequency in frequencies",
      "ng-model": "businessItem.supply_ability_frequency_id" }
        %option{ value: "" } -- {{ "trade_info.choose_frequency" | translate }} --
    %error-message-for{ "error": "errors.business_item.supply_ability_frequency_id" }

.field
  %label {{ "business_item.payment_terms" | translate }}
  .checkbox-field{ "ng-repeat": "term in payment_terms track by term.id" }
    %input{ type: "checkbox", val: "{{term.id}}",
    "ng-model": "businessItem.payment_terms[term.id]",
    "ng-checked": "{{businessItem.payment_terms[term.id]}}",
    id: 'payment_term-{{term.id}}' }
      %label.inline-label{ for: 'payment_term-{{term.id}}' } {{ term.label }}

%form-field{ "error": "errors.business_item.packaging_details" }
  %label {{ "business_item.packaging_details" | translate }}
  %input{ type: "text", "ng-model": "businessItem.packaging_details" }

