%section.item-gallery
  %img{ "ng-src": "{{ businessItem.get('cover_photo') }}", class: "product-main-image" }

  %ul.gallery-thumbs
    %li.item-img-holder{ "ng-repeat": "photo in businessItem.get('photos')" }
      %img.item-img{ "ng-src": "{{ photo['thumb'] }}" }

.item-header
  %h1.item-title {{ businessItem.get('name') }}
  .breadcrumbs{ "ng-include": "'business_items/_breadcrumbs.html'" }

  .seller
    {{ "business_item.seller" | translate }}
    %a{ "ui-sref": "company" } {{ business.name }}
