%section.item-gallery
  %a{ "ng-click": "openCoverPhoto()" }
    %img{ "ng-src": "{{ coverPhoto['url'] }}", class: "product-main-image" }

  %ul.gallery-thumbs{ "ng-show": "photos.length" }
    %li.item-img-holder{ "ng-repeat": "photo in photos" }
      %a{ "ng-click": "openLightboxModal($index)" }
        %img.item-img{ "ng-src": "{{ photo['thumb'] }}" }

.item-header
  %h1.item-title {{ businessItem.get('name') }}
  .breadcrumbs{ "ng-include": "'business_items/_breadcrumbs.html'" }

  .seller
    {{ "business_item.seller" | translate }}:
    %a{ "ui-sref": "business({ id: business.id })" } {{ business.name }}
