.item-summary{ tabindex: "0",
  "dir-paginate": "businessItem in businessItems | itemsPerPage: perPage",
  "total-items": "total", "current-page": "pagination.current" }
  %div{ "ng-include": "'business_items/_item.html'" }

.pagination-container
  %dir-pagination-controls{ "on-page-change": "pageChanged(newPageNumber)" }
