.categories-list-button{ "toggle-categories": "true" }
  %span.icon-list
  Categories List
%aside.all-categories-list
  %ul.category-list
    %li.main-category
      %a.main-category-link{ "ui-sref": "root" }
        %span.icon-chevron-left
        All Categories
      %ul
        %li.subcategory-name
          %a.open{ "ui-sref": "browse" } Home & Garden
          %ul.sub-subcategory-list
            %li.sub-subcategory-name
              %a{ "ui-sref": "browse" } Bakeware
            %li.sub-subcategory-name
              %a{ "ui-sref": "browse" } Barware
            %li.sub-subcategory-name
              %a{ "ui-sref": "browse" } Bathroom Products
            %li.sub-subcategory-name
              %a{ "ui-sref": "browse" } Garden Supplies
            %li.sub-subcategory-name
              %a.open{ "ui-sref": "browse" }
                Home Décor
              %ul.sub-sub-subcategory-list
                %li.sub-sub-subcategory-name
                  %a{ "ui-sref": "browse" } Vases
                %li.sub-sub-subcategory-name
                  %a{ "ui-sref": "browse" } Screens & Room Dividers
                %li.sub-sub-subcategory-name
                  %a{ "ui-sref": "browse" } Plaques
                %li.sub-sub-subcategory-name
                  %a{ "ui-sref": "browse" } Other Home Décor
                %li.sub-sub-subcategory-name
                  %a{ "ui-sref": "browse" } Mirrors
                %li.sub-sub-subcategory-name
                  %a{ "ui-sref": "browse" } Fridge Magnets
                %li.sub-sub-subcategory-name
                  %a{ "ui-sref": "browse" } Curtain Poles, Tracks & Accessories
                %li.sub-sub-subcategory-name
                  %a{ "ui-sref": "browse" } Crystal Soil
            %li.sub-subcategory-name
              %a{ "ui-sref": "browse" } Home Storage & Organization
            %li.sub-subcategory-name
              %a{ "ui-sref": "browse" } Household Chemicals
            %li.sub-subcategory-name
              %a{ "ui-sref": "browse" } Household Cleaning Tools & Accessories
            %li.sub-subcategory-name
              %a{ "ui-sref": "browse" } Household Sundries
            %li.sub-subcategory-name
              %a{ "ui-sref": "browse" } Kitchen Knives & Accessories
            %li.sub-subcategory-name
              %a{ "ui-sref": "browse" } Laundry Products
            %li.sub-subcategory-name
              %a{ "ui-sref": "browse" } Pet Products
            %li.sub-subcategory-name
              %a{ "ui-sref": "browse" } Tableware
            %li.sub-subcategory-name
              %a{ "ui-sref": "browse" } Barware
            %li.sub-subcategory-name
              %a{ "ui-sref": "browse" } Barware
