%p
  %span {{ "category.in" | translate }}
  %span.breadcrumbs-item{ "ng-repeat": "item in businessItem.breadcrumbsWithoutLast()" }
    {{ item.name }}
    %span.icon-chevron-right
  %span.breadcrumbs-item
    {{ businessItem.lastBreadcrumb().name }}
