%section.page-view.service-view.result-item
  %h1
    = t("pages.about_us_title")
  %p
    = t("pages.about_us_description")
  %h2
    = t("pages.mission_title")
  %p
    = t("pages.mission_description")