%form.search-form
  %h2.title Search for product, service or company
  .field.search-field
    .select-field
      %select
        %option all
        %option product
        %option service
        %option company
    %input{ type: "text", placeholder: "I'm looking for.." }
    %input{ type: "submit", value: "Search" }

.container.category-selection-wrapper
  %h1.title Search by Category
  %h3.line-behind
    %span Products
  %ul.category-list
    %li.category-name
      %a{ href: results_path } Agriculture
    %li.category-name
      %a{ href: results_path } Apparel
    %li.category-name
      %a{ href: results_path } Automobiles & Motorcycles
    %li.category-name
      %a{ href: results_path } Beauty & Personal Care
    %li.category-name
      %a{ href: results_path } Business Services
    %li.category-name
      %a{ href: results_path } Chemicals
    %li.category-name
      %a{ href: results_path } Construction & Real Estate
    %li.category-name
      %a{ href: results_path } Consumer Electronics
    %li.category-name
      %a{ href: results_path } Electrical Equipment & Supplies
    %li.category-name
      %a{ href: results_path } Electronic Components & Supplies
    %li.category-name
      %a{ href: results_path } Energy
    %li.category-name
      %a{ href: results_path } Fashion Accessories
    %li.category-name
      %a{ href: results_path } Food & Beverage
    %li.category-name
      %a{ href: results_path } Furniture
    %li.category-name
      %a{ href: results_path } Gifts & Crafts
    %li.category-name
      %a{ href: results_path } Hardware
    %li.category-name
      %a{ href: results_path } Health & Medical
    %li.category-name
      %a{ href: results_path } Home & Garden
    %li.category-name
      %a{ href: results_path } Home Appliances
    %li.category-name
      %a{ href: results_path } Lights & Lighting
    %li.category-name
      %a{ href: results_path } Luggage, Bags & Cases
    %li.category-name
      %a{ href: results_path } Machinery
    %li.category-name
      %a{ href: results_path } Measurement & Analysis Instrument
    %li.category-name
      %a{ href: results_path } Mechanical Parts & Fabrication Services
    %li.category-name
      %a{ href: results_path } Minerals & Metallurgy
    %li.category-name
      %a{ href: results_path } Office & School Supplies
    %li.category-name
      %a{ href: results_path } Packaging & Printing
    %li.category-name
      %a{ href: results_path } Rubber & Plastics
    %li.category-name
      %a{ href: results_path } Security Protection
    %li.category-name
      %a{ href: results_path } Service Equipment
    %li.category-name
      %a{ href: results_path } Shoes & Accessories
    %li.category-name
      %a{ href: results_path } Sports & Entertainment
    %li.category-name
      %a{ href: results_path } Textile & Leather Products
  %h3.line-behind
    %span Services
  %ul.category-list
    %li.category-name
      %a{ href: results_path } Advertising
    %li.category-name
      %a{ href: results_path } Agency Services
    %li.category-name
      %a{ href: results_path } Assurance Services
    %li.category-name
      %a{ href: results_path } Auction
    %li.category-name
      %a{ href: results_path } Business Travel Services
    %li.category-name
      %a{ href: results_path } Certification,Inspection & Credit Management
    %li.category-name
      %a{ href: results_path } Computer & Information Technology Service
    %li.category-name
      %a{ href: results_path } Consulting
    %li.category-name
      %a{ href: results_path } Design Services
    %li.category-name
      %a{ href: results_path } Processing Services
    %li.category-name
      %a{ href: results_path } Royalties & License Services
    %li.category-name
      %a{ href: results_path } Trade Show Services
    %li.category-name
      %a{ href: results_path } Law Services
    %li.category-name
      %a{ href: results_path } Project Cooperation
  %h3.line-behind
    %span Companies
  %ul.category-list
    %li.category-name
      %a{ href: results_path } Manufacturer
    %li.category-name
      %a{ href: results_path } Trading Company
    %li.category-name
      %a{ href: results_path } Buying Office
    %li.category-name
      %a{ href: results_path } Agent
    %li.category-name
      %a{ href: results_path } Ditributer/Wholesalers
    %li.category-name
      %a{ href: results_path } Government Entity
    %li.category-name
      %a{ href: results_path } Association
    %li.category-name
      %a{ href: results_path } Business Services
    %li.category-name
      %a{ href: results_path } Other