%section.page-view.service-view.result-item
  %h1
    Frequently Asked Questions:
  %h3
    1. WHAT is Search in MENA .com?
  %p
    B2B marketplace - B2B trade platform - 100,000 company database - International Business network - Permanent trade show - Professional database - Expertise gallery - Classified industrial companies - Import Export Marketplace - Business lead generator - Suppliers list
  %h3
    2. WHO is it for?
  %p
    Business people - SMEs - Procurement managers - Industrial companies - Export professionals - Distributors - Purchasing managers - Manufacturers - Decision makers
  %h3
    3. HOW can your business benefit from it?
  %p
    B2B e-marketing services - New sales leads - Business partners abroad -      Showroom for your activity - business network - Online Marketing solutions - Business opportunities - New customers - Free business contacts - Visibility for your company.
  %h3
    4. Why do I need to use Search in MENA .com and there is Google (SEO – Search Engine Optimization)?
  %p
    Google SEO limits you to 5 - 10 keywords which links to your website and you can’t guarantee to display at the top of the links on Google. The strategy of Google is to display the website which has high daily visits and huge information. This is what www.Search in MENA .com has.
  %h3
    5. Why do I need to use Search in MENA .com and there is Google Ad words (Advertising in Google)?
  %p
    Search in MENA .com is cheaper and guarantees better leads because it is a specific website for businesses.
  %h3
    6. What is the difference between my website and having my information on your website?
  %p
    We are a B2B marketplace, millions of managers know who we are and they access the website frequently to find suppliers, manufacturers and other businesses. In addition, Search in MENA .com will help you display at the top of the page on Google. While the visitors on your website are your clients and people who already know you.
  %h3
    7. I have my own marketing department why do I need your services?
  %p
    A) If your company is using offline marketing only. The online marketing method would be easier, faster and cheaper. You can target more clients nationally and internationally. Google is the main search tool that all clients use. Search in MENA .com works with Google and will help you display your profile at the top of the page on Google.
  %p
    B) B If your company already is using online marketing. We are a new channel to attract clients, our tools are more advanced because of our b2b marketplace which has 100,000 companies and this will help you use unlimited specific keywords and display on the top of the page on Google. You can have access to our 100,000 database of companies and managers to promote your company and use our Social Media too.
  %h3
    8. What countries do the leads come from?
  %p
    The leads come from around the world, but our main focus is the MENA Region and it is related to your content and sector. For example if you want to get a lead from clients, partners, distributors, or resellers from Saudi Arabia you have to be specific in your company profile.
  %h3
    9. What is the difference between the Free and Paid Registration?
  %p
    The Free Registration just allows you to put a brief short description of the company profile and limited products and services.  You get leads by chance, in the Paid Registration you put full business information, you can add unlimited products, and services. All of that information will be linked with Google. The more information you have, more keywords related to your business will display on Google. In addition to these channels we use our b2b marketplace which allows you to list on 5 sectors and you can have access to our e-mail marketing campaign which has 100,000 company and managers names, and finally we post your products in our social media.
  %h3
    10. How will I display as a Premium Subscriber on Search in MENA .com?
  %p
    You will be displayed at the first of the page but depending on the history of other Premium Subscribers. Example, if you registered, then another company in 3 days registered they will be displaying on the top. (First comes first list).
  %h3
    11. You have a round of 100,000 companies, how can I assure they will know me?
  %p
    Not all of them will be your potential clients; some of them will be interested in your business, which is why you have to be specific when you choose the sectors and categories of the companies that will be promoted.
  %h3
    12. How can I measure the traffic rate?
  %p
    We have tools that explain how many visitors visit your profile, how many messages and calls you receive through Search in MENA .com.
  %h3
    13. How long does it take for my profile to appear on Google?
  %p
    It takes around 30 days.
  %h3
    14. What are the payment methods?
  %p
    You can pay through bank transfers, online payment, check, and cash on delivery.
  %h3
    15. What is the difference between Kompass, Alibaba and Search in MENA .com?
  %p
    Kompass focuses in Europe, Alibaba in China and we focus in the Middle East & North Africa Region. And they are weak in the Arabic content.