.basic-container
  .form-wrapper
    %h1 Create Account
    %h3
      Already have an account?
      = link_to "Sign in"

    .registration-benefits
      %h1 What you get
      %p
        By creating an account you’re gaining full access
        to best offers on the market.
        You will be able to find exactly these offers
        that match your expectations.

      %h2
        As a
        %span seller
      %ul
        %li you can create public profile of your company
        %li show products and services that you offer
        %li reach your potential client.

      %h2
        As a 
        %span buyer
      %ul
        %li you can create a buying request
        %li find best offer
        %li make contact with sellers.