%section.landing-header
  .landing-header-info
    %h1
      Join Search in MENA marketplace
      %br
      and start getting
      inquiries from buyers today.
    .landing-header-sub-info
      %h2
        We are a b2b marketplace for sellers and buyers in the
        MENA region.
        Sellers create business profiles
        and buyers browse sellers
        they want to source from.
      = link_to("https://goo.gl/VJhhcl",
        target: "_blank", class: "video-link") do
        %span.icon-play-circle
        watch video
      - if user_signed_in?
        = link_to("Browse", browse_path, class: "browse-btn")
        = link_to("See dashboard", dashboard_path, class: "dashboard-btn")
      - else
        = link_to("Join now", new_user_registration_path, class: "sign-up-btn")
%form.search-form.landing-search-form
  %h2.title Search for product, service or company
  .field.search-field
    .select-field
      %select
        %option all
        %option product
        %option service
        %option company
    %input{ type: "text", placeholder: "I'm looking for.." }
    %input{ type: "submit", value: "Search" }

