%section.landing-header
  .container
    %h1
      Join Search in MENA marketplace and start getting
      inquiries from buyers today.
    %h2
      We are a b2b marketplace for sellers and buyers in the
      MENA region. Sellers create business profiles and buyers
      browse sellers they want to source from

