%form.search-form
  %h2.title Search for product, service or company
  .field.search-field
    .select-field
      %select
        %option all
        %option product
        %option service
        %option company
    %input{ type: "text", placeholder: "I'm looking for.." }
    %input{ type: "submit", value: "Search" }

.container.category-selection-wrapper
  %h1.title Search by Category

  %h3.line-behind
    %span Products
  %ul.category-list
    %li.category-name
      %a{ href: "#" } Agriculture
    %li.category-name
      %a{ href: "#" } Apparel
    %li.category-name
      %a{ href: "#" } Automobiles & Motorcycles
    %li.category-name
      %a{ href: "#" } Beauty & Personal Care
    %li.category-name
      %a{ href: "#" } Business Services
    %li.category-name
      %a{ href: "#" } Chemicals
    %li.category-name
      %a{ href: "#" } Construction & Real Estate
    %li.category-name
      %a{ href: "#" } Consumer Electronics
    %li.category-name
      %a{ href: "#" } Electrical Equipment & Supplies
    %li.category-name
      %a{ href: "#" } Electronic Components & Supplies
    %li.category-name
      %a{ href: "#" } Energy
    %li.category-name
      %a{ href: "#" } Fashion Accessories
    %li.category-name
      %a{ href: "#" } Food & Beverage
    %li.category-name
      %a{ href: "#" } Furniture
    %li.category-name
      %a{ href: "#" } Gifts & Crafts
    %li.category-name
      %a{ href: "#" } Hardware
    %li.category-name
      %a{ href: "#" } Health & Medical
    %li.category-name
      %a{ href: "#" } Home & Garden
    %li.category-name
      %a{ href: "#" } Home Appliances
    %li.category-name
      %a{ href: "#" } Lights & Lighting
    %li.category-name
      %a{ href: "#" } Luggage, Bags & Cases
    %li.category-name
      %a{ href: "#" } Machinery
    %li.category-name
      %a{ href: "#" } Measurement & Analysis Instrument
    %li.category-name
      %a{ href: "#" } Mechanical Parts & Fabrication Services
    %li.category-name
      %a{ href: "#" } Minerals & Metallurgy
    %li.category-name
      %a{ href: "#" } Office & School Supplies
    %li.category-name
      %a{ href: "#" } Packaging & Printing
    %li.category-name
      %a{ href: "#" } Rubber & Plastics
    %li.category-name
      %a{ href: "#" } Security Protection
    %li.category-name
      %a{ href: "#" } Service Equipment
    %li.category-name
      %a{ href: "#" } Shoes & Accessories
    %li.category-name
      %a{ href: "#" } Sports & Entertainment
    %li.category-name
      %a{ href: "#" } Textile & Leather Products
  %h3.line-behind
    %span Services
  %ul.category-list
    %li.category-name
      %a{ href: "#" } Advertising
    %li.category-name
      %a{ href: "#" } Agency Services
    %li.category-name
      %a{ href: "#" } Assurance Services
    %li.category-name
      %a{ href: "#" } Auction
    %li.category-name
      %a{ href: "#" } Business Travel Services
    %li.category-name
      %a{ href: "#" } Certification,Inspection & Credit Management
    %li.category-name
      %a{ href: "#" } Computer & Information Technology Service
    %li.category-name
      %a{ href: "#" } Consulting
    %li.category-name
      %a{ href: "#" } Design Services
    %li.category-name
      %a{ href: "#" } Processing Services
    %li.category-name
      %a{ href: "#" } Royalties & License Services
    %li.category-name
      %a{ href: "#" } Trade Show Services
    %li.category-name
      %a{ href: "#" } Law Services
    %li.category-name
      %a{ href: "#" } Project Cooperation
  %h3.line-behind
    %span Companies
  %ul.category-list
    %li.category-name
      %a{ href: "#" } Manufacturer
    %li.category-name
      %a{ href: "#" } Trading Company
    %li.category-name
      %a{ href: "#" } Buying Office
    %li.category-name
      %a{ href: "#" } Agent
    %li.category-name
      %a{ href: "#" } Ditributer/Wholesalers
    %li.category-name
      %a{ href: "#" } Government Entity
    %li.category-name
      %a{ href: "#" } Association
    %li.category-name
      %a{ href: "#" } Business Services
    %li.category-name
      %a{ href: "#" } Other