.premium-container
  .first-half
    .container-1
      .row
        %h3.heading List your Business
        %p.set-font.mar-bottom-zero 
          %b Online Visibility
        %hr
        %a.btn.btn-red{ href: Sim::Routes.new_user_registration_path }
          = t('main_nav.signup')
        %h1.heading.mar-bottom Free
        %p.set-font.mar-bottom-zero Upto 5 products
        %hr
        %p.set-font.mar-bottom-zero Gain new leads
        %hr
        %p.set-font.mar-bottom-zero Get a Presence online
        %hr

  .second-half
    .container-2
      .row1
        %h2.heading-1 Premium
        %h3.heading.mar-bottom-zero Attract new clients online
        %hr
        %a.btn.btn-red{ href: Sim::Routes.new_user_registration_path }
          = t('text.subscribe')
        .mar-bottom-one
          %span
            %b.dollar-sign $
            %b.price-tag 83/ 
            %b.month Month
            %p.red-color.heading billed annually
            %b.move $
            %b.price-tag1 996
            %b.year / year
        %p.set-font.mar-bottom-zero Upto 25 products
        %hr
        %p.set-font.mar-bottom-zero
          %b Verified Logo
        %hr
        %p.set-font.mar-bottom-zero 1st Priority Ranking
        %hr
        %p.set-font.mar-bottom-zero Visible on competitors' page
        %hr
        %p.set-font.mar-bottom-zero Display on Google page(SEO)
        %hr