%section.product-page
  = image_tag("vase-5.jpg", class: "product-main-image ")

  .product-header
    %h1.product-title Beautiful Oriental Vase White Casual Modern Design
    .breadcrumbs
      in
      %a{ href: "#" } Products
      >
      %a{ href: "#" } Home & Garden
      >
      %a{ href: "#" } Home Decor
    .seller
      Seller:
      = link_to("Great Company", "#")

  .product-short-info
    %table.product-details
      %tr
        %td.attribute FOB price:
        %td $4,500 - 10,000 / Piece
      %tr
        %td.attribute Min. Order Quantity:
        %td 1 Piece/Pieces
      %tr
        %td.attribute Supply Ability:
        %td 50 Piece/Pieces per Month
      %tr
        %td.attribute Port:
        %td Shenzhen /Chongqing/ Shanghai /HK /any China port

    %button.contact-supplier
      %span.icon.icon-envelope
      Contact Seller

  .product-info
    %h4.section-title.line-behind
      %span Details
    %h4.section-title.line-behind
      %span Product Description
    %p.product-description
      Chupa chups cheesecake chocolate bar tootsie roll lemon drops muffin
      cupcake tart halvah. Cotton candy
      pudding apple pie gummies croissant. Marshmallow liquorice chocolate
      icing marshmallow sugar plum
      fruitcake fruitcake apple pie.
      Chupa chups cheesecake chocolate bar tootsie roll lemon drops muffin
      cupcake tart halvah. Cotton candy
      pudding apple pie gummies croissant. Marshmallow liquorice chocolate
      icing marshmallow sugar plum