= render "components/categories_list"
.search-results-container
  %form.search-results-form
    .field.search-field
      %input{ type: "text", value: "beautiful vase" }
      %input{ type: "submit", value: "Search" }
  .breadcrumbs
    in
    %a{ href: "#" } Products
    >
    %a{ href: "#" } Home & Garden
    >
    %a{ href: "#" } Home Decor
  .search-filters
    .sorting
      %span.filter-label Sort by:
      %a.active{ href: "#" } Best matching
      %a{ href: "#" }
        Most popular

    .view-options
      %span.filter-label view options
      %span.icon.icon-th-list
      %span.icon.icon-th.active

  %h3.title 245 Search Results:
  %ul.search-results.net-view
    %li.result-item
      .img.vase-1
      .result-title
        Beautiful oriental Vase
      .from
        from: Company Name
    %li.result-item
      .img.vase-2
      .result-title
        Beautiful oriental Vase
      .from
        from: Company Name
    %li.result-item
      .img.vase-3
      .result-title
        Beautiful oriental Vase
      .from
        from: Company Name
    %li.result-item
      .img.vase-4
      .result-title
        Beautiful oriental Vase
      .from
        from: Company Name
    %li.result-item
      .img.vase-5
      .result-title
        Beautiful oriental Vase
      .from
        from: Company Name
    %li.result-item
      .img.vase-6
      .result-title
        Beautiful oriental Vase
      .from
        from: Company Name
    %li.result-item
      .img.vase-7
      .result-title
        Beautiful oriental Vase
      .from
        from: Company Name
  %ul.search-results.list-view
    %li.result-item
      .img.vase-1
      .result-title
        Beautiful oriental Vase
      .from
        from: Company Name
    %li.result-item
      .img.vase-2
      .result-title
        Beautiful oriental Vase
      .from
        from: Company Name
    %li.result-item
      .img.vase-3
      .result-title
        Beautiful oriental Vase
      .from
        from: Company Name
    %li.result-item
      .img.vase-4
      .result-title
        Beautiful oriental Vase
      .from
        from: Company Name
    %li.result-item
      .img.vase-5
      .result-title
        Beautiful oriental Vase
      .from
        from: Company Name
    %li.result-item
      .img.vase-6
      .result-title
        Beautiful oriental Vase
      .from
        from: Company Name
    %li.result-item
      .img.vase-7
      .result-title
        Beautiful oriental Vase
      .from
        from: Company Name