%section.page-view.service-view.result-item
  %h1
    = t("main_nav.terms")
  %h5
    = t("pages.terms_date")
  %h3
    =t("pages.terms_point_1")
  %p
    =t("pages.terms_point_1_desc")
  %h3
    =t("pages.terms_point_2")
  %p
    =t("pages.terms_point_2_desc")
  %h3
    =t("pages.terms_point_3")
  %p
    =t("pages.terms_point_3_desc")
  %h3
    =t("pages.terms_point_4")
  %p
    =t("pages.terms_point_4_desc")
  %h3
    =t("pages.terms_point_5")
  %p
    =t("pages.terms_point_5_desc")
  %h3
    =t("pages.terms_point_6")
  %p
    =t("pages.terms_point_6_desc")
  %h3
    =t("pages.terms_point_7")
  %p
    =t("pages.terms_point_7_desc")
  %h3
    =t("pages.terms_point_7_1")
  %p
    =t("pages.terms_point_7_1_desc")
  %h3
    =t("pages.terms_point_8")
  %p
    =t("pages.terms_point_8_desc")
  %h3
    =t("pages.terms_point_9")
  %p
    =t("pages.terms_point_9_desc")
  %h3
    =t("pages.terms_point_11")
  %p
    =t("pages.terms_point_11_desc")
  %h3
    =t("pages.terms_point_12")
  %p
    =t("pages.terms_point_12_desc")
  %h3
    =t("pages.terms_point_13")
  %p
    =t("pages.terms_point_13_desc")
  %h3
    =t("pages.terms_point_14")
  %p
    =t("pages.terms_point_14_desc")
  %h3
    =t("pages.terms_point_15")
  %p
    =t("pages.terms_point_15_desc")
  %h3
    =t("pages.terms_point_16")
  %p
    =t("pages.terms_point_16_desc")
  %h3
    =t("pages.terms_point_17")
  %p
    =t("pages.terms_point_17_desc")
  %h3
    =t("pages.terms_point_18")
  %p
    =t("pages.terms_point_18_desc")