%h1.title {{ "company.title" | translate }}

%ul.company-tabs
  %li.tab
    %a{ "ui-sref": "company.basic-info", "ui-sref-active": "active",
        class: "tab-link" }
      {{ "company.tabs.basic_info" | translate }}
      .icon-chevron-down
  %li.tab
    %a{ "ui-sref": "company.trade-details", "ui-sref-active": "active",
        class: "tab-link" }
      {{ "company.tabs.trade_details" | translate }}
      .icon-chevron-down
  %li.tab
    %a{ "ui-sref": "company.certifications", "ui-sref-active": "active",
        class: "tab-link" }
      {{ "company.tabs.certifications" | translate }}
      .icon-chevron-down

%ui-view
