%h2.header-title {{ "company.title" | translate }}

%ul.company-tabs
  %li.tab{ "ng-repeat": "tab in tabs"}
    %a{ "ui-sref": "{{tab.href}}", "ui-sref-active": "active",
        class: "tab-link" }
      {{ tab.name | translate }}
      .icon-chevron-down

%ui-view
