%h1.title= I18n.t("company.title")

%ul.company-tabs
  %li.tab
    %a{href: "#", class: "tab-link active"}
      = I18n.t("company.tabs.basic_info")
      .icon-chevron-down
  %li.tab
    %a{href: "#", class: "tab-link"}
      = I18n.t("company.tabs.trade_details")
      .icon-chevron-down
  %li.tab
    %a{href: "#", class: "tab-link"}
      = I18n.t("company.tabs.certifications")
      .icon-chevron-down