%h1= I18n.t("company.title")

%ul.company-tabs
  %li
    %a{href: "#"}= I18n.t("company.tabs.basic_info")
  %li
    %a{href: "#"}= I18n.t("company.tabs.trade_details")
  %li
    %a{href: "#"}= I18n.t("company.tabs.certifications")
