%form
  .field
    %label Annual Sales Value
    %input{ type: "text"}
  .field
    %label Export
    %input.size-specified{ type: "number", size: "4"}
    %span %
  .field
    %label Main markets
    %input{ type: "text", placeholder: "add region"}
  .field
    %label Customer list
    %input{ type: "text", placeholder: "customer name"}
    %button.plus-button.icon-plus add more
  .field
    %label Nearest port
    %input{ type: "text", placeholder: "port name"}
    %button.plus-button.icon-plus add more
  .field
    %label Average lead time
    %input{ type: "text"}
  .field
    %label Offices Overseas
    %input{ type: "text", placeholder: "Office"}
    %button.plus-button.icon-plus add more
  .field
    %label Language spoken
    %input{ type: "text", placeholder: "add language"}
  .field
    %label Accepted Delivery Terms
    .checkbox-field
      %input{ type: "checkbox"}
      %label.inline-label Horse
    .checkbox-field
      %input{ type: "checkbox"}
      %label.inline-label Mule
    .checkbox-field
      %input{ type: "checkbox"}
      %label.inline-label Rocket
    .checkbox-field
      %input{ type: "checkbox"}
      %label.inline-label Boat
  .field
    %label Accepted Payment Terms
    .checkbox-field
      %input{ type: "checkbox"}
      %label.inline-label Gold
    .checkbox-field
      %input{ type: "checkbox"}
      %label.inline-label Mules
    .checkbox-field
      %input{ type: "checkbox"}
      %label.inline-label Smiles
  .actions
    %input{ type: "submit", value: "Save changes"}
