%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%max-width-container {
  max-width: 1380px;
  margin: $bs3 auto;
  padding: 0 $bs-3;

  @media screen and (min-width: $tablet) {
    padding: 0 $bs2;  
  }
}

.container {
  @extend %max-width-container;
}
