%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%max-width-container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 $bs2;
}

.container {
  @extend %max-width-container;
}