%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%wide-container {
  max-width: 1600px;
  margin: 0 auto;
}

%max-width-container {
  max-width: 1380px;
  margin: $bs3 auto;
  padding: 0 $bs-3;

  @media screen and (min-width: $tablet) {
    padding: 0 $bs2;  
  }
}

%item-options-holder {
  @extend %clearfix;
  border-bottom: $bs0 solid #f5f5f5;
  clear: both;

  @media screen and (min-width: $tablet) {
    border-bottom: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

    [dir="rtl"] & {
      left: 0;
      right: auto;
    }
  }
}

.container {
  @extend %max-width-container;
  
  @media screen and (min-width: $medium-desktop) {
    min-height: 100vh;
    min-height: calc(100vh - 106px);
  }
}

.clearfix {
  @extend %clearfix;
}