$base-font: "Roboto", Helvetica, sans-serif;
$bold-font: "Roboto", Helvetica, sans-serif;
$base-arabic-font: "NotoNaskhArabic-Regular", Helvetica, serif;
$bold-arabic-font: "NotoNaskhArabic-Bold", Helvetica, serif;

body {
  font-family: $base-font;
  color: $basic-font;
  text-rendering: optimizeLegibility;
  font-size: 16px;
}

[dir="rtl"] {
  font-family: $base-arabic-font;
}

[lang="ar"] {
  font-family: $base-arabic-font;
}

a {
  color: $blue-basic;
  text-decoration: none;
  border-bottom: 1px solid $blue-basic;
  cursor: pointer;

  &.plain-link {
    border-bottom: 0;

    &:hover {
      border-bottom: 1px solid $blue-basic;
    }
  }
}

p {
  line-height: 1.6;
}

%basic-title {
  text-transform: uppercase;
  font-weight: 100;
}

.title {
  @extend %basic-title;
}

.line-behind {
  text-align: center;
  border-top: 1px solid $border-grey;
  margin: $bs5 0 $bs0;

  span {
    @extend %basic-title;
    color: $grey;
    background-color: white;
    padding: 0 $bs-3;
    position: relative;
    top: -$bs09;
  }
}
