$base-font: "Roboto", Helvetica, sans-serif;
$bold-font: "Roboto", Helvetica, sans-serif;
$base-arabic-font: "NotoNaskhArabic-Regular", Helvetica, serif;
$bold-arabic-font: "NotoNaskhArabic-Bold", Helvetica, serif;

body {
  font-family: $base-font;
  color: $basic-font;
  text-rendering: optimizeLegibility;
  font-size: 16px;
}

[lang="ar"] {
  font-family: $base-arabic-font;
}

a {
  color: $blue-basic;
  text-decoration: none;
  border-bottom: 1px solid $blue-basic;
}

p {
  line-height: 1.6;
}

%basic-title {
  text-transform: uppercase;
  font-weight: 100;
}