.breadcrumbs {
  .breadcrumbs-item, .icon-chevron-right {
    display: inline-block;
  }

  .icon-chevron-right {
    [dir="rtl"] & {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}