.mist {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}

.remove-button {
  float: right;
  margin: $bs0;
  padding: $bs-3;
  cursor: pointer;
}

.btf-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 850px;
  min-width: 330px;
  height: auto;
  z-index: 2000;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: $snow-white;
  border: 1px solid $border-grey;
  border-radius: $bs-3; 
}

.modal-header {
  font-weight: 100;
  margin: 0;
  padding: $bs0;
  border-bottom: 1px solid $border-grey;

  .icon-chevron-right {
    vertical-align: middle;
  }

  .icon-circle-arrow-left {
    vertical-align: middle;
    font-size: $bs4;
    color: $blue-basic;

    &:hover {
      cursor: pointer;
    }
  }
}

.choose-category-list {
  list-style: none;
  padding: $bs0 $bs2;

  @media screen and (min-width: $big-phone) {
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }
  
  @media screen and (min-width: $tablet) {
    -moz-column-count: 3;
    -webkit-column-count: 3;
  }

  .category-name {
    color: $blue-basic;
    padding: $bs-3 0;

    &:hover {
      cursor: pointer;
    }
  }
}

.modal-action {
  @extend %clearfix;
  padding: $bs0;
  border-top: 1px solid $border-grey;

  input {
    float: right;
  }
}

.categories-container {
  position: relative;
  height: 440px;
  overflow: hidden;
}