.dashboard-menu-btn {
  text-transform: uppercase;
  background-color: $snow-white;
  border-bottom: 1px solid $border-grey;
  color: $blue-basic;
  padding: $bs0 $bs2;

  @media screen and (min-width: $medium-desktop) {
    display: none;
  }

  &:hover, &:focus {
    cursor: pointer;
    background-color: $light-grey;
  }

  .icon-chevron-down {
    font-size: $bs2;
    vertical-align: middle;
    padding: 0 $bs-2 0 0;
  }
}

.dashboard-navigation {
  @include transition(all, 1s, ease-in-out);
  background-color: $medium-grey;
  border-bottom: 1px solid $border-grey;
  list-style: none;
  width: 100%;
  max-height: 0;
  overflow: hidden;

  &.show {
    max-height: 9999px;
  }

  @media screen and (min-width: $medium-desktop) { 
    max-height: none;
    display: block;
    border-right: 1px solid $border-grey;
    position: absolute;
    left: 0;
    height: 100%;
    width: 2 * $bs9;

    [dir="rtl"] & {
      right: 0;
      border-right: 0;
      border-left: 1px solid $border-grey;
    }
  }

  li {
    @extend %clearfix;
  }

  .nav-link {
    @include transition(all, .25s, ease-in-out);
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 $bs2 0 0;
    line-height: 3 * $bs1;
    border-bottom: 0;
    position: relative;
    color: $basic-font;
    font-weight: 100;
    border-bottom: 1px solid $border-grey;

    [dir="rtl"] & {
      padding: 0 0 0 $bs2;
    }

    &.active {
      background-color: white;
      color: $nav-link;

      .icon {
        color: $nav-link;
      }
    }

    &:hover, &:focus {
      color: $nav-link;
    }
  }

  .icon {
    @include transition(all, .25s, ease-in-out);
    display: inline-block;
    font-size: $bs2;
    line-height: 3 * $bs1;
    padding: 0 $bs2;
    float: left;
    color: $grey;

    [dir="rtl"] & {
      float: right;
    }
  }
}
