.dashboard-navigation {
  background-color: $snow-white;
  border-right: 1px solid $border-grey;
  float: left;
  list-style: none;
  width: 2*$bs9;
  min-height: 70em;

  [dir="rtl"] & {
    float: right;
    border-right: 0;
    border-left: 1px solid $border-grey;
  }

  li {
    @extend %clearfix;
  }

  .nav-link {
    @include transition(all, .25s, ease-in-out);
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 $bs2 0 0;
    line-height: 3 * $bs2;
    border-bottom: 1px solid $border-grey;
    position: relative;

    [dir="rtl"] & {
      padding: 0 0 0 $bs2;
    }

    &.active {
      background-color: $nav-link;
      color: white;

      &:hover, &:focus {
        background-color: $nav-link;
      }
    }

    &:hover, &.focus {
      background-color: $light-grey;
    }
  }

  .icon {
    @include transition(all, .25s, ease-in-out);
    display: inline-block;
    font-size: $bs2;
    line-height: 3 * $bs2;
    padding: 0 $bs2;
    border-right: 1px solid $border-grey;
    float: left;
    margin: 0 $bs1 0 0;

    [dir="rtl"] & {
      float: right;
      border-right: 0;
      border-left: 1px solid $border-grey;
      margin: 0 0 0 $bs1;
    }
  }
}