.dashboard-menu-btn {
  text-transform: uppercase;
  background-color: white;
  border-bottom: $default-border;
  color: $blue-basic;
  line-height: 3 * $bs2;

  @media screen and (min-width: $medium-desktop) {
    display: none;
  }

  &:hover, &:focus {
    cursor: pointer;
  }

  .icon-chevron-down {
    display: inline-block;
    font-size: $bs2;
    line-height: 3 * $bs2;
    padding: 0 $bs2;
    vertical-align: middle;
    border-right: $default-border;
    margin-right: $bs0;

    [dir="rtl"] & {
      margin-right: 0;
      margin-left: $bs0;
      border-right: 0;
      border-left: $default-border;
    }
  }
}

.dashboard-navigation {
  @include transition(all, 1s, ease-in-out);
  background-color: white;
  border-bottom: $default-border;
  list-style: none;
  width: 100%;
  max-height: 0;
  overflow: hidden;

  &.show {
    max-height: 9999px;
  }

  @media screen and (min-width: $medium-desktop) { 
    max-height: none;
    display: block;
    border-top: $default-border;
    border-right: $default-border;
    border-bottom: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 2 * $bs9;

    [dir="rtl"] & {
      right: 0;
      border-right: 0;
      border-left: $default-border;
    }
  }

  li {
    @extend %clearfix;
  }

  .nav-link {
    @include transition(all, .25s, ease-in-out);
    display: block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 $bs2 0 0;
    line-height: 3 * $bs2;
    border-bottom: 0;
    position: relative;
    color: $basic-font;
    font-weight: 100;
    border-bottom: $default-border;

    [dir="rtl"] & {
      padding: 0 0 0 $bs2;
    }

    &.active {
      background-color: white;
      color: $nav-link;

      .icon {
        color: $nav-link;
      } 
      
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 6px;
        height: 100%;
        height: calc(100% + 2px);
        top: -1px;
        right: 0;
        background-color: $nav-link;

        [dir="rtl"] & {
          right: auto;
          left: 0;
        }
      }
    }

    &:hover, &:focus {
      color: $nav-link;
      background-color: white;
    }
  }

  .icon {
    @include transition(all, .25s, ease-in-out);
    display: inline-block;
    font-size: $bs2;
    line-height: 3 * $bs2;
    padding: 0 $bs2;
    float: left;
    color: $grey;
    border-right: $default-border;
    margin-right: $bs0;

    [dir="rtl"] & {
      float: right;
      border-right: 0;
      border-left: $default-border;
      margin-right: 0;
      margin-left: $bs0;
    }
  }
}
