footer {
  @extend %clearfix;
  font-weight: 100;
  color: white;
  background-color: $purple-dark;

  .title {
    text-transform: none;
  }
}

.address-title {
  margin: $bs5 0 $bs-3;
  font-weight: 100;
}

address {
  line-height: 1.6;
}

.about-desc {
  max-width: 5 * $bs9;
}

.footer-column {
  padding: $bs2;

  @media screen and (min-width: $tablet) {
    @include float-direction;
    width: 50%;
  }
}

.footer-categories {
  @extend %clearfix;
  margin: 0 0 $bs2;

  @media screen and (min-width: $tablet) {
    margin: $bs1 0 0;
  }
}

.footer-category-btn {
  color: white;
  text-transform: uppercase;
  border: none;
  display: block;
  padding: $bs0 0 ;

  span {
    font-size: $bs5;
    display: inline-block;
    vertical-align: sub;
    height: auto;
  }

  @media screen and (min-width: $tablet) {
    display: inline-block;
    padding: $bs-3 $bs0 ;
  }
}

.social-link {
  @include transition(all, .25s, ease-in-out);
  width: $bs5;
  height: $bs5;
  display: inline-block;
  border: none;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 $bs-3 0 0;
}

.facebook-link {
  background-image: image-url("icon-facebook.png");
  background-color: #3B5998;

  &:hover, &:focus {
    outline: 3px solid #3B5998;
  }
}

.twitter-link {
  background-image: image-url("icon-twitter.png");
  background-color: #00aced;

  &:hover, &:focus {
    outline: 3px solid #00aced;
  }
}

.google-plus-link {
  background-image: image-url("icon-google-plus.png");
  background-color: #dd4b39;

  &:hover, &:focus {
    outline: 3px solid #dd4b39;
  }
}

.linkedin-link {
  background-image: image-url("icon-linkedin.png");
  background-color: #007bb6;

  &:hover, &:focus {
    outline: 3px solid #007bb6;
  }
}

.instagram-link {
  background-image: image-url("icon-instagram.png");
  background-color: #325c86;

  &:hover, &:focus {
    outline: 3px solid #4174A8;
  }
}

.youtube-link {
  background-image: image-url("icon-youtube.png");
  background-color: #DE2825;

  &:hover, &:focus {
    outline: 3px solid #DD4425;
  }
}

.angel-link {
  background-image: image-url("icon-angel.png");
  background-color: #ffffff;

  &:hover, &:focus {
    outline: 3px solid #FCFCFC;
  }
}

.sitemap {
  @extend %clearfix;
  background-color: $purple-super-dark;
  padding: $bs-3 $bs5 $bs1;
  clear: both;
}

.copyright {
  font-size: $bs09;
  margin: $bs1 0 0;
  text-align: center;
}

.award-img {
  max-width: 100%;
}