%basic-input {
  line-height: 2;
  padding: 0 $bs-3;
  width: 100%;
  border: 1px solid $border-grey;
  display: block;
  font-family: inherit;

  .field-with-errors & {
    border-color: $red;
  }
  
  &:focus {
    outline: 0;
    border: 1px solid $blue-basic;
  }

  @media screen and (min-width: $tablet) {
    max-width: 4 * $bs9;
  }
}

form {
  padding: $bs2;
}

label {
  font-weight: 100;
  display: block;
  margin-bottom: $bs-5;
  width: 100%;

  @media screen and (min-width: $tablet) {
    max-width: 2 * $bs9;
  }

  .checkbox & {
    display: inline;
  }
}

.inline-label {
  display: inline;
  padding: 0 $bs1 0 $bs-5;

  [dir="rtl"] & {
    padding: 0 $bs-5 0 $bs1;
  }
}

.field-comment {
  display: inline;
  color: $grey;
  font-weight: 100;
  font-size: $bs09;
}

input[type="text"], input[type="email"], input[type="password"] {
  @extend %basic-input;
}

.field {
  margin: 0 0 $bs2 0;
}

.select-field {
  padding: 0;
  margin: 0;
  border: 1px solid $border-grey;
  width: 100%;
  overflow: hidden;
  background-color: white;
  position: relative;

  @media screen and (min-width: $tablet) {
    max-width: 4 * $bs9;
  }

  &:after {
    font-family: "flatline";
    content: "\e6ab";
    position: absolute;
    right: $bs-3;
    top: $bs-2;
    color: $blue-basic;
    cursor: pointer;

    [dir="rtl"] & {
      right: auto;
      left: $bs-3;
    }
  }
  
  select {
    font-family: inherit;
    padding: 0 $bs-3;
    line-height: 2;
    height: 34px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      outline: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.checkbox-field {
  padding: $bs-3 0;

  @media screen and (min-width: $tablet) {
    display: inline-block;
  }
}

tags-input .tags {
  @extend %basic-input;
  box-shadow: none;

  &.focused {
    outline: 0;
    border: 1px solid $blue-basic;
    box-shadow: none;
  }

  .input {
    font: inherit;
    height: auto;
    line-height: 2.5;
    width: auto;
    border: none;
    padding: 0;
    margin: 0;

    [dir="rtl"] & {
      float: right;
    }
  }

  .tag-item {
    font: inherit;
    font-weight: 100;
    background: none;
    background-color: $light-grey;
    border: 1px solid $border-grey;
    border-radius: 0;
    height: auto;
    margin: 3px 5px 3px 0;

    [dir="rtl"] & {
      float: right;
      margin: 3px 0px 3px 5px;
    }

    .remove-button {
      font: inherit;
      vertical-align: baseline;
    }
  }
}

.actions {
  margin: $bs3 0 0 0;
}

.error {
  display: block;
  color: $red;
  font-weight: 100;
  padding: $bs-3 0;
}