%basic-input {
  line-height: 2;
  padding: 0 $bs-3;
  width: 100%;
  border: 1px solid $border-grey;
  display: block;
  font-family: inherit;

  &:focus {
    outline: 0;
    border: 1px solid $blue-basic;
  }

  @media screen and (min-width: $tablet) {
    max-width: 2 * $bs9;
  }
}

form {
  padding: $bs2;
}

label {
  font-weight: 100;
  display: block;
  margin-bottom: $bs-5;
  width: 100%;

  @media screen and (min-width: $tablet) {
    max-width: 2 * $bs9;
  }
}

.field-comment {
  display: inline;
  color: $grey;
  font-weight: 100;
  font-size: $bs09;
}

input[type="text"], input[type="email"], input[type="password"] {
  @extend %basic-input;
}

.field {
  margin: 0 0 $bs2 0;
}

.field, .actions {
  @media screen and (min-width: $tablet) {
    max-width: 2 * $bs9 + 2 * $bs2;
  }
}

.actions {
  margin: $bs3 0 0 0;
}