%form-title {
  @extend %basic-title;
  color: $purple-basic;
}

%form-container {
  background-color: white;
  border-radius: $bs-3;
  border: 1px solid #ddd;
}

.log-in-wrapper {
  @extend %form-container;
  
  .title {
    @extend %form-title;
    padding: 0 $bs2;
  }
}

.sign-up-wrapper {
  @extend %clearfix;
  @extend %form-container;

  .form-wrapper {
    @extend %clearfix;
    
    @media screen and (min-width: $desktop) {
      float: left;

      [dir="rtl"] & {
        float: right;
      }
    }
  }

  .form-title {
    @extend %form-title;
    display: inline-block;
    margin: $bs2 0 $bs0 $bs2;

    [dir="rtl"] & {
      margin: $bs2 0 $bs0 $bs3;
    }
  }

  h3 {
    color: #777;
    font-weight: 100;
    font-size: $bs0;
    display: block;
    margin: $bs0 $bs3;

    @media screen and (min-width: 1100px) {
      display: inline-block;
    }
  }
}

.registration-benefits {
  background-color: $light-grey;
  width: 100%;
  border-radius: 0 $bs-3 $bs-3 0;
  padding: 0 $bs2 0 $bs3;
  font-weight: 100;

  @media screen and (min-width: $desktop) {
    max-width: 3 * $bs9;
    height: 32em;
    float: right;

    [dir="rtl"] & {
      float: left;
    }
  }

  .title {
    padding-top: $bs3;
  }

  .title, .subtitle {
    @extend %basic-title;

    span {
      font-weight: 400;
    }
  }

  .subtitle {
    margin: $bs5 0 $bs-1;
  }

   .description, .registration-benefit {
    line-height: 1.6;
    font-size: $bs09;
  }

  .registration-benefit {
    list-style: none;
  }
}