%form-title {
  @extend %basic-title;
  color: $purple-basic;
}

%form-container {
  @extend %four-sides-border;
  background-color: white;
  border-radius: $bs-3;
}

.form-container {
  @extend %form-container;
}

.form-header {
  @media screen and (min-width: 1100px) {
    min-width: 4.3 * $bs9;
  }

  h3 {
    color: #777;
    font-weight: 100;
    font-size: $bs0;
    display: block;
    margin: $bs0 $bs3;

    @media screen and (min-width: 1100px) {
      display: inline-block;
    }
  }
}

.form-title {
  @extend %form-title;
  display: inline-block;
  margin: $bs2 0 $bs0 $bs2;

  [dir="rtl"] & {
    margin: $bs2 $bs2 $bs0 0;
  }
}

.form-links {
  padding: $bs2;

  .text {
    font-weight: 100;
    display: inline-block;
  }
}

.form-link {
  font-weight: 100;
}

.log-in-wrapper {
  @extend %clearfix;
  @extend %form-container;
  position: relative;
  
  .form-wrapper {
    @extend %clearfix;
    
    @media screen and (min-width: 1150px) {
      float: left;

      [dir="rtl"] & {
        float: right;
      }
    }
  }  
}

.sign-up-wrapper {
  @extend %clearfix;
  @extend %form-container;
  position: relative;

  .form-wrapper {
    @extend %clearfix;
    
    @media screen and (min-width: 1150px) {
      float: left;

      [dir="rtl"] & {
        float: right;
      }
    }
  }
}

.form-additional-panel {
  background-color: $light-grey;
  width: 100%;
  border-radius: 0 0 $bs-3 $bs-3;
  padding: 0 $bs2 $bs3 $bs3;
  font-weight: 100;

  @media screen and (min-width: 1150px) {
    border-radius: 0 $bs-3 $bs-3 0;
    max-width: 3 * $bs9;
    position: absolute;
    height: 100%;
    right: 0;

    [dir="rtl"] & {
      border-radius: $bs-3 0 0 $bs-3;
      right: auto;
      left: 0;
    }
  }

  .title {
    padding-top: $bs3;

    &.centered {
      text-align: center;
    }
  }

  .title, .subtitle {
    @extend %basic-title;

    span {
      font-weight: 400;
    }
  }

  .subtitle {
    margin: $bs5 0 $bs-1;
  }

   .description, .registration-benefit {
    line-height: 1.6;
    font-size: $bs09;
  }

  .registration-benefit {
    list-style: none;
    position: relative;
    padding: 0 0 0 $bs2;
    margin: 0 0 $bs-3 0;

    [dir="rtl"] & {
      padding: 0 $bs2 0 0;
    }

    &:before {
      font-family: 'flatline';
      content: "\e652";
      position: absolute;
      left: 0;
      vertical-align: middle;

      [dir="rtl"] & {
        left: auto;
        right: 0;
      }
    }
  }
}

.greeting-image {
  position: relative;
  top: $bs2;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-image: image-url("icon-waving-hand.png");
  background-size: 100%;

  @media screen and (min-width: 1150px) {
    margin: 30% auto 0;
    top: 0;
  }
}

.company-info {
  max-height: 999px;
  opacity: 1;
}

.company-info.ng-hide-add.ng-hide-add-active,
.company-info.ng-hide-remove.ng-hide-remove-active {
  @include transition(all, .5s, ease-in-out);
}

.company-info.ng-hide {
  opacity: 0;
  max-height: 0;
}

.fb-notice {
  max-width: 4 * $bs9;
  margin: 0 0 $bs3;
  color: $blue-dark;
  padding: $bs1;
  border-radius: $bs-3;
  background-color: $blue-light;
  font-weight: 100;

  p {
    margin: 0;
  }

  .icon-login {
    display: block;
    float: left;
    margin: 0 $bs1 0 0;
    color: white;
    font-size: $bs5;
  }
}

.photos-preview {
  @extend %clearfix;
  list-style: none;

  li {
    @extend %clearfix;
    width: 46%;
    height: 15em;
    display: inline-block;
    float: left;
    margin: 0 2% $bs0 0;

    [dir="rtl"] & {
      float: right;
      margin: 0 0 $bs0 2%;
    }
    
    @media screen and (min-width: $tablet) {
      width: auto;
      max-width: 2 * $bs9;
      height: 2 * $bs9;
    }
  }

  .preview-image {
    @extend %four-sides-border;
    float: left;
    width: 100%;
    max-width: 2 * $bs8;
    max-height: 100%;

    [dir="rtl"] & {
      float: right;
    }
  }
}

.with-spinner {
  @extend %clearfix;

  input[type="submit"] {
    @media screen and (min-width: $tablet) {
      display: inline-block;
      float: left;

      [dir="rtl"] & {
        float: right;
      }
    }
  }
}

.spinner {
  @include animation(spinning, 1.5s, infinite, linear);
  width: $bs5;
  height: $bs5;
  background-image: image-url("spinner.png");
  background-size: 100%;
  margin: $bs0 auto;

  @media screen and (min-width: $tablet) {
    display: inline-block;
    margin: $bs-3 $bs0;
  }
}


@include keyframes(spinning) {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
