%basic-input {
  -webkit-appearance: none;
  line-height: 2;
  padding: 0 $bs-3;
  width: 100%;
  border: 1px solid $border-grey;
  display: block;
  font-family: inherit;
  border-radius: 0;

  .field-with-errors & {
    border-color: $red;
  }

  &:focus {
    outline: 0;
    border: 1px solid $blue-basic;
  }

  @media screen and (min-width: $tablet) {
    max-width: 4 * $bs9;
  }
}

%inline-input {
  @extend %basic-input;
  display: inline;
  margin: 0 $bs1 0 0;

  [dir="rtl"] & {
    margin: 0 0 0 $bs1;
  }

  @media screen and (min-width: $tablet) {
    max-width: 2 * $bs8;
  }
}

form {
  padding: $bs2;

  .line-behind {
    max-width: 5.3 * $bs9;
  }
}

label {
  font-weight: 100;
  display: block;
  margin-bottom: $bs-5;
  width: 100%;

  @media screen and (min-width: $tablet) {
    max-width: 2 * $bs8;
  }

  .checkbox & {
    display: inline;
  }
}

.inline-label {
  display: inline;
  padding: 0 $bs1 0 $bs-5;

  [dir="rtl"] & {
    padding: 0 $bs-5 0 $bs1;
  }
}

.field-comment {
  color: $grey;
  font-weight: 100;
  font-size: $bs09;
  margin: $bs-3 0;
}

.compound-field {
  @extend %clearfix;

  input[type="text"], input[type="email"], input[type="password"] {
    @extend %inline-input;

    &.with-remove-button {
      margin-right: 0;
    }
  }

  span {
    font-weight: 100;
    text-transform: uppercase;
    padding: 0 $bs-3 0 0;
  }
}

.field-item {
  list-style: none;
  margin: 0 0 $bs1 0;
}

input[type="text"], input[type="email"], input[type="password"] {
  @extend %basic-input;
}

textarea {
  @extend %basic-input;
  line-height: 1.4;
  height: $bs9;
  padding: $bs-3;
}

.field {
  margin: 0 0 $bs2 0;
  display: block;
}

.inline-field {
  @extend .field;
  display: inline-block;
  float: left;
  margin: 0 $bs1 0 0;

  @media screen and (min-width: $tablet) {
    width: 2 * $bs8;
  }

  [dir="rtl"] & {
    float: right;
    margin: 0 0 0 $bs1;
  }
}

.select-field {
  padding: 0;
  margin: 0;
  border: 1px solid $border-grey;
  width: 100%;
  overflow: hidden;
  background-color: white;
  position: relative;

  .field-with-errors & {
    border-color: $red;
  }

  @media screen and (min-width: $tablet) {
    max-width: 4 * $bs9;
  }

  &:after {
    font-family: "flatline";
    content: "\e6ab";
    position: absolute;
    right: $bs-3;
    top: $bs-2;
    color: $blue-basic;
    cursor: pointer;

    [dir="rtl"] & {
      right: auto;
      left: $bs-3;
    }
  }

  select {
    font-family: inherit;
    padding: 0 $bs-3;
    line-height: 2;
    height: 32px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      outline: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.compound-field {

  .select-field {
    max-width: 2 * $bs8;
    display: inline-block;
    vertical-align: middle;
    margin: 0 $bs1 0 0;

    [dir="rtl"] & {
      margin: 0 0 0 $bs1;
    }
  }
}

.checkbox-field {
  padding: $bs-3 0;

  @media screen and (min-width: $tablet) {
    display: inline-block;
  }
}

tags-input .tags {
  @extend %basic-input;
  box-shadow: none;

  &.focused {
    outline: 0;
    border: 1px solid $blue-basic;
    box-shadow: none;
  }

  .input {
    font: inherit;
    height: auto;
    line-height: 2.5;
    width: auto;
    border: none;
    padding: 0;
    margin: 0;

    [dir="rtl"] & {
      float: right;
    }
  }

  .tag-item {
    font: inherit;
    font-weight: 100;
    background: none;
    background-color: $light-grey;
    border: 1px solid $border-grey;
    border-radius: 0;
    height: auto;
    margin: 3px 5px 3px 0;
    max-width: 100%;
    word-wrap: break-word;

    [dir="rtl"] & {
      float: right;
      margin: 3px 0px 3px 5px;
    }

    .remove-button {
      font: inherit;
      vertical-align: baseline;
    }

    &.selected {
      background: none;
      background-color: $light-grey;;
      color: $red;

      .remove-button {
        color: $red;
      }
    }
  }
}

.actions {
  margin: $bs3 0 0 0;
}

.error {
  display: block;
  color: $red;
  font-weight: 100;
  padding: $bs-3 0;
}

.compound-field .error {
  display: block;
  margin: $bs-3 0;
  padding: inherit;
  text-transform: none;
}
