header {
  @extend %clearfix;
  background-color: white;
  margin: 0 0 $bs2 0;
}

.logo {
  float: left;
  padding: $bs1 0 $bs0;

  [dir="rtl"] & {
    float: right;
  }
}

nav {
  float: right;

  [dir="rtl"] & {
    float: left;
  }

  li {
    display: inline-block;
    float: left;
  }

  .nav-link {
    @include transition(all, .1s, ease-in);
    display: block;
    padding: $bs3 $bs1 $bs2;
    color: $nav-link;
    text-decoration: none;
    
    &:hover {
      background-color: $nav-link;
      color: white;
    }
  }
}

.language-selection {
  @extend %clearfix;
  padding: 0 $bs1;
  color: $grey;
  border-bottom: 1px solid $border-grey;
}

.language-choice {
  display: inline-block;
  font-size: $bs09;
  float: right;
  padding: $bs-3 0 0 $bs-3;

  [dir="rtl"] & {
    float: left;
    padding: $bs-3 $bs-3 0 0;
  }
}