header {
  @extend %clearfix;
  background-color: white;
  padding: 0 $bs2;
}

.gradient-decor {
  height: $bs2;
  background-color: #E8EBEF;
  background-image: -webkit-linear-gradient(-225deg, $purple-basic 0%, $blue-basic 100%);
  background-image: linear-gradient(-45deg, $purple-basic 0%, $blue-basic 100%);
}

.logo {
  float: left;
  padding: $bs1 0 $bs0;
  border-bottom: 0;

  [dir="rtl"] & {
    float: right;
  }
}

nav {
  float: right;

  [dir="rtl"] & {
    float: left;
  }

  li {
    display: inline-block;
    float: left;

    [dir="rtl"] & {
      float: right;
    }
  }

  .icon {
    font-size: $bs2;
    line-height: 1px;
    vertical-align: sub;
  }

  .nav-link {
    @include transition(all, .1s, ease-in);
    display: block;
    padding: $bs3 $bs1 $bs2;
    color: $nav-link;
    border-bottom: 0;
    text-decoration: none;
    text-transform: uppercase;
    
    &:hover, &:focus {
      background-color: $nav-link;
      color: white;
    }
  }

  .user-link {
    color: $purple-basic;

    &:hover, &:focus {
      background-color: $purple-basic;
      color: white;
    }
  }
}

.language-selection {
  @extend %clearfix;
  padding: 0 $bs1;
  border-bottom: 1px solid $border-grey;
}

.language-choice {
  display: inline-block;
  font-size: $bs09;
  float: right;
  color: $grey;
  padding: $bs-3 0 0 $bs-3;
  border-bottom: 0;

  [dir="rtl"] & {
    float: left;
    padding: $bs-3 $bs-3 0 0;
  }

  &:hover {
    color: $basic-font;
  }
}