header {
  @extend %clearfix;
  background-color: white;

  @media screen and (min-width: $tablet) {
    padding: 0 $bs2;
  }
}

.gradient-decor {
  height: $bs-1;
  background-color: #E8EBEF;
  background-image: -webkit-linear-gradient(-225deg, $purple-basic 0%, $blue-basic 100%);
  background-image: linear-gradient(-45deg, $purple-basic 0%, $blue-basic 100%);
}

.logo {
  @include float-direction;
  padding: $bs1 0 $bs-4 $bs2;
  border-bottom: 0;
  width: 60%;
  max-width: 240px;
  height: 60px;

  [dir="rtl"] & {
    padding: $bs1 $bs2 $bs-4 0;
  }

  @media screen and (min-width: $tablet) {
    padding: $bs1 0 $bs-4;
  }

  img {
    width: 100%;
  }
}

.mobile-menu-btn {
  border-left: $default-border;
  font-size: $bs5;
  padding: $bs-1 $bs0 0;
  float: right;
  color: $purple-basic;

  [dir=rtl] & {
    float: left;
    border-left: 0;
    border-right: $default-border;
    line-height: 1;
    overflow: hidden;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

nav {
  @include transition(all, .7s, linear);
  max-height: 0px;
  overflow: hidden;
  width: 100%;

  &.open {
    display: block;
    max-height: 999px;
  }

  li {
    display: block;
  }

  @media screen and (min-width: $tablet) {
    display: block;
    float: right;
    padding-top: 0;
    width: auto;
    overflow: auto;
    max-height: initial;
    
    [dir="rtl"] & {
      float: left;
    }

    li {
      @include float-direction;
      display: inline-block;
    }
  }
  
  .icon {
    font-size: $bs2;
    line-height: 1px;
    vertical-align: sub;
  }

  .nav-link {
    @include transition(all, .1s, ease-in);
    display: block;
    padding: $bs3 $bs1 $bs2;
    color: $nav-link;
    border-bottom: 0;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    
    &:hover, &:focus {
      background-color: $nav-link;
      color: white;
    }
  }

  .user-link {
    color: $purple-basic;

    &:hover, &:focus {
      background-color: $purple-basic;
      color: white;
    }
  }
}

.language-selection {
  @extend %clearfix;
  padding: 0 $bs1;
  border-bottom: $default-border;
}

.language-choice {
  display: inline-block;
  font-size: $bs09;
  float: right;
  color: $grey;
  padding: $bs-3 0 0 $bs-3;
  border-bottom: 0;

  [dir="rtl"] & {
    float: left;
    padding: $bs-3 $bs-3 0 0;
  }

  &:hover {
    color: $basic-font;
  }
}