.modal-dialog {
  z-index: 1001;

  .remove-button {
    float: right;
    margin: $bs0;
    padding: $bs-3;
    cursor: pointer;

    [dir="rtl"] &{
      float: left;
    }
  }
}

.modal-header {
  font-weight: 100;
  margin: 0;
  padding: $bs0;
  border-bottom: $default-border;

  .icon-chevron-right {
    vertical-align: middle;
    display: inline-block;

    [dir="rtl"] & {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  .icon-circle-arrow-left {
    vertical-align: middle;
    font-size: $bs4;
    color: $blue-basic;

    [dir="rtl"] & {
      display: inline-block;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .breadcrumbs-item {
    display: inline-block;
  }
}

.choose-category-list {
  list-style: none;
  padding: $bs0 $bs2;

  @media screen and (min-width: $big-phone) {
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }
  
  @media screen and (min-width: $tablet) {
    -moz-column-count: 3;
    -webkit-column-count: 3;
  }

  .category-name {
    color: $blue-basic;
    padding: $bs-3 0;
    border: none;
    display: inline-block;
    

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.modal-action {
  @extend %clearfix;
  padding: $bs0;
  border-top: $default-border;

  input {
    float: right;

    [dir="rtl"] & {
      float: left;
    }
  }

  .cancel {
    @include float-direction;
    @extend %secondary-button
  }

  .cancel, .ok {
    width: 48%;
  }

  .confirmation-modal & {
    border-top: 0;
  }
}

#category {
  margin: $bs0 0 0;
}

.lightbox-image-container {
  position: relative;

  .btn-nav-img {
    position: absolute;
    top: 50%;
    margin-top: -$bs5;
    border: 0;

    span {
      font-size: $bs4 ;
      padding: $bs-3;
      background-color: $white-ghost;

      @media screen and (min-width: $tablet) {
        font-size: $bs6;
        padding: $bs0;
      }
    }
  }

  .next-img {
    left: 0;
  }

  .prev-img {
    right: 0;
  }

  img {
    width: auto !important;
    height: auto !important;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}

.lightbox-nav {
  @extend %clearfix;
  margin: 0 0 $bs2;

  .remove-button {
    margin: 0;
    padding: $bs0;
  }

  a {
    padding: $bs0 0;
    display: inline-block;
    border: 0;
  }

  .btn-next {
    float: right;

    [dir="rtl"] & {
      float: left;
    }
  }
}