.search-form {
  background-color: $purple-dark;
  padding: $bs2;
  background-size: 100% 100%;
  background-repeat:  no-repeat;

  @media screen and (min-width: 940px) {
    padding: $bs4 $bs2 $bs6;
  }
  @media screen and (max-width: $desktop) {
    background-image: none !important;
  }

  .form-content-header {
    background: none repeat scroll 0 0 #343045;
    opacity: 0.6;
    max-width: 580px;
    margin: auto;
  }

  .form-content {
    background: none repeat scroll 0 0 #343045;
    margin: auto;
    max-width: 330px;
    opacity: 0.6;
  }

  .title {
    text-align: center;
    margin-bottom: $bs2;
    color: white;
  }

  input[type="text"], .select-field, input[type="submit"] {
    margin: 0 0 $bs2 0;
    max-width: none;
  }

  input[type="submit"] {
    height: 54px;
  }

  input[type="text"] {
    font-size: $bs1;
    height: 54px;

    &:focus {
      border-color: $green-darker;
    }
  }

  .select-field {

    &:after {
      top: $bs1;
    }

    select {
      height: 52px;
    }
  }

  //combined styles for inline field

  @media screen and (min-width: 940px) {

    input[type="text"], .select-field, input[type="submit"] {
      @include float-direction;
      display: inline-block;
      margin: 0;
    }

    input[type="text"] {
      max-width: 4 * $bs9;
    }

    .select-field {
      border-width: 1px 0 1px 1px;
      max-width: $bs9;

      [dir="rtl"] & {
        border-width: 1px 1px 1px 0;
      }

      select {
        background-color: $snow-white;
      }
    }

    input[type="submit"] {
      border-bottom: none;
      height: 54px;
      max-width: $bs9;
      border-radius: 0;
    }

    .search-field {
      max-width: 6 * $bs9 + $bs-4;
      margin: 0 auto;
      border: 3px solid $green-basic;
      border-radius: $bs-5;
      overflow: hidden;
    }
  }
}

.search-results-form {
  padding: $bs1 $bs2 0;

  input[type="submit"] {
    margin: $bs1 0 0;
  }

  input[type="text"] {
    font-size: $bs1;
    height: 56px;

    &:focus {
      border-color: $green-darker;
    }
  }

  @media screen and (min-width: $tablet) {
    padding: $bs2 $bs2 0;

    input[type="text"], input[type="submit"] {
      @include float-direction;
      display: inline-block;
      margin: 0;
    }

    input[type="submit"] {
      max-width: $bs9;
      border-radius: 0 $bs-5 $bs-5 0;
      margin: 0;

      [dir="rtl"] & {
        border-radius: $bs-5 0 0 $bs-5;
        line-height: 1.2;
      }
    }

    input[type="text"] {
      border-radius: $bs-5 0 0 $bs-5;
      max-width: 5 * $bs8;

      [dir="rtl"] & {
        border-radius: 0 $bs-5 $bs-5 0;
      }
    }
  }
}

.search-field {
  @extend %clearfix;
  margin: 0;
}
.select-field:after{
  color: #fff;
  content: "";
}
.select-field{
  background: #fff image-url("select-arrow.png") no-repeat scroll 90% 50%;
  overflow: hidden;
}
.search-form .search-field .select-field select{
  background: none;
}
