.business-tabs {
  @extend %clearfix;
  list-style: none;
  border-bottom: $default-border;
}

.tab {
  @include float-direction;
  display: inline-block;
  border-top: $bs-5 solid $blue-basic;
  border-right: $default-border;
  position: relative;
  width: 33.3%;
  text-align: center;
  font-size: $bs09;
  height: $bs7;

  [dir="rtl"] & {
    border-right: 0;
    border-left: $default-border;
  }

  &:nth-of-type(1) {
    border-color: $blue-basic;

    .tab-link {

      &:hover, &:focus {
        color: $blue-basic;
      }

      &.active {
        color: $blue-basic;
      }
    }
  }

  &:nth-of-type(2) {
    border-color: $purple-blue;

    .tab-link {

      &:hover, &:focus {
        color: $purple-blue;
      }

      &.active {
        color: $purple-blue;
      }
    }
  }

  &:nth-of-type(3) {
    border-color: $purple-basic;

    .tab-link {

      &:hover, &:focus {
        color: $purple-basic;
      }

      &.active {
        color: $purple-basic;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    width: auto;
    height: auto;
    text-align: initial;
    font-size: $bs0;
  }
}

.tab-link {
  @include transition(all, .25s, ease-in-out);
  color: $basic-font;
  font-weight: 100;
  display: block;
  padding: $bs2 $bs5;
  @extend %dashboard-content-padding;
  border: 0;

  .icon-chevron-down {
    position: absolute;
    font-size: $bs1;
    bottom: $bs-5;
    left: 50%;
    margin-left: -$bs-2;
    display: none;
  }

  &.active .icon-chevron-down {
    display: block;
  }

  &.active:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -1px;
    background-color: white;
  }
}
