%basic-button {
  @include transition(all, .25s, ease-in-out);
  display: block;
  width: 100%;
  text-align: center;
  padding: $bs1 $bs2 $bs0;
  border: none;
  border-radius: $bs-4;
  text-transform: uppercase;
  font-family: inherit;
  white-space: normal;

  @media screen and (min-width: $tablet) {
    max-width: 2 * $bs9;
  }
}

%primary-button {
  color: white;
  background-color: $primary-button-bg;
  border-bottom: $bs-5 solid $primary-button-border;
  font-weight: 100;

  &:hover, &:focus {
    outline: 0;
    background-color: $primary-button-border;
  }
}

input[type="submit"] {
  @extend %basic-button;
  @extend %primary-button;
}

.facebook-sign-up {
  @include transition(all, .25s, ease-in-out);
  display: inline-block;
  color: $facebook-blue;
  background-color: white;
  padding: $bs-2 $bs0 $bs-2 $bs-2;
  border: 2px solid $facebook-blue;
  border-radius: $bs-3;
  
  &:hover {
    color: $facebook-blue;
    background-color: white;
    background-color: $facebook-blue;
    color: white;
  }

  .icon-facebook {
    display: inline-block;
    font-size: $bs2;
    vertical-align: sub;
  }
}