%basic-button {
  @include transition(all, .25s, ease-in-out);
  display: block;
  width: 100%;
  text-align: center;
  background: none;
  padding: $bs1 $bs2 $bs0;
  border: none;
  border-radius: $bs-4;
  text-transform: uppercase;
  font-family: inherit;
  white-space: normal;

  @media screen and (min-width: $tablet) {
    max-width: 2 * $bs9;
  }
}

%primary-button {
  color: white;
  background-color: $primary-button-bg;
  border-bottom: $bs-5 solid $primary-button-border;
  font-weight: 100;

  &:hover, &:focus {
    outline: 0;
    background-color: $primary-button-border;
  }
}

%secondary-button {
  @extend %basic-button;
  color: $blue-basic;
  border: 2px solid $blue-basic;

  &:hover, &:focus {
    outline: 0;
    background-color: $blue-basic;
    color: white;
  }
}

%tiny-button {
  @include transition(all, .25s, ease-in-out);
  font-size: $bs09;
  display: block;
  text-align: center;
  background: none;
  padding: $bs-3 $bs0;
  border: 1px solid $blue-basic;
  border-radius: $bs-4;
  font-family: inherit;
  white-space: normal;
  color: $blue-basic;

  &:hover, &:focus {
    outline: 0;
    background-color: $blue-basic;
    color: white;
  }
}

%purple-button {
  color: white;
  background-color: $purple-basic;
  border-bottom: $bs-5 solid $purple-dark;
  font-weight: 100;

  &:hover, &:focus {
    outline: 0;
    background-color: $purple-dark;
  }
}

%blue-button {
  border-color: $blue-basic;
  background-color: $blue-basic;
  color: white;
  border-bottom: $bs-5 solid $blue-dark;

  &:hover, &:focus {
    background-color: $blue-dark;
  }
}

%ghost-button {
  color: white;
  border: 2px solid white;

  &:hover, &:focus {
    outline: 0;
    background-color: $white-opaque;
  }
}

input[type="submit"] {
  @extend %basic-button;
  @extend %primary-button;

  &:disabled {
    color: $grey;
    border-color: $grey;
    background-color: $border-grey;
  }
}

.small-button {
  @extend %secondary-button;
  padding: $bs-1;
  margin: $bs-1 0;

  @media screen and (min-width: $tablet) {
    max-width: 2 * $bs8;
  }
}

.remove-button {
  background: none;
  border: 0;

  &:hover, &:focus {
    color: $red;
    outline: 0;
  }
}

.plus-button {
  @extend %tiny-button;
  margin: $bs-1 0;

  .compound-field & {
    margin: 0;
  }
  .icon-plus {
    padding: 0;
  }
}

.facebook-sign-up {
  @include transition(all, .25s, ease-in-out);
  display: inline-block;
  color: $facebook-blue;
  background-color: white;
  padding: $bs-2 $bs0 $bs-2 $bs-2;
  border: 2px solid $facebook-blue;
  border-radius: $bs-4;
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: auto;
  }

  &:hover {
    color: $facebook-blue;
    background-color: white;
    background-color: $facebook-blue;
    color: white;
  }

  .icon-facebook {
    display: inline-block;
    font-size: $bs2;
    vertical-align: sub;
  }
}

.contact-supplier {
  @extend %basic-button;
  @extend %blue-button;

  .icon {
    vertical-align: sub;
    font-size: $bs2;
  }

  @media screen and (min-width: $tablet) {
    width: 100%;
    max-width: 2 * $bs8;
  }
}
