%section.item-gallery
  %img{ "ng-src": "{{ businessItem.firstPhoto() }}", class: "product-main-image" }

  %ul.gallery-thumbs
    %li.item-img-holder{ "ng-repeat": "photo in businessItem.get('photos')" }
      %img.item-img{ "ng-src": "{{ photo['thumb'] }}" }

.item-header
  %h1.item-title {{ businessItem.get('name') }}
  .breadcrumbs{ "ng-include": "'_breadcrumbs.html'" }

  .seller
    Seller:
    %a{href: "#"} Great Company
