%label.required
  {{ "category.title" | translate }}
%button.small-button#choose-category{ type: "button", "ng-click": "showCategories()" } {{ "category.button" | translate }}

%error-message-for{ "error": "errors.business_item.category_id" }
#category
  %span.breadcrumbs-item{ "ng-repeat": "item in breadcrumbs.withoutLast()" }
    {{item.name}}
    %span.icon-chevron-right
  %span.breadcrumbs-item
    {{breadcrumbs.current().name}}

