%label {{ "photos.title" | translate }}
%button.small-button{ type: "button", "ngf-select": "true", "ng-model": "photos",
  "ngf-keep": "true", multiple: "true", id: "add-photo" } {{ "photos.button" | translate }}
%p.field-comment {{ "photos.comment" | translate }}
%p.field-comment {{ "photos.comment_thumbnail" | translate }}
%ul.photos-preview
  %li{ "ng-repeat": "photo in photos" }
    %img.preview-image{ "ngf-src": "photo",
    "ngf-default-src": "#{asset_path('default-image.png')}", "ngf-accept": "'image/*'" }
    %button.remove-button.remove-photo{ type: "button", "ng-click": "removePhoto(photo)" }
      %span.icon-remove


%error-message-for{ "error": "errors.photos_general" }
.error{ "ng-repeat": "(fileName, errors) in errors.photos" }
  {{fileName}}:
  %div{ "ng-repeat": "error in errors.photo" }
    {{error}}
