%form.search-form
  %h2.title Search for product, service or company
  .field.search-field
    .select-field
      %select
        %option all
        %option product
        %option service
        %option company
    %input{ type: "text", placeholder: "I'm looking for.." }
    %input{ type: "submit", value: "Search" }

.container.category-selection-wrapper
  %h1.title Browse Categories
  %h3.line-behind
    %span Products
  %ul.category-list
    %li.category-name
      %a{ "ui-sref": "results" } Agriculture
    %li.category-name
      %a{ "ui-sref": "results" } Apparel
    %li.category-name
      %a{ "ui-sref": "results" } Automobiles & Motorcycles
    %li.category-name
      %a{ "ui-sref": "results" } Beauty & Personal Care
    %li.category-name
      %a{ "ui-sref": "results" } Business Services
    %li.category-name
      %a{ "ui-sref": "results" } Chemicals
    %li.category-name
      %a{ "ui-sref": "results" } Construction & Real Estate
    %li.category-name
      %a{ "ui-sref": "results" } Consumer Electronics
    %li.category-name
      %a{ "ui-sref": "results" } Electrical Equipment & Supplies
    %li.category-name
      %a{ "ui-sref": "results" } Electronic Components & Supplies
    %li.category-name
      %a{ "ui-sref": "results" } Energy
    %li.category-name
      %a{ "ui-sref": "results" } Fashion Accessories
    %li.category-name
      %a{ "ui-sref": "results" } Food & Beverage
    %li.category-name
      %a{ "ui-sref": "results" } Furniture
    %li.category-name
      %a{ "ui-sref": "results" } Gifts & Crafts
    %li.category-name
      %a{ "ui-sref": "results" } Hardware
    %li.category-name
      %a{ "ui-sref": "results" } Health & Medical
    %li.category-name
      %a{ "ui-sref": "results" } Home & Garden
    %li.category-name
      %a{ "ui-sref": "results" } Home Appliances
    %li.category-name
      %a{ "ui-sref": "results" } Lights & Lighting
    %li.category-name
      %a{ "ui-sref": "results" } Luggage, Bags & Cases
    %li.category-name
      %a{ "ui-sref": "results" } Machinery
    %li.category-name
      %a{ "ui-sref": "results" } Measurement & Analysis Instrument
    %li.category-name
      %a{ "ui-sref": "results" } Mechanical Parts & Fabrication Services
    %li.category-name
      %a{ "ui-sref": "results" } Minerals & Metallurgy
    %li.category-name
      %a{ "ui-sref": "results" } Office & School Supplies
    %li.category-name
      %a{ "ui-sref": "results" } Packaging & Printing
    %li.category-name
      %a{ "ui-sref": "results" } Rubber & Plastics
    %li.category-name
      %a{ "ui-sref": "results" } Security Protection
    %li.category-name
      %a{ "ui-sref": "results" } Service Equipment
    %li.category-name
      %a{ "ui-sref": "results" } Shoes & Accessories
    %li.category-name
      %a{ "ui-sref": "results" } Sports & Entertainment
    %li.category-name
      %a{ "ui-sref": "results" } Textile & Leather Products
  %h3.line-behind
    %span Services
  %ul.category-list
    %li.category-name
      %a{ "ui-sref": "results" } Advertising
    %li.category-name
      %a{ "ui-sref": "results" } Agency Services
    %li.category-name
      %a{ "ui-sref": "results" } Assurance Services
    %li.category-name
      %a{ "ui-sref": "results" } Auction
    %li.category-name
      %a{ "ui-sref": "results" } Business Travel Services
    %li.category-name
      %a{ "ui-sref": "results" } Certification,Inspection & Credit Management
    %li.category-name
      %a{ "ui-sref": "results" } Computer & Information Technology Service
    %li.category-name
      %a{ "ui-sref": "results" } Consulting
    %li.category-name
      %a{ "ui-sref": "results" } Design Services
    %li.category-name
      %a{ "ui-sref": "results" } Processing Services
    %li.category-name
      %a{ "ui-sref": "results" } Royalties & License Services
    %li.category-name
      %a{ "ui-sref": "results" } Trade Show Services
    %li.category-name
      %a{ "ui-sref": "results" } Law Services
    %li.category-name
      %a{ "ui-sref": "results" } Project Cooperation
  %h3.line-behind
    %span Companies
  %ul.category-list
    %li.category-name
      %a{ "ui-sref": "results" } Manufacturer
    %li.category-name
      %a{ "ui-sref": "results" } Trading Company
    %li.category-name
      %a{ "ui-sref": "results" } Buying Office
    %li.category-name
      %a{ "ui-sref": "results" } Agent
    %li.category-name
      %a{ "ui-sref": "results" } Ditributer/Wholesalers
    %li.category-name
      %a{ "ui-sref": "results" } Government Entity
    %li.category-name
      %a{ "ui-sref": "results" } Association
    %li.category-name
      %a{ "ui-sref": "results" } Business Services
    %li.category-name
      %a{ "ui-sref": "results" } Other
