.categories-modal
  .remove-button{ "ng-click": "cancel()" }
    %span.icon-remove
  %h2.modal-header
    %span.icon-circle-arrow-left#previous-category{ "ng-click": "previous()" }
    %span.breadcrumbs-title{ "ng-show": "breadcrumbs.title" }
      {{breadcrumbs.title}}
      %span.icon-chevron-right
    %span.breadcrumbs-item{ "ng-repeat": "item in breadcrumbs.items" }
      {{item.name}}
      %span.icon-chevron-right
  .categories-container
    %ul.choose-category-list
      %li{ "ng-repeat": "category in categories",
        "ng-class": "{selected: category.selected}" }
        %a.category-name{ "ng-click": "next(category)" }
          {{category.name}}

  .modal-action
    %input{ type: "submit", value: "OK", "ng-click": "ok()",
    "ng-disabled": "!selectedCategory" }
