.categories-modal
  .remove-button
    %span.icon-remove{ "ng-click": "cancel()" }
  %h2.modal-header
    %span.icon-circle-arrow-left#previous-category{ "ng-click": "previous()" }
    %span.breadcrumbs-title{ "ng-show": "breadcrumbs.title" }
      {{breadcrumbs.title}}
      %span.icon-chevron-right
    %span.breadcrumbs-item{ "ng-repeat": "item in breadcrumbs.items" }
      {{item.name}}
      %span.icon-chevron-right
  .categories-container
    // if you choose category, subcategories should appear. It can be done with display none/block. in perfect world I would add some classes to those lists and position them left: -840px / left: 0 etc, then i can animate it like it's sliding
    %ul.choose-category-list
      %li.category-name{ "ng-repeat": "category in categories",
        "ng-class": "{selected: category.selected}" }
        %a{ "ng-click": "next(category)" }
          {{category.name}}

  .modal-action
    %input{ type: "submit", value: "OK", "ng-click": "ok()",
    "ng-disabled": "!selectedCategory" }
