.mist
.btf-modal.demo-modal
  .remove-button
    %span.icon-remove
  %h2.modal-header
    %span.icon-circle-arrow-left
    Home & Garden
    %span.icon-chevron-right
  .categories-container
    %ul.choose-category-list
      %li.category-name
        Agriculture
      %li.category-name
        Apparel
      %li.category-name
        Automobiles & Motorcycles
      %li.category-name
        Beauty & Personal Care
      %li.category-name
        Business Services
      %li.category-name
        Chemicals
      %li.category-name
        Construction & Real Estate
      %li.category-name
        Consumer Electronics
      %li.category-name
        Electrical Equipment & Supplies
      %li.category-name
        Electronic Components & Supplies
      %li.category-name
        Energy
      %li.category-name
        Fashion Accessories
      %li.category-name
        Food & Beverage
      %li.category-name
        Furniture
      %li.category-name
        Gifts & Crafts
      %li.category-name
        Hardware
      %li.category-name
        Health & Medical
      %li.category-name
        Home & Garden
      %li.category-name
        Home Appliances
      %li.category-name
        Lights & Lighting
      %li.category-name
        Luggage, Bags & Cases
      %li.category-name
        Machinery
      %li.category-name
        Measurement & Analysis Instrument
      %li.category-name
        Mechanical Parts & Fabrication Services
      %li.category-name
        Minerals & Metallurgy
      %li.category-name
        Office & School Supplies
      %li.category-name
        Packaging & Printing
      %li.category-name
        Rubber & Plastics
      %li.category-name
        Security Protection
      %li.category-name
        Service Equipment
      %li.category-name
        Shoes & Accessories
      %li.category-name
        Sports & Entertainment
      %li.category-name
        Textile & Leather Products
  .modal-action
    %input{ type: "submit", value: "OK" }
