%form.search-form{ "ng-submit": "submit($event)" }
  %h2.title {{ "home.search_header" | translate }}
  .field.search-field
    .select-field
      %select{ "ng-model": "search.type" }
        %option all
        %option product
        %option service
        %option company
    %input{ type: "text", placeholder: "{{ 'home.search_placeholder' | translate }}",
      "ng-model": "search.query" }
    %input{ type: "submit", value: "{{ 'search_submit' | translate }}" }
  .browse-buttons
    %h2.title {{ "home.browse_header" | translate }}
    %a.category-btn
      %span.icon-shopping-cart
      {{ "home.products" | translate }}
    %a.category-btn
      %span.icon-user
      {{ "home.services" | translate }}
    %a.category-btn
      %span.icon-briefcase
      {{ "home.businesses" | translate }}
%section.landing-header
  .landing-header-info
    %h1
      {{ "home.header_line_1" | translate }}
      %br
      {{ "home.header_line_2" | translate }}

    .landing-header-sub-info
      %h2
        {{ "home.sub_header" | translate }}
      %a{ href: "https://goo.gl/VJhhcl",
        target: "_blank", class: "video-link" }
        %span.icon-play-circle
        {{ "home.watch_video" | translate }}
      %div{ "ng-show": "currentUser.isPresent()" }
        %a.dashboard-btn{ href: Sim::Routes.dashboard_path }
          {{ "home.see_dashboard" | translate }}
      %div{ "ng-hide": "currentUser.isPresent()" }
        %a.sign-up-btn{ href: Sim::Routes.new_user_registration_path }
          {{ "home.join_now" | translate }}
