.search-results-content
  %form.search-results-form{ 'ng-submit': 'submit($event)' }
    .field.search-field
      %input{ type: 'text', value: '{{ search.query }}', 'ng-model': 'search.query' }
      %input{ type: 'submit', value: '{{ "search_submit" | translate }}' }

  .search-filters
    .browse-options
      %browse-filter{ type: 'all', search: 'search' }
        {{ 'home.all' | translate }}
      %browse-filter{ type: 'product', search: 'search' }
        %span.icon-shopping-cart
        {{ 'home.products' | translate }}
      %browse-filter{ type: 'service', search: 'search' }
        %span.icon-user
        {{ 'home.services' | translate }}
      %browse-filter{ type: 'business', search: 'search' }
        %span.icon-briefcase
        {{ 'home.businesses' | translate }}
    / .sorting
    /   %span.filter-label Sort by:
    /   %a.active{ href: '#' } Best matching
    /   %a{ href: '#' }
    /     Most popular

    .view-options
      %span.filter-label {{ "results.view_options" | translate }}
      %view-option.icon-th-list{ type: 'list-view', selected: 'viewOptionSelected' }
      %view-option.icon-th{ type: 'net-view', selected: 'viewOptionSelected' }

  %h3.title {{ resultsCount }} {{ "results.title" | translate }}

  %ul.search-results{ 'ng-class': '{ "net-view": isNetViewSelected() }' }
    %li.result-item{ 'ng-repeat': 'result in results' }
      %a.item-img-link{ 'ui-sref': 'result.showPath()' }
        %img{ src: 'result.coverPhoto()' }
      .result-header-info
        %a.result-item-title{ 'ui-sref': 'result.showPath()' }
          {{ result.name }}
        .from
          %span {{ "results.from" | translate }}:
          %a{ 'ui-sref': 'result.companyPath()' } {{ result.companyName() }}
      .result-item-description
        %table.item-details
          %tr{ 'ng-repeat': 'attribute in result.attributes()' }
            %td.attribute {{ attribute.name }}
            %td {{ attribute.value }}
      .business-summary
        .business-name
          {{ result.companyName() }}
        .business-location
          %span location:
          {{ result.companyLocation() }}
        %a.plain-link{ 'ui-sref': 'dashboard.business' }
          {{ "results.see_company_profile" | translate }}
        %button.contact-supplier
          %span.icon.icon-envelope
          %span.value {{ "contact_seller" | translate }}

