.search-results-content
  %form.search-results-form{ 'ng-submit': 'submit($event)' }
    .field.search-field
      %input{ type: 'text', value: '{{ search.query }}', 'ng-model': 'search.query' }
      %input{ type: 'submit', value: '{{ "search_submit" | translate }}' }

  .search-filters
    .browse-options
      %browse-filter{ type: 'all', search: 'search' }
        {{ 'home.all' | translate }}
      %browse-filter{ type: 'product', search: 'search' }
        %span.icon-shopping-cart
        {{ 'home.products' | translate }}
      %browse-filter{ type: 'service', search: 'search' }
        %span.icon-user
        {{ 'home.services' | translate }}
      %browse-filter{ type: 'business', search: 'search' }
        %span.icon-briefcase
        {{ 'home.businesses' | translate }}
    / .sorting
    /   %span.filter-label Sort by:
    /   %a.active{ href: '#' } Best matching
    /   %a{ href: '#' }
    /     Most popular

    .view-options
      %span.filter-label {{ "results.view_options" | translate }}
      %view-option.icon-th-list{ type: 'list-view', selected: 'viewOptionSelected' }
      %view-option.icon-th{ type: 'net-view', selected: 'viewOptionSelected' }

  %h3.title {{ resultsCount }} {{ "results.title" | translate }}

  %p{ 'ng-hide': 'results.length > 0' }
    {{ "results.no_results" | translate }}

  %ul.search-results{ 'ng-class': '{ "net-view": isNetViewSelected() }',
    'ng-show': 'results.length > 0' }
    %li.result-item{ 'ng-repeat': 'result in results' }
      %a.item-img-link{ 'ui-sref': '{{ result.showPath() }}' }
        %img{ "ng-src": "{{ result.coverPhotoUrl('thumb') }}" }
      .result-header-info
        %a.result-item-title{ 'ui-sref': '{{ result.showPath() }}' }
          {{ result.get('name') }}
        .from
          %span {{ "results.from" | translate }}:
          %a{ 'ui-sref': '{{ result.businessPath() }}' } {{ result.businessName() }}
      .result-item-description
        %breadcrumbs{ 'business-item': 'result' }

        %table.item-details
          %tr{ 'ng-repeat': 'property in result.basicInfoSnapshot()' }
            %td.attribute
              {{ result.translationKeyFor(property) | translate }}:
            %td
              {{ result.displayProperty(property) }}

          %tr{ 'ng-repeat': 'attribute in result.get("attributes")',
          'ng-show': 'result.hasAttributes()' }
            %td.attribute {{ attribute.name }}
            %td {{ attribute.value }}
      .business-summary
        .business-name
          {{ result.businessName() }}
        .business-location
          %span {{ "results.location" | translate }}:
          {{ result.businessLocation() }}
        %a.plain-link{ 'ui-sref': '{{ result.businessPath() }}' }
          {{ "results.see_company_profile" | translate }}
        %button.contact-supplier.contact-supplier{ "ng-click": "MessageModal.new(result.businessId())" }
          %span.icon.icon-envelope
          %span.value {{ "contact_seller" | translate }}

