@import "config/variables";
@import "config/colors";
@import "config/fonts";
@import "config/config";
@import "config/mixins";

@import "global/typography";
@import "global/grid";

@import "components/header";
@import "components/form-components";
@import "components/form-layout";
@import "components/buttons";
@import "components/footer";
@import "components/dashboard_nav";

@import "pages/home";
@import "pages/dashboard";