@import "config/variables";
@import "config/colors";
@import "config/fonts";
@import "config/config";
@import "config/mixins";

@import "global/typography";
@import "global/grid";

@import "components/header";
@import "components/footer";