%a.item-img-link{ 'ui-sref': '{{ result.showPath() }}' }
  %img{ "ng-src": "{{ result.logo() || result.default_logo() }}" }
.result-header-info
  %a.result-item-title{ 'ui-sref': '{{ result.showPath() }}' }
    {{ result.name() }}
  %a.result-item-title-strict{ 'ui-sref': '{{ result.showPath() }}' }
    {{ result.name() | characters: 48 }}
.result-item-description
  .clearfix
    .contact-item
      %span.icon.icon-phone-alt
      {{ result.phone() }}
    .contact-item
      %span.icon.icon-pushpin{ 'ng-show': 'result.location()' }
      {{ result.location() }}
      %span.address-line
        {{ result.addressLine1() }}
      %span.address-line
        {{ result.addressLine2() }}

  %table.item-details
    %tr{ 'ng-show': 'result.businessTypes()' }
      %td.attribute {{ "business.show.business_types" | translate }}:
      %td {{ result.businessTypes() }}
    %tr{ 'ng-show': 'result.mainProducts()' }
      %td.attribute {{ "business.show.main_products" | translate }}:
      %td {{ result.mainProducts() }}
    %tr{ 'ng-show': 'result.yearRegistered()' }
      %td.attribute {{ "business.show.year_registered" | translate }}:
      %td {{ result.yearRegistered() }}
    %tr{ 'ng-show': 'result.noOfEmployees()' }
      %td.attribute {{ "business.show.no_of_employees" | translate }}:
      %td {{ result.noOfEmployees() }}
%span{'class': 'feature-{{result.business.feature}}'}
.business-summary
  %a.plain-link{ 'ui-sref': '{{ result.showPath() }}' }
    {{ "results.see_company_profile" | translate }}
  %button.contact-supplier.business-contact{ "ng-click": "MessageModal.new(result.id())" }
    %span.icon.icon-envelope
    %span.value {{ "contact_seller" | translate }}
