.search-results-content
  %form.search-results-form{ 'ng-submit': 'submit($event)' }
    .field.search-field
      %input{ type: 'text', value: '{{ search.query }}', 'ng-model': 'search.query' }
      %input{ type: 'submit', value: '{{ "search_submit" | translate }}' }
    .select-field
      %select{ 'ng-show': 'showBusinessFilter', "ng-options": "business_type.label for business_type in business_types track by business_type.id", "ng-model": "search._business_type", "ng-init": "search._business_type ={id: search.business_type}", "ng-change": "search.business_type = search._business_type.id" }
        %option{ value: "" } -- {{ "business.basic_info.select_business_types" | translate }} --
    .select-field
      %select{ 'ng-show': 'showBusinessFilter', "ng-options": "country.label for country in countries track by country.id", "ng-model": "search._country", "ng-init": "search._country ={id: search.country}", "ng-change": "search.country = search._country.id" }
        %option{ value: "" } -- {{ "business.basic_info.select_country" | translate }} --
    .field{ "ng-show": "showProServFilter", "ng-include": "'business_items/_category.html'" }
    .field.search-field
      %input{ type: 'text', value: '',  "ng-model": "search.category", "ng-init": "search.category = ''", "ng-hide": "true" }
  .search-filters
    .browse-options
      %browse-filter{ type: 'all', search: 'search' }
        {{ 'home.all' | translate }}
      %browse-filter{ type: 'product', search: 'search' }
        %span.icon.icon-shopping-cart
        {{ 'home.products' | translate }}
      %browse-filter{ type: 'service', search: 'search' }
        %span.icon.icon-user
        {{ 'home.services' | translate }}
      %browse-filter{ type: 'business', search: 'search' }
        %span.icon.icon-briefcase
        {{ 'home.businesses' | translate }}
    .view-options
      %span.filter-label {{ "results.view_options" | translate }}
      %view-option.icon-th-list{ type: 'list-view', selected: 'search.viewOption' }
      %view-option.icon-th{ type: 'net-view', selected: 'search.viewOption' }

  %h3.title {{ resultsCount }} {{ "results.title" | translate }}

  %p.empty-results{ 'ng-show': 'results.length < 1' }
    {{ "results.no_results" | translate }}

  %ul.search-results{ 'ng-class': '{ "net-view": isNetViewSelected() }',
    'ng-show': 'results.length > 0' }
    %li.result-item{ 'dir-paginate': 'result in results | itemsPerPage: perPage',
      'total-items': 'total', 'current-page': 'pagination.current' }
      %ng-include{ 'src': 'result.templatePath()' }

    .pagination-container
      %dir-pagination-controls{ "on-page-change": "pageChanged(newPageNumber)" }
