.get-more-buyers-markup.section-container
  .get-more-buyers-text
    .section-title
      Few Easy Steps To Get More Buyers
    %p.explanation
      Today,yers surf the Internet looking for sellers to source products and services from them.
      Searchinmena.com generates quality inquiries for sellers in just a few steps.
  .boxes
    .box.box-one
      %h4
        Create Your Company
      %hr
      %p
        Sign up and add your company using the registration form. Your company profile basically explains your
        whole business so make sure to add your logo and all of your company’s information.
    .box.box-two
      %h4
        Add Your Products
      %hr
      %p
        Buyers search for products, not companies. Make sure to add all your products and exemplify them with details and images.
    .box.box-three
      %h4
        Receive Inquiries
      %hr
      %p
        Once your profile is completed, buyers will reach you by phone or through email, so stay up to date with your profile and respond to your emails and inquiries.