.icons-list-markup.section-container
  .section-title
    .section-title
      We help
  .icons-list
    .home-icons
      .home-icons-img
        %img{:src=>"/marking/images/icons/manufacture-2.png"}
      %h4
        Manufacturers
    .home-icons
      .home-icons-img
        %img{:src=>"/marking/images/icons/trading-2.png"}
      %h4
        Trading Companies
    .home-icons
      .home-icons-img
        %img{:src=>"/marking/images/icons/agents-2.png"}
      %h4
        Agents
    .home-icons
      .home-icons-img
        %img{:src=>"/marking/images/icons/buying-offices-2.png"}
      %h4
        Buying Offices
    .home-icons
      .home-icons-img
        %img{:src=>"/marking/images/icons/wholesaler-2.png"}
      %h4
        Wholesalers
    .home-icons
      .home-icons-img
        %img{:src=>"/marking/images/icons/service-providers-2.png"}
      %h4
        Service Providers
    .home-icons
      .home-icons-img
      %h4
        Others