%section.dashboard-content
  %h1.title.greeting
    {{ "dashboard.greeting" | translate }}
    {{ user.fullName() }}

%section.buyer-dashboard-content{ "ng-hide": "user.canSeeBusinessItems()" }
  %p {{ "dashboard.browse_message" | translate }}
  %button.small-button{ "ui-sref": "browse" }
    {{ "home.browse" | translate }}

  %p {{ "dashboard.create_company_message" | translate }}
  %button.small-button{ "ui-sref": "dashboard.company.basic_info" }
    {{ "dashboard.create_company_button" | translate }}

%section.dashboard-content{ "ng-show": "user.canSeeBusinessItems()" }
  %h2.header-title {{ "company.profile_summary" | translate }}
  .company-short-info.company-profile-summary
    %h2.company-name {{ business.name }}
    .clearfix
      .contact-item
        %span.icon.icon-phone-alt
        %span {{ business.phone }}
      .contact-item
        %span.icon.icon-pushpin
        %span{ "ng-show": "business.city" } {{ business.city }},
        %span {{ business.country }}

    %button.small-button{ "ui-sref": "dashboard.company.basic_info" }
      %span.icon-pencil
      {{ "company.edit_info" | translate }}

%section.dashboard-content{ "ng-show": "user.canSeeBusinessItems()", "ng-controller": "ProductsIndexCtrl" }
  %h2.header-title
    {{ "products.your_products" | translate }}
    %a.header-link{ "ui-sref": "dashboard.products" }
      %span.icon.icon-eye-open
      {{ "dashboard.see_all" | translate }}

  .index-options
    %button.small-button{ "ui-sref": "dashboard.new_product" }
      %span.icon-plus
      {{ "products.add_new_product" | translate }}

  %h3.empty-index{ "ng-hide": "businessItems.length" }
    {{ "products.empty_list" | translate }}

  %div{ "ng-show": "businessItems.length", "ng-include": "'business_items/_summary.html'" }

%section.dashboard-content{ "ng-show": "user.canSeeBusinessItems()", "ng-controller": "ServicesIndexCtrl" }
  %h2.header-title
    {{ "services.your_services" | translate }}
    %a.header-link{ "ui-sref": "dashboard.services" }
      %span.icon.icon-eye-open
      {{ "dashboard.see_all" | translate }}

  .index-options
    %button.small-button{ "ui-sref": "dashboard.new_service" }
      %span.icon-plus
      {{ "services.add_new_service" | translate }}

  %h3.empty-index{ "ng-hide": "businessItems.length" }
    {{ "services.empty_list" | translate }}

  %div{ "ng-show": "businessItems.length", "ng-include": "'business_items/_summary.html'" }
