%section.dashboard-content
  %h1.title.greeting
    {{ "dashboard.greeting" | translate }}
    {{ currentUser.fullName() }}

%section.buyer-dashboard-content.dashboard-content{ "ng-hide": "currentUser.canSeeBusinessItems()" }
  %p {{ "dashboard.create_business_message" | translate }}
  %button.small-button{ "ui-sref": "dashboard.business.basic_info" }
    {{ "dashboard.create_business_button" | translate }}

%section.dashboard-content.promotion{ "ng-show": "currentUser.canSeeBusinessItems()" }
  .free-courses
    %h2.header-title {{ "promotion.free_courses" | translate }}
    %a{ href: 'https://www.courses.potential.com/c/search-mena-courses/?couponcode=SearchinMENA2016', target: "_blank" }
      %img.promotion-image{ src: '/promotion/free_courses/potential-content.png' }