.container
  .sign-up-wrapper
    = render "users/registrations/form"

    .registration-benefits
      %h1.title What you get
      %p.description
        By creating an account you’re gaining full access
        to best offers on the market.
        You will be able to find exactly these offers
        that match your expectations.

      %h2.subtitle
        As a
        %span seller
      %ul
        %li.registration-benefit you can create public profile of your company
        %li.registration-benefit show products and services that you offer
        %li.registration-benefit reach your potential client.

      %h2.subtitle
        As a
        %span buyer
      %ul
        %li.registration-benefit you can create a buying request
        %li.registration-benefit find best offer
        %li.registration-benefit make contact with sellers.
        %li.registration-benefit make contact with sellers.
